flows_Server-WineBox.json
[{"id":"8d049f17.01cbb8","type":"tab","label":"Welcome sensor","disabled":false,"info":""},{"id":"ecd12ea2.51375","type":"tab","label":"Hue sensor","disabled":false,"info":""},{"id":"338e20df.fd4e9","type":"tab","label":"Dark Sky sensor","disabled":false,"info":""},{"id":"2c160870.687d68","type":"tab","label":"Home UI","disabled":false,"info":""},{"id":"4b944d48.38615c","type":"tab","label":"Weather UI","disabled":false,"info":""},{"id":"5e854383.546e74","type":"tab","label":"Server UI","disabled":false,"info":""},{"id":"35f2ed46.dc3b2a","type":"tab","label":"Stairs","disabled":false,"info":""},{"id":"be8ae70b.25fb8","type":"tab","label":"Ground floor","disabled":false,"info":""},{"id":"640fc94c.c7b598","type":"tab","label":"Frédéric","disabled":false,"info":""},{"id":"5da715ec.7bb304","type":"tab","label":"Mei Lin","disabled":false,"info":""},{"id":"9ffd4a9e.5f5358","type":"tab","label":"Transcoding","disabled":true,"info":""},{"id":"825a485e.cb472","type":"subflow","name":"Report","info":"","category":"","in":[{"x":100,"y":140,"wires":[{"id":"9f8a10ab.a5182"}]}],"out":[],"env":[{"name":"topic","type":"str","value":"[Welcome] report","ui":{"type":"input","opts":{"types":["str"]},"label":{}}}],"color":"#E9967A","icon":"node-red/envelope.svg"},{"id":"5f51c879.2fa3c8","type":"subflow","name":"OAuth2","info":"","category":"","in":[{"x":100,"y":140,"wires":[{"id":"33f807eb.88c708"}]}],"out":[{"x":1040,"y":100,"wires":[{"id":"16eb2831.7427c","port":0}]}],"env":[],"color":"#FFFFFF","icon":"node-red-contrib-oauth2/oauth2.png"},{"id":"de4c3775.307bb8","type":"subflow","name":"Web polling","info":"","category":"","in":[],"out":[{"x":820,"y":280,"wires":[{"id":"52c402a6.f6dcf4","port":0},{"id":"612e227e.1df2ac","port":0}]}],"env":[],"color":"#E7E7AE","icon":"node-red/white-globe.svg"},{"id":"bca00684.0a8028","type":"subflow","name":"API Call","info":"","category":"","in":[{"x":100,"y":100,"wires":[{"id":"e084210b.e596a8"}]}],"out":[{"x":620,"y":100,"wires":[{"id":"824ea97b.bae9e","port":0}]}],"env":[{"name":"api","type":"str","value":"","ui":{"label":{"en-US":"API const"},"type":"select","opts":{"opts":[{"l":{"en-US":"gethomedata"},"v":"NETATMO_GET_HOMEDATA"},{"l":{"en-US":"dropwebhook"},"v":"NETATMO_DROP_WEBHOOK"},{"l":{"en-US":"addwebhook"},"v":"NETATMO_ADD_WEBHOOK"},{"l":{"en-US":"geteventsuntil"},"v":"NETATMO_GET_EVENTS_UNTIL"}]}}}],"color":"#E7E7AE","icon":"node-red/white-globe.svg"},{"id":"c4501fec.18195","type":"subflow","name":"Websocket","info":"","category":"","in":[],"out":[{"x":1020,"y":420,"wires":[{"id":"6eef670.c709e18","port":0},{"id":"bea46b4.7711198","port":0},{"id":"45655390.0d83ac","port":0}]}],"env":[],"color":"#E7E7AE","icon":"node-red/white-globe.svg"},{"id":"df7c03c4.17bca8","type":"subflow","name":"Webhook","info":"","category":"","in":[],"out":[{"x":760,"y":400,"wires":[{"id":"a20491e4.071e78","port":0}]}],"env":[],"color":"#E7E7AE","icon":"node-red/white-globe.svg"},{"id":"381d6206.231a6e","type":"subflow","name":"Cycle scene","info":"","category":"","in":[{"x":100,"y":100,"wires":[{"id":"ff0b388b.602b9"}]}],"out":[{"x":620,"y":100,"wires":[{"id":"982b1b4e.cc2dc","port":0}]}],"env":[{"name":"room","type":"str","value":"","ui":{"label":{"en-US":"Room name"},"type":"input","opts":{"types":["str"]}}},{"name":"scenes","type":"json","value":"[]","ui":{"label":{"en-US":"Scenes"},"type":"input","opts":{"types":["json"]}}}],"color":"#FFCC66","icon":"font-awesome/fa-refresh"},{"id":"b3b3386b.b8737","type":"hue-bridge","z":"","name":"Philips hue","bridge":"192.168.0.4","key":"1djMeJ73XpjEo8SjIctkc6BRbZmrDKrYHQR-nRBq","interval":"500"},{"id":"a466f7d2.91fb8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"a9efbaff.afd258","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#065155","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#235522","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#235522","value":"#235522","edited":true},"page-titlebar-backgroundColor":{"value":"#235522","edited":false},"page-backgroundColor":{"value":"#000000","edited":true},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#3a8c38","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#000000","edited":true},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#235522","edited":false},"widget-borderColor":{"value":"#000000","edited":true},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Thorpebank road","hideToolbar":"true","allowSwipe":"true","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":24,"sy":24,"gx":6,"gy":6,"cx":6,"cy":18,"px":0,"py":0}}},{"id":"a9dc9f0b.eda488","type":"ui_group","z":"","name":"Ground floor","tab":"a466f7d2.91fb8","order":2,"disp":false,"width":12,"collapse":false},{"id":"59addf93.5b4a78","type":"ui_group","z":"","name":"Corridor","tab":"a466f7d2.91fb8","order":4,"disp":false,"width":12,"collapse":false},{"id":"1c7b3864.a284c8","type":"ui_group","z":"","name":"Info","tab":"a466f7d2.91fb8","order":1,"disp":false,"width":24,"collapse":false},{"id":"9dd3e3b6.5753b","type":"ui_group","z":"","name":"WineBox","tab":"bbe781d4.f403b8","order":1,"disp":false,"width":"24","collapse":false},{"id":"bbe781d4.f403b8","type":"ui_tab","z":"","name":"WineBox","icon":"","order":3,"disabled":false,"hidden":false},{"id":"2ba5321b.f3bf8e","type":"ui_group","z":"","name":"Weather","tab":"8ba7e9cd.a53e2","order":2,"disp":false,"width":"24","collapse":false},{"id":"8ba7e9cd.a53e2","type":"ui_tab","z":"","name":"Weather","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"d0031bec.8cfa78","type":"git-nodes-config","z":"","name":"Node-RED","git":"git@github.com:fantigny/Node-RED.git"},{"id":"12a68e25.65afda","type":"ui_spacer","name":"spacer","group":"9dd3e3b6.5753b","order":2,"width":3,"height":1},{"id":"9af64467.91ccd","type":"ui_spacer","name":"spacer","group":"9dd3e3b6.5753b","order":4,"width":3,"height":1},{"id":"9f81237b.519a18","type":"ui_spacer","name":"spacer","group":"9dd3e3b6.5753b","order":6,"width":3,"height":1},{"id":"50666126.28d54","type":"ui_spacer","name":"spacer","group":"9dd3e3b6.5753b","order":7,"width":3,"height":1},{"id":"69cb6eaf.80588","type":"ui_spacer","name":"spacer","group":"2ba5321b.f3bf8e","order":2,"width":3,"height":1},{"id":"cea972e0.ec0048","type":"ui_spacer","name":"spacer","group":"2ba5321b.f3bf8e","order":4,"width":3,"height":1},{"id":"cc07f0e4.db47d","type":"ui_spacer","name":"spacer","group":"2ba5321b.f3bf8e","order":6,"width":3,"height":1},{"id":"6d8c0afe.f0fe5c","type":"ui_spacer","name":"spacer","group":"2ba5321b.f3bf8e","order":7,"width":3,"height":1},{"id":"9caca556.b1ee3","type":"ui_spacer","name":"spacer","group":"1c7b3864.a284c8","order":1,"width":2,"height":1},{"id":"8450c9b2.eada4","type":"ui_spacer","name":"spacer","group":"1c7b3864.a284c8","order":3,"width":1,"height":1},{"id":"43bd51e4.3a66b","type":"ui_spacer","name":"spacer","group":"1c7b3864.a284c8","order":6,"width":6,"height":1},{"id":"65eb0641.373db","type":"ui_spacer","name":"spacer","group":"1c7b3864.a284c8","order":7,"width":2,"height":1},{"id":"324e3595.5feff2","type":"ui_spacer","name":"spacer","group":"1c7b3864.a284c8","order":9,"width":2,"height":1},{"id":"ed904155.cc444","type":"ui_spacer","name":"spacer","group":"1c7b3864.a284c8","order":11,"width":2,"height":1},{"id":"6dab38d.1303b48","type":"ui_spacer","name":"spacer","group":"1c7b3864.a284c8","order":12,"width":2,"height":1},{"id":"b6121354.ee16e8","type":"websocket-client","z":"","path":"wss://app.netatmo.net/ws/","tls":"719d7afc.806eec","wholemsg":"false"},{"id":"719d7afc.806eec","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"4b6b6018.6a05e8","type":"delay","z":"9ffd4a9e.5f5358","name":"1m throttle","pauseType":"rate","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":350,"y":180,"wires":[["fecd959b.4afc18"]],"outputLabels":["topic"]},{"id":"fecd959b.4afc18","type":"change","z":"9ffd4a9e.5f5358","name":"prepare env","rules":[{"t":"set","p":"SOURCE","pt":"flow","to":"/media/sdcard","tot":"str"},{"t":"set","p":"TO_PROCESS","pt":"flow","to":"/home/wine/to_process","tot":"str"},{"t":"set","p":"RAW","pt":"flow","to":"/media/data/raw","tot":"str"},{"t":"set","p":"TARGET","pt":"flow","to":"/home/wine/transcoded","tot":"str"},{"t":"set","p":"TRANS_EXT","pt":"flow","to":".mp4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":180,"wires":[["8389a705.525518","ed42d39.540eab"]]},{"id":"9c5d6e1f.7f03c","type":"switch","z":"9ffd4a9e.5f5358","name":"","property":"rc.code","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":280,"wires":[["4fceaadb.6fdff4"],["44361b01.9ffddc"]]},{"id":"4fceaadb.6fdff4","type":"function","z":"9ffd4a9e.5f5358","name":"handle error","func":"node.log('error code ' + msg.rc.code);\n\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":260,"wires":[["11b956b1.724471"]]},{"id":"c6eea7e5.2a05d","type":"exec","z":"9ffd4a9e.5f5358","command":"ffmpeg","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"transcode","x":740,"y":660,"wires":[["c82ba125.1d97a","e2b4036b.136428"],[],[]]},{"id":"8136b979.ccce78","type":"function","z":"9ffd4a9e.5f5358","name":"prepare params","func":"var source = flow.get('RAW') + '/' + msg.archiveFile;\nvar target = flow.get('RAW') + '/' + msg.targetFile;\n\nmsg.payload = '-i ' + source +\n    ' -y -filter:v fps=30000/1001 -c:v libx264 -preset:v medium -profile:v high -crf 20 -bf 0 -g 8 -tune fastdecode -pix_fmt yuvj420p -colorspace bt709 -color_primaries bt709 -color_trc bt709 -c:a aac -b:a 192k -chunk_size 64K ' +\n    target;\nreturn msg","outputs":1,"noerr":0,"x":500,"y":660,"wires":[["c6eea7e5.2a05d"]]},{"id":"c82ba125.1d97a","type":"switch","z":"9ffd4a9e.5f5358","name":"","property":"rc.code","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":640,"wires":[["88cdda38.f837d8"],["52770d67.54ad14"]]},{"id":"88cdda38.f837d8","type":"function","z":"9ffd4a9e.5f5358","name":"handle error","func":"node.log('error code ' + msg.rc.code);\n\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":620,"wires":[["11b956b1.724471"]]},{"id":"4d3c70a3.3ff148","type":"exec","z":"9ffd4a9e.5f5358","command":"mv","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"publish","x":740,"y":780,"wires":[["55d36579.1286f4"],[],[]]},{"id":"52770d67.54ad14","type":"function","z":"9ffd4a9e.5f5358","name":"prepare filepaths","func":"var source = flow.get('RAW') + '/' + msg.targetFile;\nvar target = flow.get('TARGET');\n\nmsg.payload = source + ' ' + target;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":780,"wires":[["4d3c70a3.3ff148"]]},{"id":"55d36579.1286f4","type":"switch","z":"9ffd4a9e.5f5358","name":"","property":"rc.code","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":760,"wires":[["34210fd4.e1832"],["11b956b1.724471","273f11cb.4c83be"]]},{"id":"34210fd4.e1832","type":"function","z":"9ffd4a9e.5f5358","name":"handle error","func":"node.log('error code ' + msg.rc.code);\n\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":720,"wires":[["11b956b1.724471"]]},{"id":"8b1712b9.c308f8","type":"exec","z":"9ffd4a9e.5f5358","command":"cp","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"copy","x":730,"y":300,"wires":[["9c5d6e1f.7f03c"],[],[]]},{"id":"425d9147.876d78","type":"function","z":"9ffd4a9e.5f5358","name":"prepare filepaths","func":"var source = flow.get('SOURCE') + '/*';\nvar target = flow.get('TO_PROCESS');\n\nmsg.payload = source + ' ' + target;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":300,"wires":[["8b1712b9.c308f8"]]},{"id":"e2b4036b.136428","type":"Serial Iterator","z":"9ffd4a9e.5f5358","name":"for each","property":"files","inputFlow":"input","saveOutput":0,"recursive":0,"storeId":0,"x":740,"y":420,"wires":[["c8096553.ef9fa"],[]]},{"id":"44361b01.9ffddc","type":"fs-ops-dir","z":"9ffd4a9e.5f5358","name":"list files","path":"TO_PROCESS","pathType":"flow","filter":"*","filterType":"str","dir":"files","dirType":"msg","x":480,"y":420,"wires":[["e2b4036b.136428"]]},{"id":"273f11cb.4c83be","type":"function","z":"9ffd4a9e.5f5358","name":"log","func":"node.log('file is ready ' + msg.targetFile)\n\nreturn msg;","outputs":0,"noerr":0,"x":1110,"y":840,"wires":[]},{"id":"61b3beae.5c9e8","type":"exec","z":"9ffd4a9e.5f5358","command":"mv","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"archive","x":740,"y":540,"wires":[["a44fa549.7f2f2"],[],[]]},{"id":"1dd850d4.fa018f","type":"function","z":"9ffd4a9e.5f5358","name":"prepare filepaths","func":"var source = flow.get('TO_PROCESS') + '/' + msg.sourceFile;\nvar target = flow.get('RAW') + '/' + msg.archiveFile;\n\nmsg.payload = source + ' ' + target;\nreturn msg","outputs":1,"noerr":0,"x":510,"y":540,"wires":[["61b3beae.5c9e8"]]},{"id":"a44fa549.7f2f2","type":"switch","z":"9ffd4a9e.5f5358","name":"","property":"rc.code","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":520,"wires":[["116d378e.e10f68"],["8136b979.ccce78"]]},{"id":"116d378e.e10f68","type":"function","z":"9ffd4a9e.5f5358","name":"handle error","func":"node.log('error code ' + msg.rc.code);\n\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":500,"wires":[["11b956b1.724471"]]},{"id":"c8096553.ef9fa","type":"function","z":"9ffd4a9e.5f5358","name":"update context","func":"var datetime = new Date().toISOString().replace(/:/ig, '-');\nvar filename = msg.payload.replace(/ /ig, '\\\\ ');\n\nmsg.sourceFile = filename;\nmsg.archiveFile = datetime + '-' + msg.sourceFile;\nmsg.targetFile = msg.sourceFile + flow.get('TRANS_EXT');\n\nreturn msg","outputs":1,"noerr":0,"x":960,"y":400,"wires":[["1dd850d4.fa018f"]]},{"id":"8389a705.525518","type":"fs-ops-dir","z":"9ffd4a9e.5f5358","name":"check Media","path":"SOURCE","pathType":"flow","filter":"*","filterType":"str","dir":"files","dirType":"msg","x":230,"y":280,"wires":[["14278d76.bb4a33"]]},{"id":"14278d76.bb4a33","type":"switch","z":"9ffd4a9e.5f5358","name":"if files","property":"files.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":360,"wires":[["425d9147.876d78"],["44361b01.9ffddc"]]},{"id":"ed42d39.540eab","type":"function","z":"9ffd4a9e.5f5358","name":"set color","func":"msg.payload = msg.payload = {\"on\": true, 'hex': '8F0000'};\n\nnode.log('transcoding...');\n\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":180,"wires":[["c3520e2e.da401"]]},{"id":"c3520e2e.da401","type":"hue-light","z":"9ffd4a9e.5f5358","d":true,"name":"Desk","bridge":"b3b3386b.b8737","lightid":"13","colornamer":true,"x":970,"y":180,"wires":[[]]},{"id":"11b956b1.724471","type":"function","z":"9ffd4a9e.5f5358","name":"turn off","func":"msg.payload = {\"on\": false};\n\nnode.log('transcoding finished.');\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1360,"y":820,"wires":[["365ac198.e41896"]]},{"id":"365ac198.e41896","type":"hue-light","z":"9ffd4a9e.5f5358","d":true,"name":"Desk","bridge":"b3b3386b.b8737","lightid":"13","colornamer":true,"x":1530,"y":820,"wires":[[]]},{"id":"8f86aaa6.b7dd78","type":"inject","z":"9ffd4a9e.5f5358","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":100,"wires":[["4b6b6018.6a05e8"]]},{"id":"8551cf3d.f5ac8","type":"hue-scene","z":"640fc94c.c7b598","name":"Scene","bridge":"b3b3386b.b8737","sceneid":"","x":1210,"y":140,"wires":[[]]},{"id":"4849a693.2f8188","type":"inject","z":"5da715ec.7bb304","name":"Week days 8:50pm","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"50 20 * * 1,2,3,4,0","once":false,"onceDelay":0.1,"x":200,"y":680,"wires":[["faf32be.83cab58"]]},{"id":"12121b4a.0489ed","type":"inject","z":"5da715ec.7bb304","name":"Week-end 9:50pm","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"50 21 * * 5,6","once":false,"onceDelay":0.1,"x":200,"y":780,"wires":[["faf32be.83cab58"]]},{"id":"7d874e46.5ff778","type":"inject","z":"5da715ec.7bb304","name":"Week days 9:30pm","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"30 21 * * 1,2,3,4,0","once":false,"onceDelay":0.1,"x":200,"y":720,"wires":[["cbe359e4.1eebc8"]]},{"id":"c34a2987.266698","type":"inject","z":"5da715ec.7bb304","name":"Week-end 10:50pm","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"50 22 * * 5,6","once":false,"onceDelay":0.1,"x":200,"y":820,"wires":[["e807b74e.526de"]]},{"id":"d8fc8898.1dfd58","type":"function","z":"5da715ec.7bb304","name":"log","func":"node.log('[Mei Lin] bed time!');\n\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":700,"wires":[["a682b305.0656d","3675aadf.c756ee"]]},{"id":"a682b305.0656d","type":"hue-light","z":"5da715ec.7bb304","name":"Piano","bridge":"b3b3386b.b8737","lightid":"15","colornamer":true,"x":1210,"y":700,"wires":[[]]},{"id":"faf32be.83cab58","type":"change","z":"5da715ec.7bb304","name":"bed alert","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"color\": \"orange\" }","tot":"json"},{"t":"set","p":"payload.alert","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":700,"wires":[["d8fc8898.1dfd58"]]},{"id":"e807b74e.526de","type":"change","z":"5da715ec.7bb304","name":"sleep alert","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"color\": \"red\" }","tot":"json"},{"t":"set","p":"payload.alert","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":780,"wires":[["69c0938c.5e23c4"]]},{"id":"3675aadf.c756ee","type":"hue-light","z":"5da715ec.7bb304","name":"Living","bridge":"b3b3386b.b8737","lightid":"19","colornamer":true,"x":1210,"y":780,"wires":[[]]},{"id":"33bd1cc8.61ad2c","type":"hue-switch","z":"640fc94c.c7b598","name":"Fred’s","bridge":"b3b3386b.b8737","sensorid":"39","x":170,"y":360,"wires":[["6e0ca65e.01e0f","2ab68d6b.4dd9ca"]]},{"id":"6e0ca65e.01e0f","type":"switch","z":"640fc94c.c7b598","name":"button","property":"payload.name","propertyType":"msg","rules":[{"t":"eq","v":"On","vt":"str"},{"t":"eq","v":"Dim Up","vt":"str"},{"t":"eq","v":"Dim Down","vt":"str"},{"t":"eq","v":"Off","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":350,"y":360,"wires":[["e83de76c.0d556"],["e782a329.63d9c"],["af57399f.c3e5f8"],["2496dfce.8c501"]]},{"id":"af57399f.c3e5f8","type":"switch","z":"640fc94c.c7b598","name":"action","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"short released","vt":"str"},{"t":"eq","v":"pressed","vt":"str"},{"t":"eq","v":"holded","vt":"str"},{"t":"eq","v":"long released","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":550,"y":400,"wires":[["1162e216.7dad5e"],["1162e216.7dad5e"],["1058401a.8dbf48"],[]]},{"id":"f8180167.a407b","type":"comment","z":"640fc94c.c7b598","name":"dim up","info":"","x":750,"y":220,"wires":[]},{"id":"6fc1b1dc.d78718","type":"function","z":"640fc94c.c7b598","name":"brightness","func":"const BRIGHTNESS_STEP = 15;\n\nvar step = BRIGHTNESS_STEP * msg.payload;\nvar message = { payload: {\n    incrementBrightness: step,\n    transitionTime: 1.1\n}};\n\nvar msgs = [null, null, null];\nvar lightsOn = flow.get('lightsOn') || {};\nif (lightsOn['Bed'] === true) {\n    msgs[0] = message;\n}\nif (lightsOn['Desk'] === true) {\n    msgs[1] = message;\n}\nif (lightsOn['Ceiling'] === true) {\n    msgs[2] = message;\n}\n\nnode.log('[Fred] changing brightness (' +\n    step + ')');\n\nreturn msgs;","outputs":3,"noerr":0,"x":990,"y":340,"wires":[["4f9bb688.f6baf"],["afd45d18.666a58"],["de9161e7.a5d4c"]]},{"id":"2496dfce.8c501","type":"function","z":"640fc94c.c7b598","name":"off","func":"msg.payload.on = false;\n\nnode.log('[Fred] turn off');\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":580,"wires":[["9dd9c2dd.1febe"]]},{"id":"c3c595d7.3d23c","type":"comment","z":"640fc94c.c7b598","name":"off","info":"","x":750,"y":540,"wires":[]},{"id":"b6260910.916dd","type":"comment","z":"640fc94c.c7b598","name":"dim down","info":"","x":760,"y":380,"wires":[]},{"id":"e782a329.63d9c","type":"switch","z":"640fc94c.c7b598","name":"action","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"short released","vt":"str"},{"t":"eq","v":"pressed","vt":"str"},{"t":"eq","v":"holded","vt":"str"},{"t":"eq","v":"long released","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":550,"y":320,"wires":[["9b1ce05b.ffde8"],["9b1ce05b.ffde8"],["3e8a2514.6905da"],[]]},{"id":"2ab68d6b.4dd9ca","type":"function","z":"640fc94c.c7b598","name":"log","func":"node.log('[Fred] ' +\n    msg.payload.name +\n    ': ' +\n    msg.payload.action +\n    ' (' +\n    msg.payload.button +\n    ')');\n","outputs":0,"noerr":0,"x":350,"y":300,"wires":[]},{"id":"fe04127a.54ee98","type":"switch","z":"8d049f17.01cbb8","name":"type","property":"payload.push_type","propertyType":"msg","rules":[{"t":"eq","v":"NACamera-movement","vt":"str"},{"t":"eq","v":"NRPulled-movement","vt":"str"},{"t":"eq","v":"NACamera-person","vt":"str"},{"t":"eq","v":"NRPulled-person","vt":"str"},{"t":"eq","v":"NACamera-silent","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":550,"y":620,"wires":[["fbab8f6f.85efc8"],["a5a9fac4.4384e"],["c489424c.b87758","fbab8f6f.85efc8","76e631a5.3cc4c8"],["76e631a5.3cc4c8","c489424c.b87758"],["76e631a5.3cc4c8"]]},{"id":"bc2eab3a.39f358","type":"hue-switch","z":"be8ae70b.25fb8","name":"Ground floor","bridge":"b3b3386b.b8737","sensorid":"41","x":150,"y":360,"wires":[["af51e5c4.98ded8","a9e83a07.d40b08"]]},{"id":"320795bf.8de982","type":"hue-light","z":"be8ae70b.25fb8","name":"Living","bridge":"b3b3386b.b8737","lightid":"19","colornamer":true,"x":1210,"y":280,"wires":[["1e302216.824616"]]},{"id":"2126c349.a8302c","type":"hue-light","z":"be8ae70b.25fb8","name":"Dining","bridge":"b3b3386b.b8737","lightid":"33","colornamer":true,"x":1210,"y":340,"wires":[["1e302216.824616"]]},{"id":"d9d09fb0.466d98","type":"hue-light","z":"be8ae70b.25fb8","name":"Dining","bridge":"b3b3386b.b8737","lightid":"30","colornamer":true,"x":1210,"y":360,"wires":[[]]},{"id":"dc82d43a.6295e","type":"hue-light","z":"be8ae70b.25fb8","name":"Dining","bridge":"b3b3386b.b8737","lightid":"29","colornamer":true,"x":1210,"y":380,"wires":[[]]},{"id":"a06645a2.731818","type":"hue-light","z":"2c160870.687d68","name":"Living","bridge":"b3b3386b.b8737","lightid":"19","colornamer":true,"x":530,"y":800,"wires":[["49fa0946.754148"]]},{"id":"ab7ceebf.923aa8","type":"ui_button","z":"2c160870.687d68","name":"dining","group":"a9dc9f0b.eda488","order":6,"width":4,"height":3,"passthru":false,"label":"","tooltip":"","color":"orange","bgcolor":"","icon":"fa-cutlery  fa-2x","payload":"Dining room","payloadType":"str","topic":"","x":150,"y":660,"wires":[["d8a65309.2ec488"]]},{"id":"3d651460.4cb214","type":"hue-scene","z":"2c160870.687d68","name":"Scene","bridge":"b3b3386b.b8737","sceneid":"","x":530,"y":660,"wires":[[]]},{"id":"b18d52e3.2723d","type":"ui_button","z":"2c160870.687d68","name":"living","group":"a9dc9f0b.eda488","order":4,"width":4,"height":3,"passthru":false,"label":"","tooltip":"","color":"black","bgcolor":"brown","icon":"fa-television fa-2x","payload":"Living room","payloadType":"str","topic":"","x":150,"y":620,"wires":[["d8a65309.2ec488"]]},{"id":"a2d60b1c.01b518","type":"ui_button","z":"2c160870.687d68","name":"night","group":"59addf93.5b4a78","order":5,"width":4,"height":3,"passthru":false,"label":"","tooltip":"","color":"darkgrey","bgcolor":"#171717","icon":"fa-bed fa-2x","payload":"Corridor Night","payloadType":"str","topic":"","x":990,"y":580,"wires":[["356d210a.f7bfb6"]]},{"id":"8149e5a0.9acad8","type":"ui_button","z":"2c160870.687d68","name":"dimmed","group":"59addf93.5b4a78","order":6,"width":4,"height":3,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"grey","icon":"fa-skyatlas fa-2x","payload":"Corridor Dimmed","payloadType":"str","topic":"","x":1000,"y":620,"wires":[["356d210a.f7bfb6"]]},{"id":"4ade30a6.0c81b8","type":"ui_text","z":"2c160870.687d68","group":"a9dc9f0b.eda488","order":3,"width":12,"height":1,"name":"last seen","label":"Last seen","format":"{{msg.payload}}","layout":"row-spread","x":540,"y":460,"wires":[]},{"id":"57732561.a6d06c","type":"link in","z":"2c160870.687d68","name":"seen","links":["39f9382.7d665c8","6690773d.d3dbe8","febd7e18.2014d8","3a08fefa.86c7ca"],"x":115,"y":460,"wires":[["19b99cb6.4197ab"]]},{"id":"f8adb1f8.9bb7f","type":"link in","z":"2c160870.687d68","name":"timer","links":["167c7a6.80a6d86"],"x":1015,"y":500,"wires":[["a23cfbab.d74448"]]},{"id":"ff15b0e9.451418","type":"inject","z":"2c160870.687d68","name":"1 min","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":180,"wires":[["786e8eef.f60f08","22b8c335.3e943c"]]},{"id":"22b8c335.3e943c","type":"moment","z":"2c160870.687d68","name":"date","topic":"","input":"payload","inputType":"msg","inTz":"Europe/London","adjAmount":0,"adjType":"days","adjDir":"add","format":"dddd, D MMMM YYYY","locale":"en_GB","output":"payload","outputType":"msg","outTz":"Europe/London","x":350,"y":200,"wires":[["f321c827.5e7b48"]]},{"id":"786e8eef.f60f08","type":"moment","z":"2c160870.687d68","name":"time","topic":"","input":"payload","inputType":"msg","inTz":"Europe/London","adjAmount":0,"adjType":"days","adjDir":"add","format":"h:mm<\\sup><font \\si\\z\\e=\"5\"> A</font></\\sup>","locale":"en_GB","output":"payload","outputType":"msg","outTz":"Europe/London","x":350,"y":160,"wires":[["b24ab1c3.dbaa18"]]},{"id":"e7fcb2c5.f69d8","type":"ui_template","z":"2c160870.687d68","group":"1c7b3864.a284c8","name":"forecast7","order":13,"width":17,"height":3,"format":"<a  class=\"weatherwidget-io\"\n    href=\"https://forecast7.com/en/51d51n0d24/w12-0pg/\"\n    data-icons=\"Climacons\"\n    data-days=\"3\"\n    data-theme=\"gray\"></a>\n  \n<script>\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        __weatherwidget_init();\n    });\n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":540,"y":260,"wires":[[]]},{"id":"3753f302.f564cc","type":"function","z":"8d049f17.01cbb8","name":"people home","func":"var pseudos = [];\nvar persons = msg.payload.body.homes[0].persons;\nfor(var i=0, n=persons.length; i<n; i++) {\n    var person = persons[i];\n    if (person.out_of_sight) {\n        continue;\n    }\n    if (person.pseudo !== undefined) {\n        pseudos.push(person.pseudo);\n    }\n}\n\nmsg.payload = pseudos;\n\nnode.log('[Welcome] ' +\n    (pseudos.length > 0? pseudos.join(', '): 'no one') +\n    ' at home');\n\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":840,"wires":[["b221abf5.b67228"]]},{"id":"d177584f.2cb78","type":"function","z":"8d049f17.01cbb8","name":"people seen","func":"const UNKNOWN = 'Unknown';\n\nvar payload =  msg.payload;\n\nvar pseudos = [];\nvar ids = payload.ids;\nvar idPseudos = payload.idPseudos;\nfor(i=0, n=ids.length; i<n; i++) {\n    var pseudo = idPseudos[ids[i]];\n    if (pseudo !== undefined) {\n        pseudos.push(pseudo);\n    } else if (!pseudos.includes(UNKNOWN)) {\n        pseudos.push(UNKNOWN);\n    }\n}\n\nmsg.payload = pseudos;\n\nnode.log('[Welcome] ' + pseudos.join(', ') + ' seen');\n\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":680,"wires":[["39f9382.7d665c8"]]},{"id":"19b99cb6.4197ab","type":"function","z":"2c160870.687d68","name":"text","func":"msg.payload = msg.payload.join(', ');\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":460,"wires":[["4ade30a6.0c81b8"]]},{"id":"7031c9bd.997728","type":"ui_text","z":"2c160870.687d68","group":"1c7b3864.a284c8","order":14,"width":24,"height":2,"name":"occupancy","label":"","format":"<font size=\"5\">{{msg.payload}}</font>","layout":"row-center","x":550,"y":320,"wires":[]},{"id":"f99f0624.0403a","type":"function","z":"2c160870.687d68","name":"text","func":"var text = '';\nvar pseudos = msg.payload;\nif (pseudos.length === 0) {\n    text = 'nobody seen recently';\n} else {\n    pseudos.sort();\n    for(i=0; i<pseudos.length; i++) {\n        if (text !== '') {\n            if (i === pseudos.length-1) {\n                text += ' and ';\n            } else {\n                text += ', ';\n            }\n        }\n        text += pseudos[i];\n    }\n    text += ' ';\n    text += pseudos.length === 1?'is': 'are';\n    text += ' home';\n}\n\nmsg.payload = text;\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":320,"wires":[["7031c9bd.997728"]]},{"id":"a839f802.27091","type":"link in","z":"2c160870.687d68","name":"occupancy","links":["b221abf5.b67228","12eafbbd.71bb44","d14fbf83.bb29a"],"x":115,"y":320,"wires":[["f99f0624.0403a"]]},{"id":"b221abf5.b67228","type":"link out","z":"8d049f17.01cbb8","name":"occupancy","links":["a839f802.27091"],"x":1435,"y":840,"wires":[]},{"id":"a64ca98.42c7c58","type":"comment","z":"2c160870.687d68","name":"Info","info":"","x":150,"y":100,"wires":[]},{"id":"519e65c2.db34ec","type":"ui_text","z":"2c160870.687d68","group":"59addf93.5b4a78","order":1,"width":8,"height":3,"name":"title","label":"","format":"<font size=\"6\" color=\"#65BFBB\"><b>Stairs</b></font>","layout":"row-center","x":1390,"y":340,"wires":[]},{"id":"9395448e.94399","type":"ui_text","z":"2c160870.687d68","group":"59addf93.5b4a78","order":4,"width":10,"height":1,"name":"display","label":"Timer","format":"{{msg.payload}}","layout":"row-spread","x":1400,"y":520,"wires":[]},{"id":"a23cfbab.d74448","type":"function","z":"2c160870.687d68","name":"progress","func":"const PIPE_RATE = 10 * 1000;//milliseconds\nconst DISABLED = '(disabled)';\n\nvar pipeCount = msg.delay / PIPE_RATE;\nvar timer = msg.payload;\n\nvar msgs = [];\nmsgs.push({ reset: true });\n\nif (timer === 'start') {\n    for(var i=pipeCount; i>=0; i--) {\n        msgs.push({ payload: '|'.repeat(i) });\n    }\n} else { // timer === 'stop', 'on', 'off'\n    var message = '';\n    if (flow.get('enabled') === false) {\n        message = DISABLED;\n    }\n    msgs.push({ payload: message });\n}\n\nreturn [ msgs ];\n","outputs":1,"noerr":0,"x":1180,"y":480,"wires":[["c5df47b5.de7008"]]},{"id":"c95826ae.e8853","type":"ui_button","z":"2c160870.687d68","name":"on/off","group":"59addf93.5b4a78","order":2,"width":4,"height":3,"passthru":false,"label":"","tooltip":"","color":"darkgrey","bgcolor":"#242424","icon":"fa-power-off fa-2x","payload":"","payloadType":"date","topic":"","x":990,"y":720,"wires":[["baf381e9.752c88"]]},{"id":"31a7ad15.fe8eba","type":"ui_button","z":"2c160870.687d68","name":"on/off","group":"a9dc9f0b.eda488","order":2,"width":4,"height":3,"passthru":false,"label":"","tooltip":"","color":"darkgrey","bgcolor":"#242424","icon":"fa-power-off fa-2x","payload":"","payloadType":"date","topic":"","x":150,"y":720,"wires":[["200de65a.8a2062"]]},{"id":"39f9382.7d665c8","type":"link out","z":"8d049f17.01cbb8","name":"seen","links":["57732561.a6d06c"],"x":1435,"y":680,"wires":[]},{"id":"1880b22b.732b36","type":"ui_template","z":"2c160870.687d68","group":"1c7b3864.a284c8","name":"105% zoom","order":5,"width":1,"height":1,"format":"<style>\nbody {\n    zoom: 105%;\n}\n</style>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1410,"y":140,"wires":[[]]},{"id":"a1cc7c3f.76dde8","type":"ui_text","z":"2c160870.687d68","group":"a9dc9f0b.eda488","order":1,"width":8,"height":3,"name":"title","label":"","format":"<font size=\"6\" color=\"#65BFBB\"><b>Living & dining room</b></font>","layout":"row-left","x":530,"y":400,"wires":[]},{"id":"b352b82b.24a4e","type":"change","z":"2c160870.687d68","name":"brightness","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.brightness","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1590,"y":840,"wires":[["156c88c3.33a10f"]]},{"id":"f0fa6d6e.9ca8b","type":"ui_gauge","z":"2c160870.687d68","name":"living","group":"a9dc9f0b.eda488","order":7,"width":6,"height":4,"gtype":"donut","title":"","label":"","format":"Living","min":0,"max":"100","colors":["#df7102","#eaac39","#fbf284"],"seg1":"","seg2":"","x":150,"y":840,"wires":[]},{"id":"156c88c3.33a10f","type":"ui_gauge","z":"2c160870.687d68","name":"entrance","group":"59addf93.5b4a78","order":8,"width":4,"height":4,"gtype":"donut","title":"","label":"","format":"g/f","min":0,"max":"100","colors":["#df7102","#eaac39","#fbf284"],"seg1":"","seg2":"","x":1000,"y":840,"wires":[]},{"id":"dc7655fd.dfb7f8","type":"ui_gauge","z":"2c160870.687d68","name":"dining","group":"a9dc9f0b.eda488","order":8,"width":6,"height":4,"gtype":"donut","title":"","label":"","format":"Dining","min":0,"max":"100","colors":["#df7102","#eaac39","#fbf284"],"seg1":"","seg2":"","x":150,"y":1080,"wires":[]},{"id":"268e68e3.972b58","type":"hue-light","z":"2c160870.687d68","name":"Entrance","bridge":"b3b3386b.b8737","lightid":"31","colornamer":true,"x":1400,"y":800,"wires":[["b352b82b.24a4e"]]},{"id":"49fa0946.754148","type":"change","z":"2c160870.687d68","name":"brightness","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.brightness","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":840,"wires":[["f0fa6d6e.9ca8b"]]},{"id":"b59466da.4c729","type":"change","z":"2c160870.687d68","name":"brightness","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.brightness","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1590,"y":1080,"wires":[["407e35fb.e067c4"]]},{"id":"f88aad01.0f8268","type":"change","z":"2c160870.687d68","name":"brightness","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.brightness","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1590,"y":960,"wires":[["b5fa2213.47a93"]]},{"id":"b5fa2213.47a93","type":"ui_gauge","z":"2c160870.687d68","name":"1st floor","group":"59addf93.5b4a78","order":9,"width":4,"height":4,"gtype":"donut","title":"","label":"","format":"1st","min":0,"max":"100","colors":["#df7102","#eaac39","#fbf284"],"seg1":"","seg2":"","x":1000,"y":960,"wires":[]},{"id":"407e35fb.e067c4","type":"ui_gauge","z":"2c160870.687d68","name":"second","group":"59addf93.5b4a78","order":10,"width":4,"height":4,"gtype":"donut","title":"","label":"","format":"2nd","min":0,"max":"100","colors":["#df7102","#eaac39","#fbf284"],"seg1":"","seg2":"","x":1000,"y":1080,"wires":[]},{"id":"321d703.580281","type":"hue-light","z":"2c160870.687d68","name":"Second","bridge":"b3b3386b.b8737","lightid":"27","colornamer":true,"x":1400,"y":1040,"wires":[["b59466da.4c729"]]},{"id":"c75fc81b.11cf38","type":"hue-light","z":"2c160870.687d68","name":"First","bridge":"b3b3386b.b8737","lightid":"25","colornamer":true,"x":1390,"y":920,"wires":[["f88aad01.0f8268"]]},{"id":"fbab8f6f.85efc8","type":"link out","z":"8d049f17.01cbb8","name":"motion","links":["c6271e40.1c58c"],"x":735,"y":400,"wires":[]},{"id":"76039029.f3d778","type":"ui_button","z":"2c160870.687d68","name":"entrance","group":"59addf93.5b4a78","order":11,"width":4,"height":2,"passthru":false,"label":"","tooltip":"","color":"darkgray","bgcolor":"#242424","icon":"fa-power-off fa-2x","payload":"{\"toggle\": true}","payloadType":"json","topic":"","x":1000,"y":800,"wires":[["5bc5276d.976c88"]]},{"id":"f0c783e8.cad2e","type":"ui_button","z":"2c160870.687d68","name":"first","group":"59addf93.5b4a78","order":12,"width":4,"height":2,"passthru":false,"label":"","tooltip":"","color":"darkgray","bgcolor":"#242424","icon":"fa-power-off fa-2x","payload":"{\"toggle\": true}","payloadType":"json","topic":"","x":990,"y":920,"wires":[["e408510c.2b18"]]},{"id":"1cb4a8b1.71dadf","type":"ui_button","z":"2c160870.687d68","name":"second","group":"59addf93.5b4a78","order":13,"width":4,"height":2,"passthru":false,"label":"","tooltip":"","color":"darkgray","bgcolor":"#242424","icon":"fa-power-off fa-2x","payload":"{\"toggle\": true}","payloadType":"json","topic":"","x":1000,"y":1040,"wires":[["b94b741a.84e2a8"]]},{"id":"359e622c.d5cf66","type":"ui_button","z":"2c160870.687d68","name":"living","group":"a9dc9f0b.eda488","order":9,"width":6,"height":2,"passthru":false,"label":"","tooltip":"","color":"darkgray","bgcolor":"#242424","icon":"fa-power-off fa-2x","payload":"{\"toggle\": true}","payloadType":"json","topic":"","x":150,"y":800,"wires":[["6e2dace7.a697cc"]]},{"id":"2fe7b6e4.2ba312","type":"ui_button","z":"2c160870.687d68","name":"dining","group":"a9dc9f0b.eda488","order":10,"width":6,"height":2,"passthru":false,"label":"","tooltip":"","color":"darkgray","bgcolor":"#242424","icon":"fa-power-off fa-2x","payload":"{\"toggle\": true}","payloadType":"json","topic":"","x":150,"y":1040,"wires":[["1c17265a.542102"]]},{"id":"de9161e7.a5d4c","type":"hue-light","z":"640fc94c.c7b598","name":"Ceiling","bridge":"b3b3386b.b8737","lightid":"20","colornamer":true,"x":1210,"y":400,"wires":[["3b474105.d8249e"]]},{"id":"3b474105.d8249e","type":"function","z":"640fc94c.c7b598","name":"lightsOn","func":"var lightsOn = flow.get('lightsOn') || {};\nlightsOn[msg.info.name] = msg.payload.on;\n\nvar anyOn = false;\nfor(var name in lightsOn) {\n    anyOn = anyOn || lightsOn[name];\n}\n\nflow.set('lightsOn', lightsOn);\nflow.set('anyOn', anyOn);\n","outputs":0,"noerr":0,"x":1420,"y":340,"wires":[]},{"id":"4f9bb688.f6baf","type":"hue-light","z":"640fc94c.c7b598","name":"Bed","bridge":"b3b3386b.b8737","lightid":"32","colornamer":true,"x":1210,"y":280,"wires":[["3b474105.d8249e"]]},{"id":"afd45d18.666a58","type":"hue-light","z":"640fc94c.c7b598","name":"Desk","bridge":"b3b3386b.b8737","lightid":"13","colornamer":true,"x":1210,"y":340,"wires":[["3b474105.d8249e"]]},{"id":"af51e5c4.98ded8","type":"switch","z":"be8ae70b.25fb8","name":"button","property":"payload.name","propertyType":"msg","rules":[{"t":"eq","v":"On","vt":"str"},{"t":"eq","v":"Dim Up","vt":"str"},{"t":"eq","v":"Dim Down","vt":"str"},{"t":"eq","v":"Off","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":350,"y":360,"wires":[["7b91471c.6f5738"],["973aef15.4bfd48"],["dc814afe.77ff48"],["2712993b.465b96"]]},{"id":"dc814afe.77ff48","type":"switch","z":"be8ae70b.25fb8","name":"action","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"short released","vt":"str"},{"t":"eq","v":"pressed","vt":"str"},{"t":"eq","v":"holded","vt":"str"},{"t":"eq","v":"long released","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":550,"y":400,"wires":[["aa6b812d.d58e78"],["aa6b812d.d58e78"],["56e2162d.7fd928"],[]]},{"id":"dc24c90b.b5d758","type":"comment","z":"be8ae70b.25fb8","name":"dim up","info":"","x":750,"y":220,"wires":[]},{"id":"f2552b0a.1ee9f8","type":"function","z":"be8ae70b.25fb8","name":"brightness","func":"const BRIGHTNESS_STEP = 15;\n\nvar step = BRIGHTNESS_STEP * msg.payload;\nvar message = { payload: {\n    incrementBrightness: step,\n    transitionTime: 1.1\n}};\n\nvar msgs = [null, null];\nvar lightsOn = flow.get('lightsOn') || {};\nif (lightsOn['Living room'] === true) {\n    msgs[0] = message;\n}\nif (lightsOn['Dining 1'] === true) {\n    msgs[1] = message;\n}\n\n\nnode.log('[Ground floor] changing brightness (' +\n    step + ')');\n\nreturn msgs;","outputs":2,"noerr":0,"x":990,"y":340,"wires":[["320795bf.8de982"],["2126c349.a8302c","d9d09fb0.466d98","dc82d43a.6295e"]]},{"id":"ad24dee0.113d","type":"function","z":"be8ae70b.25fb8","name":"off","func":"msg.payload.on = false;\n\nnode.log('[Ground floor] turn off');\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":580,"wires":[["593fc75e.e0e65"]]},{"id":"631f075a.7b0b68","type":"comment","z":"be8ae70b.25fb8","name":"off","info":"","x":750,"y":540,"wires":[]},{"id":"488e6c28.84232c","type":"comment","z":"be8ae70b.25fb8","name":"dim down","info":"","x":760,"y":380,"wires":[]},{"id":"973aef15.4bfd48","type":"switch","z":"be8ae70b.25fb8","name":"action","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"short released","vt":"str"},{"t":"eq","v":"pressed","vt":"str"},{"t":"eq","v":"holded","vt":"str"},{"t":"eq","v":"long released","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":550,"y":320,"wires":[["4cb7010e.bce1c8"],["4cb7010e.bce1c8"],["d41d957a.fde87"],[]]},{"id":"a9e83a07.d40b08","type":"function","z":"be8ae70b.25fb8","name":"log","func":"node.log('[Ground floor] ' +\n    msg.payload.name +\n    ': ' +\n    msg.payload.action +\n    ' (' +\n    msg.payload.button +\n    ')');\n","outputs":0,"noerr":0,"x":350,"y":300,"wires":[]},{"id":"c19cfd92.bad7e8","type":"ui_button","z":"2c160870.687d68","name":"bright","group":"59addf93.5b4a78","order":7,"width":4,"height":3,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"lightgrey","icon":"fa-sun-o fa-2x","payload":"Corridor Bright","payloadType":"str","topic":"","x":990,"y":660,"wires":[["356d210a.f7bfb6"]]},{"id":"f303a0a2.cf8048","type":"inject","z":"5e854383.546e74","name":"5min","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"onceDelay":"0.1","x":150,"y":480,"wires":[["24556500.a0f2f4","394786e8.11c36a","82a3d99b.23734","f26d91bf.8f6428"]]},{"id":"5fcb136c.3f27f4","type":"change","z":"5e854383.546e74","name":"temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"max","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":380,"wires":[["754665f8.f82314"]]},{"id":"24556500.a0f2f4","type":"Memory","z":"5e854383.546e74","name":"memory","x":400,"y":480,"wires":[["23f970bc.7a36"]]},{"id":"394786e8.11c36a","type":"Loadavg","z":"5e854383.546e74","name":"load avg","x":400,"y":280,"wires":[["a274f0c1.c61d3"]]},{"id":"5a94df96.cb4ee8","type":"ui_chart","z":"5e854383.546e74","name":"memory","group":"9dd3e3b6.5753b","order":13,"width":17,"height":5,"label":"","chartType":"line","legend":"false","xformat":"ddd ha","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"6","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#808080","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":780,"y":480,"wires":[[]]},{"id":"23f970bc.7a36","type":"change","z":"5e854383.546e74","name":"giga","rules":[{"t":"set","p":"payload","pt":"msg","to":"$round((payload.totalmem-payload.freemem)/1073741824, 0)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":480,"wires":[["5a94df96.cb4ee8"]]},{"id":"754665f8.f82314","type":"ui_chart","z":"5e854383.546e74","name":"cpu temp","group":"9dd3e3b6.5753b","order":11,"width":17,"height":5,"label":"","chartType":"line","legend":"false","xformat":"ddd ha","interpolate":"bezier","nodata":"","dot":false,"ymin":"20","ymax":"100","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#808080","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":780,"y":380,"wires":[[]]},{"id":"f26d91bf.8f6428","type":"Drives","z":"5e854383.546e74","name":"/dev/sda1","x":400,"y":580,"wires":[["ffda9d16.45b3e"]]},{"id":"82a3d99b.23734","type":"cpu","z":"5e854383.546e74","name":"cpu temp","msgCore":false,"msgOverall":false,"msgArray":false,"msgTemp":true,"x":400,"y":380,"wires":[["5fcb136c.3f27f4"]]},{"id":"b47b3c46.f375b8","type":"ui_chart","z":"5e854383.546e74","name":"/dev/sda1","group":"9dd3e3b6.5753b","order":15,"width":17,"height":5,"label":"","chartType":"line","legend":"false","xformat":"ddd ha","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"64","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#808080","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":780,"y":580,"wires":[[]]},{"id":"ffda9d16.45b3e","type":"change","z":"5e854383.546e74","name":"giga","rules":[{"t":"set","p":"payload","pt":"msg","to":"$round(payload[2].used / 1048576, 0)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":580,"wires":[["b47b3c46.f375b8"]]},{"id":"a98ca4fb.083188","type":"function","z":"35f2ed46.dc3b2a","name":"motion","func":"const DELAY = 2; //seconds\n\nif (flow.get('enabled') === false) {\n    return [ null, null ];\n}\n\nvar onMsg = null;\nvar timerMsg = null;\nif (flow.get('anyOn') === false) {\n    // turn on\n    onMsg = msg;\n    // start timer after delay\n    timerMsg = { delay: DELAY * 1000};\n    node.log('[Stairs] delay timer (' + DELAY + 's)');\n} else {\n    // reset timer\n    timerMsg = { delay: 0 };\n}\n\nreturn [ onMsg, timerMsg ];\n","outputs":2,"noerr":0,"x":410,"y":500,"wires":[["c00937d8.aadce8"],["425a594.8810a28"]],"outputLabels":["reset timer","turn on"]},{"id":"fc186274.44c9a8","type":"switch","z":"35f2ed46.dc3b2a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"sunriseEnd","vt":"str"},{"t":"eq","v":"sunset","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":140,"wires":[["eef4f91f.1e7208"],["706a6743.36231"]]},{"id":"a4f12aa5.29bfb8","type":"sun events","z":"35f2ed46.dc3b2a","testmode":false,"verbose":false,"topic":"","name":"sun events","x":140,"y":140,"wires":[["fc186274.44c9a8"]]},{"id":"706a6743.36231","type":"hue-scene","z":"35f2ed46.dc3b2a","name":"Nightlight","bridge":"b3b3386b.b8737","sceneid":"SSi4C-Ti0C1p6E-","x":620,"y":180,"wires":[["dcdd9205.4a3e58"]]},{"id":"eef4f91f.1e7208","type":"hue-scene","z":"35f2ed46.dc3b2a","name":"Dimmed","bridge":"b3b3386b.b8737","sceneid":"UUvgiBmt4Brmqen","x":620,"y":100,"wires":[["dcdd9205.4a3e58"]]},{"id":"dcdd9205.4a3e58","type":"function","z":"35f2ed46.dc3b2a","name":"log","func":"node.log('[Welcome] sun event new scene: ' +\n    msg.payload.name);\n","outputs":0,"noerr":0,"x":850,"y":140,"wires":[]},{"id":"4f0372ed.c5a674","type":"function","z":"35f2ed46.dc3b2a","name":"timer off","func":"if (flow.get('timerOn') === false) {\n    return;\n}\n\nvar anyOn = msg.payload.on || msg.payload.anyOn;\nflow.set('anyOn', anyOn);\nif (anyOn) {\n    return;\n}\n\nflow.set('timerOn', false);\n\nnode.log('[Stairs] timer stopped')\n\nreturn [ { payload: 'stop' }, { reset: true} ];","outputs":2,"noerr":0,"x":1060,"y":440,"wires":[["167c7a6.80a6d86"],["eaff4468.fef6"]]},{"id":"c6271e40.1c58c","type":"link in","z":"35f2ed46.dc3b2a","name":"welcome motion","links":["fbab8f6f.85efc8"],"x":255,"y":480,"wires":[["a98ca4fb.083188"]]},{"id":"22416ceb.f42634","type":"hue-group","z":"35f2ed46.dc3b2a","name":"Stairs ","bridge":"b3b3386b.b8737","groupid":"3","colornamer":true,"x":850,"y":440,"wires":[["4f0372ed.c5a674"]]},{"id":"4582c690.0a8eb8","type":"function","z":"be8ae70b.25fb8","name":"log","func":"node.log('[Ground floor] start / stop timer')\n\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":640,"wires":[["c1628872.82959"]]},{"id":"7a141712.517428","type":"hue-scene","z":"2c160870.687d68","name":"Scene","bridge":"b3b3386b.b8737","sceneid":"","x":1390,"y":620,"wires":[[]]},{"id":"c489424c.b87758","type":"function","z":"8d049f17.01cbb8","name":"store","func":"var payload = msg.payload;\n\n// we don't want to show outdated pulled events\nvar time = payload.time || new Date().getTime();\nvar lastTimeSeen = flow.get('lastTimeSeen') || 0;\nif (time <= lastTimeSeen) {\n    return null;\n}\n\nflow.set('lastTimeSeen', time);\n\nmsg.payload = {\n    idPseudos: null,\n    ids: payload\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":640,"wires":[["7a60efee.970cf8"]]},{"id":"7a60efee.970cf8","type":"split","z":"8d049f17.01cbb8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":770,"y":680,"wires":[["f7689aa8.1e295"]]},{"id":"632a45a6.d9ed6c","type":"join","z":"8d049f17.01cbb8","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1250,"y":720,"wires":[["d177584f.2cb78"]]},{"id":"f7689aa8.1e295","type":"switch","z":"8d049f17.01cbb8","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"idPseudos","vt":"str"},{"t":"eq","v":"ids","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":720,"wires":[["db591e0.d9e056"],["246b9b51.b56eb4"]]},{"id":"e6acb7c3.5eb488","type":"function","z":"8d049f17.01cbb8","name":"idPseudos","func":"var idPseudos = {};\nvar people = msg.payload.body.homes[0].persons;\nfor(var i=0, n=people.length; i<n; i++) {\n    var pseudo = people[i].pseudo;\n    if (pseudo !== undefined) {\n        var id = people[i].id;\n        idPseudos[id] = pseudo;\n    }\n}\n\nmsg.payload = idPseudos;\n\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":620,"wires":[["632a45a6.d9ed6c"]]},{"id":"246b9b51.b56eb4","type":"function","z":"8d049f17.01cbb8","name":"ids","func":"var ids = [];\nvar persons = msg.payload.persons;\nfor(var i=0, n=persons.length; i<n; i++) {\n    ids.push(persons[i].id);\n}\n\nmsg.payload = ids;\n\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":740,"wires":[["632a45a6.d9ed6c"]]},{"id":"9f596e4f.0cfe6","type":"comment","z":"8d049f17.01cbb8","name":"motion","info":"","x":810,"y":400,"wires":[]},{"id":"e1b0ce4.285f9b","type":"comment","z":"8d049f17.01cbb8","name":"person","info":"","x":770,"y":600,"wires":[]},{"id":"442b08bd.e8ceb8","type":"inject","z":"5e854383.546e74","name":"5s","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"0.1","x":150,"y":340,"wires":[["1726c467.094614","421768df.7acde","18770ddb.b09c32","1f1657d0.55d1a8"]]},{"id":"506b7224.283b1c","type":"ui_gauge","z":"5e854383.546e74","name":"","group":"9dd3e3b6.5753b","order":10,"width":7,"height":5,"gtype":"gage","title":"cpu temp","label":"","format":"{{value|number:0}}°C","min":"20","max":"100","colors":["#008000","#ff8000","#ff0000"],"seg1":"60","seg2":"80","x":780,"y":340,"wires":[]},{"id":"79d6ebb8.1809ac","type":"change","z":"5e854383.546e74","name":"temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"max","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":340,"wires":[["506b7224.283b1c"]]},{"id":"1726c467.094614","type":"Memory","z":"5e854383.546e74","name":"memory","x":400,"y":440,"wires":[["ca8ab92e.c34ca"]]},{"id":"421768df.7acde","type":"Loadavg","z":"5e854383.546e74","name":"load avg","x":400,"y":240,"wires":[["98c6ab4.10c6f58","4735c5f3.7412fc"]]},{"id":"1f1657d0.55d1a8","type":"Drives","z":"5e854383.546e74","name":"/dev/sda1","x":400,"y":540,"wires":[["53da0ecc.605fb8"]]},{"id":"18770ddb.b09c32","type":"cpu","z":"5e854383.546e74","name":"cpu temp","msgCore":false,"msgOverall":false,"msgArray":false,"msgTemp":true,"x":400,"y":340,"wires":[["79d6ebb8.1809ac"]]},{"id":"c5df47b5.de7008","type":"delay","z":"2c160870.687d68","name":"1msg/10s","pauseType":"rate","timeout":"0","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1180,"y":520,"wires":[["9395448e.94399"]]},{"id":"eaff4468.fef6","type":"delay","z":"35f2ed46.dc3b2a","name":"off","pauseType":"delayv","timeout":"0","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":630,"y":500,"wires":[["22416ceb.f42634"]]},{"id":"4a31e97c.f3c648","type":"oauth2","z":"5f51c879.2fa3c8","name":"OAuth2 ","container":"payload","access_token_url":"","grant_type":"set_by_credentials","username":"","password":"","client_id":"","client_secret":"","scope":"","x":500,"y":140,"wires":[["ee1f619b.ff071"]]},{"id":"33f807eb.88c708","type":"function","z":"5f51c879.2fa3c8","name":"oauth2Request","func":"const MAX_ATTEMPT = 3;\n\n// handle auth issue\nvar attempt = flow.get('attempt') || 0;\nflow.set('attempt', ++attempt);\nif (attempt > MAX_ATTEMPT) {\n    flow.set('attempt', 0);\n    node.log('[Netatmo] authentication aborted');\n    return;\n}\n\nvar clientId = global.get('CLIENT_ID');\nvar clientSecret = global.get('CLIENT_SECRET');\nvar creds = {};\ncreds.client_id = clientId;\ncreds.client_secret = clientSecret;\ncreds.scope = [\n    'read_camera',\n    'write_camera',\n    'access_camera'\n].join(' ');\n\nvar refreshToken = flow.get('refreshToken');\nif (refreshToken === undefined) {\n    creds.grant_type = 'password';\n    creds.username = global.get('USERNAME');\n    creds.password = global.get('PASSWORD');\n    node.log('[Netatmo] create token');\n} else {\n    creds.grant_type = 'refresh_token';\n    creds.refresh_token = refreshToken;\n    node.log('[Netatmo] refresh token');\n}\n\nvar url = global.get('NETATMO_OAUTH2');\nvar oauth2Req = {};\noauth2Req.access_token_url = url;\noauth2Req.credentials = creds;\n\nmsg.oauth2Request = oauth2Req;\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":140,"wires":[["4a31e97c.f3c648"]]},{"id":"ee1f619b.ff071","type":"switch","z":"5f51c879.2fa3c8","name":"status","property":"payload.oauth2Response.statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":690,"y":140,"wires":[["16eb2831.7427c"],["a1708363.92ecb8"]],"outputLabels":["200","other"]},{"id":"a1708363.92ecb8","type":"change","z":"5f51c879.2fa3c8","name":"reset","rules":[{"t":"delete","p":"refresh_token","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":180,"wires":[["33f807eb.88c708"]]},{"id":"511c01f9.17669","type":"e-mail out","z":"825a485e.cb472","server":"smtp.gmail.com","port":"465","secure":true,"name":"","dname":"gmail.com","x":720,"y":100,"wires":[[]]},{"id":"1eda0a4a.7c6c66","type":"function","z":"35f2ed46.dc3b2a","name":"timer on","func":"const TIMER = 5;// minutes\nconst DELAY = TIMER * 60 * 1000;\n\nvar eventMsg = msg;\neventMsg.delay = DELAY;\neventMsg.payload = 'start';\n\nvar timerMsgs = [];\nif (flow.get('timerOn') === true) {\n    timerMsgs.push({ reset: true });\n    node.log('[Stairs] timer reset')\n} else {\n    flow.set('timerOn', true);\n}\n\ntimerMsgs.push({\n    delay: DELAY,\n    payload: { on: false }\n});\n\n//node.log('[Stairs] turn off in ' +\n//    TIMER + ' min (timer)')\n\nreturn [ timerMsgs, eventMsg ];","outputs":2,"noerr":0,"x":1060,"y":560,"wires":[["eaff4468.fef6"],["167c7a6.80a6d86"]]},{"id":"167c7a6.80a6d86","type":"link out","z":"35f2ed46.dc3b2a","name":"timer","links":["f8adb1f8.9bb7f"],"x":1255,"y":500,"wires":[]},{"id":"425a594.8810a28","type":"delay","z":"35f2ed46.dc3b2a","name":"delay","pauseType":"delayv","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":630,"y":560,"wires":[["1eda0a4a.7c6c66"]]},{"id":"c00937d8.aadce8","type":"function","z":"35f2ed46.dc3b2a","name":"on","func":"msg.payload = { on: true };\n\nnode.log('[Stairs] turn on (timer)');\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":440,"wires":[["22416ceb.f42634"]]},{"id":"a4e5fec.810ad","type":"catch","z":"8d049f17.01cbb8","name":"catch all","scope":null,"uncaught":false,"x":360,"y":260,"wires":[["b07cf8f4.dcc548"]]},{"id":"5914d874.e6fdf","type":"ui_switch","z":"2c160870.687d68","name":"switch","label":"","tooltip":"","group":"59addf93.5b4a78","order":3,"width":2,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"on\":true}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"on\":false}","offvalueType":"json","officon":"","offcolor":"","x":1390,"y":440,"wires":[["ab830c91.3114a8","35b16e2e.9b5ffa"]]},{"id":"6357163f.12c6e","type":"link in","z":"2c160870.687d68","name":"timer enabled","links":["1f2da0b7.130ad7"],"x":1035,"y":440,"wires":[["430d81a5.b36c9"]]},{"id":"35b16e2e.9b5ffa","type":"link out","z":"2c160870.687d68","name":"timer enabled","links":["2cbc1b2f.5dc28c"],"x":1535,"y":440,"wires":[]},{"id":"2cbc1b2f.5dc28c","type":"link in","z":"35f2ed46.dc3b2a","name":"timer enabled","links":["35b16e2e.9b5ffa"],"x":235,"y":360,"wires":[["8c679d37.f7fda"]]},{"id":"1f2da0b7.130ad7","type":"link out","z":"35f2ed46.dc3b2a","name":"timer enabled","links":["6357163f.12c6e"],"x":1255,"y":360,"wires":[]},{"id":"10268eef.a3cac1","type":"comment","z":"35f2ed46.dc3b2a","name":"Welcome motion","info":"","x":160,"y":480,"wires":[]},{"id":"6b8aa48b.f1e9a4","type":"comment","z":"35f2ed46.dc3b2a","name":"timer","info":"","x":1330,"y":500,"wires":[]},{"id":"6c32da4b.ec716c","type":"comment","z":"35f2ed46.dc3b2a","name":"Home switch","info":"","x":150,"y":360,"wires":[]},{"id":"1452ec4.f44c194","type":"comment","z":"8d049f17.01cbb8","name":"home","info":"","x":1510,"y":840,"wires":[]},{"id":"67594d6c.723bf4","type":"comment","z":"8d049f17.01cbb8","name":"seen","info":"","x":1510,"y":680,"wires":[]},{"id":"b6706c7b.de91f8","type":"comment","z":"2c160870.687d68","name":"timer enabled","info":"","x":1630,"y":440,"wires":[]},{"id":"2ff492f6.aab15e","type":"comment","z":"2c160870.687d68","name":"Stairs timer enabled","info":"","x":930,"y":440,"wires":[]},{"id":"a10af628.251878","type":"comment","z":"2c160870.687d68","name":"Stairs timer","info":"","x":930,"y":500,"wires":[]},{"id":"430d81a5.b36c9","type":"change","z":"2c160870.687d68","name":"enabled","rules":[{"t":"set","p":"enabled","pt":"flow","to":"msg.payload.on","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":440,"wires":[["5914d874.e6fdf","a23cfbab.d74448"]]},{"id":"8c679d37.f7fda","type":"change","z":"35f2ed46.dc3b2a","name":"enabled","rules":[{"t":"set","p":"enabled","pt":"flow","to":"payload.on","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":360,"wires":[["1f2da0b7.130ad7","22416ceb.f42634","a98ca4fb.083188"]]},{"id":"1c17265a.542102","type":"function","z":"2c160870.687d68","name":"log","func":"node.log('[Home] toggle dining');\n\nreturn msg;\n","outputs":1,"noerr":0,"x":350,"y":1040,"wires":[["2bdedfa6.4a2a1","1d281562.741543","2c15ac0c.841454"]]},{"id":"6e2dace7.a697cc","type":"function","z":"2c160870.687d68","name":"log","func":"node.log('[Home] toggle living');\n\nreturn msg;\n","outputs":1,"noerr":0,"x":350,"y":800,"wires":[["a06645a2.731818"]]},{"id":"5bc5276d.976c88","type":"function","z":"2c160870.687d68","name":"log","func":"node.log('[Home] toggle entrance');\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1190,"y":800,"wires":[["268e68e3.972b58"]]},{"id":"e408510c.2b18","type":"function","z":"2c160870.687d68","name":"log","func":"node.log('[Home] toggle first floor');\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1190,"y":920,"wires":[["c75fc81b.11cf38"]]},{"id":"b94b741a.84e2a8","type":"function","z":"2c160870.687d68","name":"log","func":"node.log('[Home] toggle second floor');\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1190,"y":1040,"wires":[["321d703.580281"]]},{"id":"d8a65309.2ec488","type":"function","z":"2c160870.687d68","name":"log","func":"node.log('[Home] activate scene ' + msg.payload);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":350,"y":660,"wires":[["3d651460.4cb214"]]},{"id":"356d210a.f7bfb6","type":"function","z":"2c160870.687d68","name":"log","func":"node.log('[Home] activate scene ' + msg.payload);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1190,"y":620,"wires":[["7a141712.517428"]]},{"id":"b1cdb4c5.d5896","type":"comment","z":"2c160870.687d68","name":"fit iPad 2 vertical resolution / 768 x 1024","info":"","x":1180,"y":140,"wires":[]},{"id":"baf381e9.752c88","type":"function","z":"2c160870.687d68","name":"toggle","func":"var anyOn = flow.get('stairsAnyOn') === true;\nvar on = !anyOn;\n\nmsg.payload = { on: on };\n\nnode.log('[Home] turn ' +\n    (on? 'on': 'off') + ' stairs');\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1190,"y":720,"wires":[["edaef8f5.36e6f8"]]},{"id":"edaef8f5.36e6f8","type":"hue-group","z":"2c160870.687d68","name":"Stairs ","bridge":"b3b3386b.b8737","groupid":"3","colornamer":true,"x":1390,"y":720,"wires":[["f9671443.ed904"]]},{"id":"200de65a.8a2062","type":"function","z":"2c160870.687d68","name":"toggle","func":"var anyOn = flow.get('gfAnyOn') === true;\nvar on = !anyOn;\n\nmsg.payload = { on: on };\n\nnode.log('[Home] turn ' + (on? 'on': 'off') + ' g/f');\n\nreturn msg;\n","outputs":1,"noerr":0,"x":350,"y":720,"wires":[["e1edbe4b.c4c6c"]]},{"id":"5ed77329.c0541c","type":"change","z":"2c160870.687d68","name":"brightness","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.brightness","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":1080,"wires":[["dc7655fd.dfb7f8"]]},{"id":"2c15ac0c.841454","type":"hue-light","z":"2c160870.687d68","name":"Dining","bridge":"b3b3386b.b8737","lightid":"33","colornamer":true,"x":530,"y":1040,"wires":[["5ed77329.c0541c"]]},{"id":"1d281562.741543","type":"hue-light","z":"2c160870.687d68","name":"Dining","bridge":"b3b3386b.b8737","lightid":"33","colornamer":true,"x":530,"y":980,"wires":[[]]},{"id":"2bdedfa6.4a2a1","type":"hue-light","z":"2c160870.687d68","name":"Dining","bridge":"b3b3386b.b8737","lightid":"33","colornamer":true,"x":530,"y":920,"wires":[[]]},{"id":"e1edbe4b.c4c6c","type":"hue-group","z":"2c160870.687d68","name":"G/f","bridge":"b3b3386b.b8737","groupid":"4","colornamer":true,"x":530,"y":720,"wires":[["a806503e.6a4548"]]},{"id":"4fe97ab1.0503ac","type":"comment","z":"2c160870.687d68","name":"Ground floor","info":"","x":170,"y":400,"wires":[]},{"id":"e97ff4f7.b82b78","type":"comment","z":"2c160870.687d68","name":"Stairs","info":"","x":990,"y":340,"wires":[]},{"id":"c1628872.82959","type":"link out","z":"be8ae70b.25fb8","name":"timer start / stop","links":["c8b7269.0dc3858"],"x":1175,"y":640,"wires":[]},{"id":"d2f95627.f95ea8","type":"comment","z":"be8ae70b.25fb8","name":"timer on / off","info":"","x":1270,"y":640,"wires":[]},{"id":"c8b7269.0dc3858","type":"link in","z":"35f2ed46.dc3b2a","name":"timer start / stop","links":["c1628872.82959"],"x":215,"y":320,"wires":[["cbaa403d.2ea23"]]},{"id":"65d2bd9b.10b784","type":"comment","z":"35f2ed46.dc3b2a","name":"G/f dimmer","info":"","x":140,"y":320,"wires":[]},{"id":"77ba1d72.ed235c","type":"comment","z":"35f2ed46.dc3b2a","name":"enabled","info":"","x":1340,"y":360,"wires":[]},{"id":"cbaa403d.2ea23","type":"function","z":"35f2ed46.dc3b2a","name":"toggle","func":"var on = flow.get('enabled') === false;\n\nmsg.payload = { on: on };\n\nnode.log('[Stairs] motion timer turned ' +\n    (on === true? 'on': 'off'));\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":320,"wires":[["8c679d37.f7fda"]]},{"id":"ab830c91.3114a8","type":"function","z":"2c160870.687d68","name":"log","func":"node.log('[Home] switch ' +\n    (msg.payload.on === true? \"on\": \"off\") +\n    ' timer');\n","outputs":0,"noerr":0,"x":1570,"y":380,"wires":[]},{"id":"d7ff0db6.8508a8","type":"function","z":"35f2ed46.dc3b2a","name":"state","func":"var on = flow.get('enabled');\nif (on === undefined) {\n    on = true;\n}\n\nmsg.payload = { on: on };\n\nnode.log('[Stairs] motion timer turned ' +\n    (on === true? 'on': 'off'));\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":280,"wires":[["8c679d37.f7fda"]]},{"id":"92968a26.69507","type":"ui_button","z":"2c160870.687d68","name":"soft","group":"a9dc9f0b.eda488","order":5,"width":4,"height":3,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"{{background}}","icon":"fa-sun-o fa-2x","payload":"scene","payloadType":"flow","topic":"","x":150,"y":560,"wires":[["d8a65309.2ec488","61bb1a3b.f95ab4"]]},{"id":"61bb1a3b.f95ab4","type":"function","z":"2c160870.687d68","name":"toggle","func":"var background = context.get('background') || 'grey';\n\nvar scene;\nif (background === 'grey') {\n    background = 'lightgrey';\n    scene = 'Dining + Living';\n} else {\n    background = 'grey';\n    scene = 'GF Soft';\n}\nflow.set('scene', scene);\ncontext.set('background', background);\n\nmsg.background = background;\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":560,"wires":[["92968a26.69507"]]},{"id":"a001078c.ba42e8","type":"inject","z":"2c160870.687d68","name":"once","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":520,"wires":[["61bb1a3b.f95ab4"]]},{"id":"9dd9c2dd.1febe","type":"hue-group","z":"640fc94c.c7b598","name":"Fred’s","bridge":"b3b3386b.b8737","groupid":"1","colornamer":true,"x":1210,"y":580,"wires":[["a9d0a6b5.7f8e"]]},{"id":"50b5ea96.2db6ec","type":"hue-scene","z":"be8ae70b.25fb8","name":"Scene","bridge":"b3b3386b.b8737","sceneid":"","x":1210,"y":140,"wires":[[]]},{"id":"dba48e15.4f3008","type":"hue-switch","z":"5da715ec.7bb304","name":"Mei Lin’s","bridge":"b3b3386b.b8737","sensorid":"21","x":160,"y":360,"wires":[["adea93a4.37b8c","90e2d661.499f78"]]},{"id":"90e2d661.499f78","type":"switch","z":"5da715ec.7bb304","name":"button","property":"payload.name","propertyType":"msg","rules":[{"t":"eq","v":"On","vt":"str"},{"t":"eq","v":"Dim Up","vt":"str"},{"t":"eq","v":"Dim Down","vt":"str"},{"t":"eq","v":"Off","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":350,"y":360,"wires":[["9b61e648.a83ce8"],["571243e2.29b554"],["87b14ea3.d632a8"],["5a9e1b0c.7af42c"]]},{"id":"87b14ea3.d632a8","type":"switch","z":"5da715ec.7bb304","name":"action","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"short released","vt":"str"},{"t":"eq","v":"pressed","vt":"str"},{"t":"eq","v":"holded","vt":"str"},{"t":"eq","v":"long released","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":550,"y":400,"wires":[["c147cdcd.8f6a9"],["c147cdcd.8f6a9"],["f1520c2.af1747"],[]]},{"id":"701150a1.bbede8","type":"comment","z":"5da715ec.7bb304","name":"on","info":"","x":750,"y":100,"wires":[]},{"id":"f6ddee19.3486e8","type":"comment","z":"5da715ec.7bb304","name":"dim up","info":"","x":750,"y":220,"wires":[]},{"id":"55646159.32259","type":"function","z":"5da715ec.7bb304","name":"brightness","func":"const BRIGHTNESS_STEP = 15;\n\nvar step = BRIGHTNESS_STEP * msg.payload;\nvar message = { payload: {\n    incrementBrightness: step,\n    transitionTime: 1.1\n}};\n\nvar msgs = [null, null, null];\nvar lightsOn = flow.get('lightsOn') || {};\nif (lightsOn['Bed'] === true) {\n    msgs[0] = message;\n}\nif (lightsOn['Piano'] === true) {\n    msgs[1] = message;\n}\nif (lightsOn['Ceiling'] === true) {\n    msgs[2] = message;\n}\n\nnode.log('[Mei Lin\\'s] changing brightness (' +\n    step + ')');\n\nreturn msgs;","outputs":3,"noerr":0,"x":990,"y":340,"wires":[["4fd41bbd.55feb4"],["aca4cdb9.aaefe"],["e35c60af.40612"]]},{"id":"5a9e1b0c.7af42c","type":"function","z":"5da715ec.7bb304","name":"off","func":"msg.payload.on = false;\n\nnode.log('[Mei Lin\\'s] turn off');\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":580,"wires":[["27ca253.265455a"]]},{"id":"b253b964.a0094","type":"comment","z":"5da715ec.7bb304","name":"off","info":"","x":750,"y":540,"wires":[]},{"id":"dab2cd2e.4d0f2","type":"comment","z":"5da715ec.7bb304","name":"dim down","info":"","x":760,"y":380,"wires":[]},{"id":"571243e2.29b554","type":"switch","z":"5da715ec.7bb304","name":"action","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"short released","vt":"str"},{"t":"eq","v":"pressed","vt":"str"},{"t":"eq","v":"holded","vt":"str"},{"t":"eq","v":"long released","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":550,"y":320,"wires":[["cbfce871.530ad8"],["cbfce871.530ad8"],["c4e2799d.0c0be"],[]]},{"id":"adea93a4.37b8c","type":"function","z":"5da715ec.7bb304","name":"log","func":"node.log('[Mei Lin\\'s] ' +\n    msg.payload.name +\n    ': ' +\n    msg.payload.action +\n    ' (' +\n    msg.payload.button +\n    ')');\n","outputs":0,"noerr":0,"x":350,"y":300,"wires":[]},{"id":"e35c60af.40612","type":"hue-light","z":"5da715ec.7bb304","name":"Ceiling","bridge":"b3b3386b.b8737","lightid":"24","colornamer":true,"x":1210,"y":400,"wires":[["63072eb7.01202"]]},{"id":"4fd41bbd.55feb4","type":"hue-light","z":"5da715ec.7bb304","name":"Bed","bridge":"b3b3386b.b8737","lightid":"28","colornamer":true,"x":1210,"y":280,"wires":[["63072eb7.01202"]]},{"id":"aca4cdb9.aaefe","type":"hue-light","z":"5da715ec.7bb304","name":"Piano","bridge":"b3b3386b.b8737","lightid":"15","colornamer":true,"x":1210,"y":340,"wires":[["63072eb7.01202"]]},{"id":"27ca253.265455a","type":"hue-group","z":"5da715ec.7bb304","name":"Mei Lin’s","bridge":"b3b3386b.b8737","groupid":"2","colornamer":true,"x":1220,"y":580,"wires":[["aa1b47b1.2fc78"]]},{"id":"704b1c52.87ab7c","type":"comment","z":"640fc94c.c7b598","name":"on","info":"","x":750,"y":100,"wires":[]},{"id":"9701911c.7f1538","type":"comment","z":"be8ae70b.25fb8","name":"on","info":"","x":750,"y":100,"wires":[]},{"id":"63072eb7.01202","type":"function","z":"5da715ec.7bb304","name":"lightsOn","func":"var lightsOn = flow.get('lightsOn') || {};\nlightsOn[msg.info.name] = msg.payload.on;\n\nvar anyOn = false;\nfor(var name in lightsOn) {\n    anyOn = anyOn || lightsOn[name];\n}\n\nflow.set('lightsOn', lightsOn);\nflow.set('anyOn', anyOn);\n","outputs":0,"noerr":0,"x":1420,"y":340,"wires":[]},{"id":"1e302216.824616","type":"function","z":"be8ae70b.25fb8","name":"lightsOn","func":"var lightsOn = flow.get('lightsOn') || {};\nlightsOn[msg.info.name] = msg.payload.on;\n\nvar anyOn = false;\nfor(var name in lightsOn) {\n    anyOn = anyOn || lightsOn[name];\n}\n\nflow.set('lightsOn', lightsOn);\nflow.set('anyOn', anyOn);\n","outputs":0,"noerr":0,"x":1420,"y":340,"wires":[]},{"id":"982b1b4e.cc2dc","type":"function","z":"381d6206.231a6e","name":"cycle","func":"var room = env.get('room');\nvar scenes = env.get('scenes');\nvar roomScene = room.replace(/[^a-zA-Z]/g, \"\") + '-scene';\nvar roomCount = room.replace(/[^a-zA-Z]/g, \"\") + '-count';\n\nvar count = flow.get(roomCount);\ncount = count === undefined? 0: count;\n\nvar anyOn = flow.get('$parent.anyOn');\nvar scene = flow.get(roomScene);\nif (anyOn === true &&\n        scenes.includes(scene) &&\n        ++count > scenes.length-1) {\n    count = 0;\n}\nscene = scenes[count];\n\nflow.set(roomScene, scene);\nflow.set(roomCount, count);\n\nmsg.payload = scene;\n\nnode.log('[' + room + '] set scene ' + scene);\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":100,"wires":[[]]},{"id":"95d1acc3.48d1c","type":"hue-scene","z":"5da715ec.7bb304","name":"Scene","bridge":"b3b3386b.b8737","sceneid":"","x":1210,"y":140,"wires":[["ace2d45f.c70dc8"]]},{"id":"9b1ce05b.ffde8","type":"change","z":"640fc94c.c7b598","name":"increase","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":260,"wires":[["6fc1b1dc.d78718"]]},{"id":"1162e216.7dad5e","type":"change","z":"640fc94c.c7b598","name":"decrease","rules":[{"t":"set","p":"payload","pt":"msg","to":"-1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":420,"wires":[["6fc1b1dc.d78718"]]},{"id":"cbfce871.530ad8","type":"change","z":"5da715ec.7bb304","name":"increase","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":260,"wires":[["55646159.32259"]]},{"id":"c147cdcd.8f6a9","type":"change","z":"5da715ec.7bb304","name":"decrease","rules":[{"t":"set","p":"payload","pt":"msg","to":"-1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":420,"wires":[["55646159.32259"]]},{"id":"4cb7010e.bce1c8","type":"change","z":"be8ae70b.25fb8","name":"inc","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":260,"wires":[["f2552b0a.1ee9f8"]]},{"id":"aa6b812d.d58e78","type":"change","z":"be8ae70b.25fb8","name":"dec","rules":[{"t":"set","p":"payload","pt":"msg","to":"-1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":420,"wires":[["f2552b0a.1ee9f8"]]},{"id":"69c0938c.5e23c4","type":"function","z":"5da715ec.7bb304","name":"log","func":"node.log('[Mei Lin] sleeping time!');\n\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":780,"wires":[["a682b305.0656d","3675aadf.c756ee"]]},{"id":"a806503e.6a4548","type":"change","z":"2c160870.687d68","name":"anyOn","rules":[{"t":"set","p":"gfAnyOn","pt":"flow","to":"payload.anyOn","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":720,"wires":[[]]},{"id":"f9671443.ed904","type":"change","z":"2c160870.687d68","name":"anyOn","rules":[{"t":"set","p":"stairsAnyOn","pt":"flow","to":"payload.anyOn","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1570,"y":720,"wires":[[]]},{"id":"edcd9893.a08358","type":"function","z":"8d049f17.01cbb8","name":"audit","func":"const KNOWN_EVENTS = [\n//     push_type                  event_type         comment\n// hook\n    [ 'webhook_activation'      , undefined        , 'webhook activated'   ],\n    [ 'topology_changed'        , undefined        , 'topology changed'    ],\n    [ 'NACamera-movement'       , 'movement'       , 'motion detected'     ],\n    [ 'NACamera-person'         , 'person'         , 'person detected'     ],\n    [ 'NACamera-on'             , 'on'             , 'camera on'           ],\n    [ 'NACamera-off'            , 'off'            , 'camera off'          ],\n    [ 'NACamera-connection'     , 'connection'     , 'camera connected'    ],\n    [ 'NACamera-connection'     , 'disconnection'  , 'camera disconnected' ],\n// poll  \n    [ 'polling_start'           , undefined        , 'polling started'     ],\n    [ 'NRPulled-movement'       , undefined        , 'motion detected'     ],\n    [ 'NRPulled-person'         , undefined        , 'person detected'     ],\n    [ 'NRPulled-boot'           , undefined        , 'camera started'      ],\n    [ 'NRPulled-on'             , undefined        , 'camera on'           ],\n    [ 'NRPulled-off'            , undefined        , 'camera off'          ],\n    [ 'NRPulled-connection'     , undefined        , 'camera connected'    ],\n    [ 'NRPulled-disconnection'  , undefined        , 'camera disconnected' ],\n// socket\n    [ 'websocket_connection'    , undefined        , 'websocket connected' ],\n    [ 'connection'              , 'connection'     , 'camera connected'    ],\n    [ 'disconnection'           , 'disconnection'  , 'camera disconnected' ],\n    [ 'NACamera-silent'         , 'silent'         , 'occupancy change'    ],\n    [ 'NACamera-cloud'          , 'cloud'          , 'cloud event'         ],\n    [ 'NACamera-model_improved' , 'model_improved' , 'model improved'      ],\n    [ 'NACamera-end_recording'  , 'end_recording'  , 'end recording'       ]\n];\n\nvar getLog = function(m, c) {\n    // If m includes c return m, else if m is not empty return m (c), else return: c.\n    return m.toLowerCase().includes(c)? m: m.length > 0? m + ' (' + c + ')': c;\n}\n\nvar payload = msg.payload;\nvar source = payload.source;\nvar pushType = payload.push_type;\nvar eventType = payload.event_type;\nvar message = (payload.message || '').replace(/<[^>]*>/g, '');\n\nvar unknown = msg;\nvar known = null;\nfor(var i=0, n=KNOWN_EVENTS.length; i<n; i++) {\n    var ref = KNOWN_EVENTS[i];\n    if (pushType === ref[0] && eventType === ref[1]) {\n        unknown = null;\n        known = msg;\n        \n        var comment = ref[2];\n        node.log('[Welcome-' + source + '] ' + getLog(message, comment));\n        break;\n    }\n}\n\nreturn [ unknown, known ];","outputs":2,"noerr":0,"x":350,"y":500,"wires":[["44e0dd4f.9ea884"],["fe04127a.54ee98"]]},{"id":"ce2f8dd.a602ef","type":"ui_template","z":"2c160870.687d68","group":"1c7b3864.a284c8","name":"house","order":10,"width":7,"height":5,"format":"<div id=\"background\" style=\"\n        height: 100%;\n        width: 100%;\n        background: url('/red/static/home_temp.png');\n        background-repeat: no-repeat;\n        background-size: 100% 100%;\n        background-color: {{msg.payload.color}};\">\n    <div id=\"value\" style=\"\n            position: relative;\n            top: 90px;\n            color: black;\n            font-weight: bold;\n            font-size: 36px;\n            text-align: center;\">\n        {{msg.payload.celsius_smooth}}°C&nbsp;\n    </div>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":750,"y":260,"wires":[[]]},{"id":"9f9678e3.706568","type":"function","z":"2c160870.687d68","name":"color","func":"var payload = msg.payload;\n\nvar celsius = payload.celsius;\nvar color = '#67c1c9';\nif (celsius > 19.5) {\n    color = '#f59e18';\n} else if (celsius > 25.5) {\n    color = '#fb0606';\n}\n\npayload.celsius_smooth = celsius.toFixed();\npayload.color = color;\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":220,"wires":[["ce2f8dd.a602ef"]]},{"id":"ea03d4df.d3af8","type":"hue-brightness","z":"ecd12ea2.51375","name":"1st floor","bridge":"b3b3386b.b8737","sensorid":"44","x":140,"y":300,"wires":[["f087fc28.71f45"]]},{"id":"1f052f3b.c14191","type":"hue-temperature","z":"ecd12ea2.51375","name":"1st floor","bridge":"b3b3386b.b8737","sensorid":"45","x":140,"y":100,"wires":[["7d752370.f80984"]]},{"id":"fa7f91f0.d58d4","type":"hue-motion","z":"ecd12ea2.51375","name":"1st floor","bridge":"b3b3386b.b8737","sensorid":"43","x":140,"y":200,"wires":[["8020fbdd.d98f38"]]},{"id":"8f385dd4.a3664","type":"link out","z":"ecd12ea2.51375","name":"temperature","links":["2918d52c.5cc222","39dea2ba.814a5e"],"x":535,"y":100,"wires":[]},{"id":"83d3c57.f391a38","type":"link out","z":"ecd12ea2.51375","name":"motion","links":["8de95503.7b10d","58357fd.be34f8"],"x":535,"y":200,"wires":[]},{"id":"6fe1948b.96cd4c","type":"link out","z":"ecd12ea2.51375","name":"brightness","links":["d7c18c94.560008"],"x":535,"y":300,"wires":[]},{"id":"2918d52c.5cc222","type":"link in","z":"2c160870.687d68","name":"temp","links":["8f385dd4.a3664","13b3f392.805ec4"],"x":795,"y":180,"wires":[["9f9678e3.706568"]]},{"id":"8d15c960.930508","type":"comment","z":"2c160870.687d68","name":"Hue temp","info":"","x":720,"y":180,"wires":[]},{"id":"1c8d8a0.a7e4a76","type":"comment","z":"35f2ed46.dc3b2a","name":"Hue motion","info":"","x":150,"y":520,"wires":[]},{"id":"8de95503.7b10d","type":"link in","z":"35f2ed46.dc3b2a","name":"hue motion","links":["83d3c57.f391a38","c4483c39.b1447"],"x":235,"y":520,"wires":[["a98ca4fb.083188"]]},{"id":"9dc9511b.7fa8b8","type":"inject","z":"35f2ed46.dc3b2a","name":"Initialise","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":160,"y":280,"wires":[["d7ff0db6.8508a8"]]},{"id":"593fc75e.e0e65","type":"hue-group","z":"be8ae70b.25fb8","name":"G/f","bridge":"b3b3386b.b8737","groupid":"4","colornamer":true,"x":1210,"y":580,"wires":[["55f42316.1e2b1c"]]},{"id":"55f42316.1e2b1c","type":"change","z":"be8ae70b.25fb8","name":"anyOn","rules":[{"t":"set","p":"anyOn","pt":"flow","to":"payload.anyOn","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":580,"wires":[[]]},{"id":"f321c827.5e7b48","type":"ui_text","z":"2c160870.687d68","group":"1c7b3864.a284c8","order":2,"width":13,"height":1,"name":"date","label":"","format":"<font size=\"3\">{{msg.payload}}</font>","layout":"col-center","x":530,"y":200,"wires":[]},{"id":"a4c462b3.cdb77","type":"ui_chart","z":"5e854383.546e74","name":"load avg","group":"9dd3e3b6.5753b","order":9,"width":17,"height":5,"label":"","chartType":"line","legend":"false","xformat":"ddd ha","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"2","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#808080","#400000","#ff0000","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":780,"y":280,"wires":[[]]},{"id":"a274f0c1.c61d3","type":"change","z":"5e854383.546e74","name":"5min","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.loadavg[1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":280,"wires":[["a4c462b3.cdb77"]]},{"id":"a9d0a6b5.7f8e","type":"change","z":"640fc94c.c7b598","name":"anyOn","rules":[{"t":"set","p":"anyOn","pt":"flow","to":"payload.anyOn","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":580,"wires":[[]]},{"id":"aa1b47b1.2fc78","type":"change","z":"5da715ec.7bb304","name":"anyOn","rules":[{"t":"set","p":"anyOn","pt":"flow","to":"payload.anyOn","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":580,"wires":[[]]},{"id":"99d5ebf5.1db71","type":"ui_gauge","z":"5e854383.546e74","name":"","group":"9dd3e3b6.5753b","order":8,"width":7,"height":5,"gtype":"gage","title":"load avg","label":"","format":"{{value|number:1}}","min":"0","max":"2","colors":["#008000","#ff8000","#ff0000"],"seg1":"1","seg2":"1.99","x":780,"y":240,"wires":[]},{"id":"98c6ab4.10c6f58","type":"change","z":"5e854383.546e74","name":"1min","rules":[{"t":"set","p":"payload","pt":"msg","to":"$round(payload.loadavg[0], 1)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":240,"wires":[["99d5ebf5.1db71"]]},{"id":"1a071861.fddff","type":"ui_chart","z":"4b944d48.38615c","name":"indoor","group":"2ba5321b.f3bf8e","order":9,"width":17,"height":5,"label":"","chartType":"line","legend":"false","xformat":"ddd ha","interpolate":"linear","nodata":"","dot":false,"ymin":"18","ymax":"22","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":true,"colors":["#808080","#ffff80","#ff8000","#ff8000","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":300,"wires":[[]]},{"id":"172b44ae.4845fb","type":"ui_gauge","z":"4b944d48.38615c","name":"","group":"2ba5321b.f3bf8e","order":8,"width":7,"height":5,"gtype":"gage","title":"indoor","label":"","format":"{{value| number: 0}}°C","min":"0","max":"30","colors":["#67c1c9","#f59e18","#fb0606"],"seg1":"19.5","seg2":"25.5","x":670,"y":260,"wires":[]},{"id":"39dea2ba.814a5e","type":"link in","z":"4b944d48.38615c","name":"temp","links":["8f385dd4.a3664"],"x":215,"y":280,"wires":[["39fd7659.e0552a"]]},{"id":"e9cbdacf.301448","type":"comment","z":"4b944d48.38615c","name":"Hue temp","info":"","x":140,"y":280,"wires":[]},{"id":"172b8843.f39e58","type":"ui_chart","z":"4b944d48.38615c","name":"outdoor","group":"2ba5321b.f3bf8e","order":11,"width":17,"height":5,"label":"","chartType":"line","legend":"false","xformat":"ddd ha","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":true,"colors":["#808080","#ac2020","#ff8000","#ff8000","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":680,"y":400,"wires":[[]]},{"id":"2caeedc6.7e07f2","type":"ui_gauge","z":"4b944d48.38615c","name":"","group":"2ba5321b.f3bf8e","order":10,"width":7,"height":5,"gtype":"gage","title":"outdoor","label":"","format":"{{value| number: 0}}°C","min":"0","max":"30","colors":["#67c1c9","#f59e18","#fb0606"],"seg1":"19","seg2":"25","x":680,"y":360,"wires":[]},{"id":"6cb91ff2.06e36","type":"change","z":"4b944d48.38615c","name":"celsius","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.temperature","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":380,"wires":[["172b8843.f39e58","2caeedc6.7e07f2"]]},{"id":"d6a62333.7527d","type":"ui_gauge","z":"4b944d48.38615c","name":"","group":"2ba5321b.f3bf8e","order":14,"width":7,"height":5,"gtype":"gage","title":"humidity","label":"","format":"{{value | number:0}}%","min":"0","max":"100","colors":["#80ffff","#67c1c9","#0000a0"],"seg1":"","seg2":"","x":680,"y":560,"wires":[]},{"id":"618b25c6.19623c","type":"change","z":"4b944d48.38615c","name":"hum %","rules":[{"t":"set","p":"payload","pt":"msg","to":"100*payload.humidity","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":580,"wires":[["d6a62333.7527d","7dff112e.cc32d8"]]},{"id":"7dff112e.cc32d8","type":"ui_chart","z":"4b944d48.38615c","name":"humidity","group":"2ba5321b.f3bf8e","order":15,"width":17,"height":5,"label":"","chartType":"line","legend":"false","xformat":"ddd ha","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":true,"colors":["#808080","#ac2020","#ff8000","#ff8000","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":680,"y":600,"wires":[[]]},{"id":"50c7dee3.5c4eb8","type":"comment","z":"ecd12ea2.51375","name":"motion","info":"","x":610,"y":200,"wires":[]},{"id":"3e801120.5a23a6","type":"comment","z":"ecd12ea2.51375","name":"light","info":"","x":610,"y":300,"wires":[]},{"id":"95f08dca.c0a2","type":"comment","z":"ecd12ea2.51375","name":"temp","info":"","x":610,"y":100,"wires":[]},{"id":"464bff7a.ee104","type":"ui_gauge","z":"5e854383.546e74","name":"","group":"9dd3e3b6.5753b","order":12,"width":7,"height":5,"gtype":"gage","title":"mem %, Go","label":"","format":"{{value|number:0}}%","min":0,"max":"100","colors":["#00b500","#ff8000","#ff0000"],"seg1":"60","seg2":"80","x":790,"y":440,"wires":[]},{"id":"ca8ab92e.c34ca","type":"change","z":"5e854383.546e74","name":"%","rules":[{"t":"set","p":"payload","pt":"msg","to":"100 * (1 - payload.freemem / payload.totalmem)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":440,"wires":[["464bff7a.ee104"]]},{"id":"53da0ecc.605fb8","type":"change","z":"5e854383.546e74","name":"%","rules":[{"t":"set","p":"payload","pt":"msg","to":"100 * payload[2].capacity","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":540,"wires":[["5b602011.152b3"]]},{"id":"5b602011.152b3","type":"ui_gauge","z":"5e854383.546e74","name":"","group":"9dd3e3b6.5753b","order":14,"width":7,"height":5,"gtype":"gage","title":"disk %, Go","label":"","format":"{{value|number:0}}%","min":0,"max":"100","colors":["#00b500","#ff8000","#ff0000"],"seg1":"60","seg2":"80","x":790,"y":540,"wires":[]},{"id":"b24ab1c3.dbaa18","type":"ui_text","z":"2c160870.687d68","group":"1c7b3864.a284c8","order":8,"width":13,"height":2,"name":"time","label":"","format":"<font size=\"14\">{{msg.payload}}</font>","layout":"row-center","x":530,"y":160,"wires":[]},{"id":"27ee971b.725ce","type":"subflow:825a485e.cb472","z":"8d049f17.01cbb8","name":"","env":[],"x":770,"y":260,"wires":[]},{"id":"16eb2831.7427c","type":"change","z":"5f51c879.2fa3c8","name":"store","rules":[{"t":"set","p":"attempt","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"refreshToken","pt":"flow","to":"payload.oauth2Response.body.refresh_token","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.oauth2Response.body.access_token","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":100,"wires":[[]]},{"id":"91f6db5c.eb93d8","type":"function","z":"825a485e.cb472","name":"e-mail","func":"var body = msg.payload;\n\nmsg.to = global.get('ADMIN_EMAIL');\nmsg.topic = env.get('topic');\nmsg.body = body;\n\nnode.log('[Gmail] ' + msg.topic + ' ' + body);\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":100,"wires":[["511c01f9.17669"]]},{"id":"9f8a10ab.a5182","type":"json","z":"825a485e.cb472","name":"payload to string","property":"payload","action":"str","pretty":true,"x":290,"y":140,"wires":[["91f6db5c.eb93d8","29216ecd.e5e1e2"]]},{"id":"5f29e5c.768289c","type":"inject","z":"338e20df.fd4e9","name":"5min","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":160,"wires":[["49dad098.f5847"]]},{"id":"88df88db.59afd","type":"http request","z":"338e20df.fd4e9","name":"forecast","method":"GET","ret":"txt","paytoqs":true,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":360,"y":140,"wires":[["f1518d6.125427"]]},{"id":"ca14b908.dfcd2","type":"comment","z":"4b944d48.38615c","name":"Dark Sky weather","info":"","x":170,"y":340,"wires":[]},{"id":"282a215c.246e1e","type":"link in","z":"4b944d48.38615c","name":"weather","links":["a6f27647.5a3918"],"x":275,"y":340,"wires":[["6cb91ff2.06e36","618b25c6.19623c","a9684bb4.41437","f5eb46af.927d4","30327cdc.910f5c"]]},{"id":"a6f27647.5a3918","type":"link out","z":"338e20df.fd4e9","name":"weather","links":["282a215c.246e1e"],"x":915,"y":160,"wires":[]},{"id":"da3d3814.c2701","type":"comment","z":"338e20df.fd4e9","name":"report","info":"","x":990,"y":160,"wires":[]},{"id":"8020fbdd.d98f38","type":"function","z":"ecd12ea2.51375","name":"log","func":"node.log('[Hue] motion');\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":200,"wires":[["83d3c57.f391a38"]]},{"id":"e638950c.08a72","type":"git-nodes","z":"640fc94c.c7b598","label":"","branch":"master","sourcebranch":"master","gitadd":"package.json,.config.json,lib","gitrmcache":"nodes/*/x,nodes/*/y,nodes/*/z","debugging":false,"git":"d0031bec.8cfa78","x":160,"y":140,"wires":[]},{"id":"b5071e9e.f0dd4","type":"comment","z":"640fc94c.c7b598","name":"scm / GitHub","info":"","x":150,"y":100,"wires":[]},{"id":"edc4526d.77bb88","type":"ui_gauge","z":"4b944d48.38615c","name":"","group":"2ba5321b.f3bf8e","order":12,"width":7,"height":5,"gtype":"gage","title":"pressure","label":"mb","format":"{{value | number:0}}","min":"990","max":"1030","colors":["#0000ff","#00ffff","#ffff00"],"seg1":"","seg2":"1010","x":680,"y":460,"wires":[]},{"id":"a9684bb4.41437","type":"change","z":"4b944d48.38615c","name":"pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.pressure","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":480,"wires":[["edc4526d.77bb88","f3b6d1f9.40cc08"]]},{"id":"f3b6d1f9.40cc08","type":"ui_chart","z":"4b944d48.38615c","name":"pressure","group":"2ba5321b.f3bf8e","order":13,"width":17,"height":5,"label":"","chartType":"line","legend":"false","xformat":"ddd ha","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":true,"colors":["#808080","#ac2020","#ff8000","#ff8000","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":680,"y":500,"wires":[[]]},{"id":"7d752370.f80984","type":"function","z":"ecd12ea2.51375","name":"smooth","func":"const OFFSET_SENSOR = 1.71; // deg C\nconst OFFSET_ROOM   = 0.69; // deg C\nconst SMOOTH_NB_VAL = 10;\n\nvar avgWithPrevious = function(current) {\n    var previous = context.get('previous');\n    if (previous === undefined) {\n        previous = current;\n    }\n    \n    context.set('previous', current);\n    \n    return (previous + current) / 2\n}\n\nvar smooth = function(name, value, nbVal) {\n    var values = flow.get(name) || [];\n    values.push(value);\n    \n    var total = 0;\n    for(var i=0, n=values.length; i<n; i++) {\n        if (i < nbVal) {\n            total += values[i];\n        } else {\n            values.shift();\n        }\n    }\n    flow.set(name, values);\n    \n    return total / values.length;\n}\n\nvar payload = msg.payload;\nvar celsius = payload.celsius;\ncelsius += OFFSET_SENSOR;\ncelsius += OFFSET_ROOM;\ncelsius = avgWithPrevious(celsius);\ncelsius = smooth('temps', celsius, SMOOTH_NB_VAL);\n\nvar fahrenheit = celsius;\nfahrenheit *= 9/5;\nfahrenheit += 32;\n\ncelsius = Math.round(celsius * 100) / 100;\nfahrenheit = Math.round(fahrenheit * 100) / 100;\n\npayload.celsius = celsius;\npayload.fahrenheit = fahrenheit;\n\nnode.log('[Hue] temp (' + payload.celsius + '°C)');\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":100,"wires":[["8f385dd4.a3664"]]},{"id":"f087fc28.71f45","type":"function","z":"ecd12ea2.51375","name":"log","func":"node.log('[Hue] light (' +\n    msg.payload.lux + ' lux)');\n    \nreturn msg;","outputs":1,"noerr":0,"x":350,"y":300,"wires":[["6fe1948b.96cd4c"]]},{"id":"1b5460ae.9caa97","type":"function","z":"338e20df.fd4e9","name":"smooth","func":"const SMOOTH_NB_VAL = 10;\n\nvar smooth = function(name, value, nbVal, dec) {\n    var values = flow.get(name) || [];\n    values.push(value);\n    \n    var total = 0;\n    for(var i=0, n=values.length; i<n; i++) {\n        if (i < nbVal) {\n            total += values[i];\n        } else {\n            values.shift();\n        }\n    }\n    flow.set(name, values);\n    \n    var avg = total / values.length;\n    avg *= Math.pow(10, dec);\n    avg = Math.round(avg);\n    avg /= Math.pow(10, dec);\n    \n    return avg;\n}\n\nvar payload = msg.payload;\n\npayload.temperature = smooth(\n    'temps',\n    payload.temperature,\n    SMOOTH_NB_VAL,\n    2);\npayload.humidity = smooth(\n    'hum',\n    payload.humidity,\n    SMOOTH_NB_VAL,\n    4);\npayload.pressure = smooth(\n    'pres',\n    payload.pressure,\n    SMOOTH_NB_VAL,\n    2);\n\nnode.log('[DarkSky] weather (' +\n    payload.summary + ', ' +\n    payload.pressure.toFixed(1) + 'mb, ' +\n    payload.temperature.toFixed(2) + '°C, ' +\n    (100 * payload.humidity).toFixed() + '% hum)');\n\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":160,"wires":[["a6f27647.5a3918"]]},{"id":"f5eb46af.927d4","type":"change","z":"4b944d48.38615c","name":"summary","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.summary","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":200,"wires":[["4f1eddc3.65f56c"]]},{"id":"b050ffcd.96a52","type":"ui_text","z":"5e854383.546e74","group":"9dd3e3b6.5753b","order":5,"width":7,"height":2,"name":"report","label":"","format":"{{msg.payload.report}}","layout":"row-center","x":770,"y":180,"wires":[]},{"id":"4735c5f3.7412fc","type":"function","z":"5e854383.546e74","name":"report","func":"var avg = msg.payload.loadavg[0];\n\nvar report = 'Idle';\nif (avg > 0.5) {\n    report = 'Busy';\n}\nif (avg > 2) {\n    report = 'Overloaded';\n}\n\nmsg.payload.report = report;\nmsg.payload.icon = report.toLowerCase();\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":160,"wires":[["b050ffcd.96a52","7a3459e0.9dff9"]]},{"id":"39fd7659.e0552a","type":"change","z":"4b944d48.38615c","name":"celsius","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.celsius","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":280,"wires":[["172b44ae.4845fb","1a071861.fddff"]]},{"id":"58c9fb37.7099ec","type":"ui_text","z":"5e854383.546e74","group":"9dd3e3b6.5753b","order":1,"width":7,"height":2,"name":"title","label":"WineBox report","format":"{{msg.payload}}","layout":"row-center","x":770,"y":100,"wires":[]},{"id":"4f1eddc3.65f56c","type":"ui_text","z":"4b944d48.38615c","group":"2ba5321b.f3bf8e","order":5,"width":7,"height":2,"name":"status","label":"","format":"{{msg.payload}}","layout":"row-center","x":670,"y":200,"wires":[]},{"id":"e6e3d97.6f76c28","type":"ui_text","z":"4b944d48.38615c","group":"2ba5321b.f3bf8e","order":1,"width":7,"height":2,"name":"title","label":"Dark Sky report","format":"{{msg.payload}}","layout":"row-center","x":670,"y":100,"wires":[]},{"id":"9f21a3a8.bb26f","type":"ui_template","z":"4b944d48.38615c","group":"2ba5321b.f3bf8e","name":"status","order":3,"width":4,"height":2,"format":"<table width=\"100%\" height=\"100%\">\n    <tr><td align=\"center\" valign=\"middle\">\n        <i class=\"{{msg.payload}}\"></i>\n    </td></tr>\n</table>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":670,"y":140,"wires":[[]]},{"id":"7a3459e0.9dff9","type":"ui_template","z":"5e854383.546e74","group":"9dd3e3b6.5753b","name":"icon","order":3,"width":4,"height":2,"format":"<table width=\"100%\" height=\"100%\">\n    <tr><td align=\"center\" valign=\"middle\">\n        <img src=\"/red/static/{{msg.payload.icon}}.png\"\n            style=\"width: 32px;\">\n    </td></tr>\n</table>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":770,"y":140,"wires":[[]]},{"id":"49dad098.f5847","type":"function","z":"338e20df.fd4e9","name":"payload","func":"const LATITUDE = 51.508;\nconst LONGITUDE = -0.239;\nconst CONFIG = {\n    units: 'si',\n    exclude: 'minutely,hourly,daily,alerts,flags'\n};\n\nconst API_URL = global.get('DARKSKY_FORECAST') + '/';\nconst API_KEY = global.get('DARKSKY_API_KEY') + '/';\n\nvar time = Math.round( msg.payload / 1000 );\n\nmsg.url = API_URL + API_KEY + LATITUDE + ',' + LONGITUDE + ',' + time\nmsg.payload = CONFIG;\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":180,"wires":[["88df88db.59afd"]]},{"id":"f1518d6.125427","type":"function","z":"338e20df.fd4e9","name":"format","func":"var json = JSON.parse(msg.payload);\n\nmsg.payload = json.currently;\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":160,"wires":[["1b5460ae.9caa97"]]},{"id":"212b3312.e58d9c","type":"ui_ui_control","z":"2c160870.687d68","name":"","events":"change","x":160,"y":260,"wires":[["31330515.79d32a"]]},{"id":"31330515.79d32a","type":"ui_template","z":"2c160870.687d68","group":"1c7b3864.a284c8","name":"lib","order":4,"width":1,"height":1,"format":"<script src=\"https://weatherwidget.io/js/widget.min.js\"></script> \n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":350,"y":260,"wires":[["e7fcb2c5.f69d8"]]},{"id":"2712993b.465b96","type":"switch","z":"be8ae70b.25fb8","name":"action","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"pressed","vt":"str"},{"t":"eq","v":"short released","vt":"str"},{"t":"eq","v":"long released","vt":"str"},{"t":"eq","v":"holded","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":550,"y":480,"wires":[["ad24dee0.113d"],["ad24dee0.113d"],[],["9989b336.fe2838"]]},{"id":"9989b336.fe2838","type":"delay","z":"be8ae70b.25fb8","name":"1 msg/2s","pauseType":"rate","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":760,"y":640,"wires":[["4582c690.0a8eb8"]]},{"id":"f3f48ffe.6dacf","type":"inject","z":"8d049f17.01cbb8","name":"2h","topic":"","payload":"","payloadType":"date","repeat":"7200","crontab":"","once":true,"onceDelay":"1","x":150,"y":120,"wires":[["ad5f2165.c8be38"]]},{"id":"ad5f2165.c8be38","type":"subflow:5f51c879.2fa3c8","z":"8d049f17.01cbb8","name":"","env":[],"x":360,"y":120,"wires":[["479c7521.03709c"]]},{"id":"479c7521.03709c","type":"change","z":"8d049f17.01cbb8","name":"token","rules":[{"t":"set","p":"access_token","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":120,"wires":[["6cfbcf5.d5de5b"]]},{"id":"114a7243.95e3fe","type":"comment","z":"8d049f17.01cbb8","name":"poll","info":"","x":130,"y":340,"wires":[]},{"id":"93d8583e.07c5c","type":"comment","z":"8d049f17.01cbb8","name":"push","info":"","x":130,"y":580,"wires":[]},{"id":"a788d066.03aef8","type":"comment","z":"8d049f17.01cbb8","name":"occupancy","info":"","x":780,"y":800,"wires":[]},{"id":"76e631a5.3cc4c8","type":"delay","z":"8d049f17.01cbb8","name":"1 msg/5s","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":780,"y":840,"wires":[["b56d76da.d6a32"]]},{"id":"a5a9fac4.4384e","type":"switch","z":"8d049f17.01cbb8","name":"is pet?","property":"payload.category","propertyType":"msg","rules":[{"t":"eq","v":"animal","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":520,"wires":[["f3dede86.7dab6"]]},{"id":"f3dede86.7dab6","type":"function","z":"8d049f17.01cbb8","name":"Kit-Kat seen","func":"const KIT_KAT = 'Kit-Kat';\n\nnode.log('[Welcome] ' + KIT_KAT + ' seen');\n\nmsg.payload = [ KIT_KAT ];\n\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":520,"wires":[["3a08fefa.86c7ca"]]},{"id":"3a08fefa.86c7ca","type":"link out","z":"8d049f17.01cbb8","name":"motion","links":["57732561.a6d06c"],"x":1435,"y":520,"wires":[]},{"id":"75e511fd.a7b52","type":"comment","z":"8d049f17.01cbb8","name":"motion","info":"","x":770,"y":480,"wires":[]},{"id":"98bc2b5e.5d8728","type":"comment","z":"8d049f17.01cbb8","name":"seen","info":"","x":1510,"y":520,"wires":[]},{"id":"52c402a6.f6dcf4","type":"function","z":"de4c3775.307bb8","name":"serialise","func":"const PULLED = 'NRPulled-';\n\nvar events = msg.payload.body.events_list;\n\n// remove old event\nevents.pop();\n\nif (events.length === 0) {\n    // no new event\n    return null;\n}\n\n// build a message for each new event\nvar msgs = [];\nevents.forEach(function(e, i) {\n    e.push_type = PULLED + e.type;\n    e.event_type = e.sub_type;\n    e.source = 'polling';\n    if (e.person_id !== undefined) {\n        e.persons = [ { id: e.person_id } ];\n    }\n\n    msgs.push({ payload: e });\n});\n\n// save latest event id for next poll\nflow.set('lastEventId', events[0].id);\n\nreturn [ msgs ];","outputs":1,"noerr":0,"x":640,"y":280,"wires":[[]]},{"id":"e730a006.180e6","type":"subflow:de4c3775.307bb8","z":"8d049f17.01cbb8","name":"web poll","env":[{"name":"frequency (min)","value":"1","type":"num"}],"x":140,"y":380,"wires":[["edcd9893.a08358"]]},{"id":"b56d76da.d6a32","type":"change","z":"8d049f17.01cbb8","name":"payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"home_id\": $flowContext('homeId'), \"size\": 999 }","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":860,"wires":[["5744bdbe.f7619c"]]},{"id":"db591e0.d9e056","type":"change","z":"8d049f17.01cbb8","name":"payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"home_id\": $flowContext('homeId'), \"size\": 0 }","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":700,"wires":[["7030134.a77176c"]]},{"id":"44e0dd4f.9ea884","type":"change","z":"8d049f17.01cbb8","name":"unknown","rules":[{"t":"set","p":"topic","pt":"msg","to":"[Welcome] unknown event!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":380,"wires":[["27ee971b.725ce"]]},{"id":"b07cf8f4.dcc548","type":"change","z":"8d049f17.01cbb8","name":"exception","rules":[{"t":"set","p":"topic","pt":"msg","to":"[Welcome] !! ERROR !!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":260,"wires":[["27ee971b.725ce"]]},{"id":"29216ecd.e5e1e2","type":"debug","z":"825a485e.cb472","name":"console","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":540,"y":180,"wires":[]},{"id":"f13efb9.4751b88","type":"change","z":"de4c3775.307bb8","name":"payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t   \"home_id\": $flowContext('$parent.homeId'),\t   \"event_id\": $flowContext('lastEventId'),\t   \"size\": 999 \t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":300,"wires":[["d76608da.348258"]]},{"id":"824ea97b.bae9e","type":"http request","z":"bca00684.0a8028","name":"call","method":"GET","ret":"obj","paytoqs":true,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":100,"wires":[[]]},{"id":"e084210b.e596a8","type":"change","z":"bca00684.0a8028","name":"build params","rules":[{"t":"set","p":"headers","pt":"msg","to":"{ \"authorization\": \"Bearer \" & $flowContext('$parent.access_token') }","tot":"jsonata"},{"t":"set","p":"url","pt":"msg","to":"$globalContext($env(\"api\"))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":100,"wires":[["824ea97b.bae9e"]]},{"id":"5744bdbe.f7619c","type":"subflow:bca00684.0a8028","z":"8d049f17.01cbb8","name":"gethomedata","env":[{"name":"api","value":"NETATMO_GET_HOMEDATA","type":"str"}],"x":1030,"y":820,"wires":[["3753f302.f564cc"]]},{"id":"7030134.a77176c","type":"subflow:bca00684.0a8028","z":"8d049f17.01cbb8","name":"gethomedata","env":[{"name":"api","value":"NETATMO_GET_HOMEDATA","type":"str"}],"x":1030,"y":660,"wires":[["e6acb7c3.5eb488"]]},{"id":"8ccd1a7b.f40878","type":"websocket in","z":"c4501fec.18195","name":"websocket","server":"","client":"b6121354.ee16e8","x":140,"y":400,"wires":[["5dfcdb81.c76e04","cd95d658.22a1f8"]]},{"id":"fec1f57c.b5738","type":"inject","z":"c4501fec.18195","name":"2h","topic":"","payload":"","payloadType":"date","repeat":"7200","crontab":"","once":false,"onceDelay":"5","x":130,"y":200,"wires":[["b6fc528b.7382f"]]},{"id":"ee6b81f8.37b2","type":"websocket out","z":"c4501fec.18195","name":"websocket","server":"","client":"b6121354.ee16e8","x":1250,"y":200,"wires":[]},{"id":"b6fc528b.7382f","type":"change","z":"c4501fec.18195","name":"subscribe","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"action\":\"Subscribe\",\t    \"filter\":\"all\",\t    \"access_token\":$flowContext('access_token'),\t    \"app_type\":\"app_camera\",\t    \"platform\":\"Web\"\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":200,"wires":[["ee6b81f8.37b2","d37f115f.71e1"]]},{"id":"5dfcdb81.c76e04","type":"json","z":"c4501fec.18195","name":"parse JSON","property":"payload","action":"obj","pretty":false,"x":370,"y":400,"wires":[["8c694f86.2a81b8"]]},{"id":"cb365510.581e98","type":"comment","z":"8d049f17.01cbb8","name":"push","info":"","x":130,"y":460,"wires":[]},{"id":"3d0b6b0c.0805a4","type":"subflow:c4501fec.18195","z":"8d049f17.01cbb8","name":"websocket","env":[],"x":140,"y":500,"wires":[["edcd9893.a08358"]]},{"id":"6eef670.c709e18","type":"function","z":"c4501fec.18195","name":"format","func":"var payload = msg.payload;\n\nvar event;\nvar extra_params = payload.extra_params;\nif (extra_params !== undefined) {\n    event = extra_params;\n    event.push_type = payload.push_type;\n} else {\n    event = payload;\n}\nevent.source = 'wsocket';\n\nmsg.payload = event;\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":420,"wires":[[]]},{"id":"58286bbb.fba50c","type":"inject","z":"de4c3775.307bb8","name":"1min","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":"3","x":150,"y":280,"wires":[["f13efb9.4751b88"]]},{"id":"5bea8fb1.a3c7c8","type":"http in","z":"df7c03c4.17bca8","name":"webhook","url":"/welcome","method":"post","upload":false,"swaggerDoc":"","x":140,"y":480,"wires":[["e0b3a73a.b6d4d8","6cf31c0b.022aac","52715c11.9a9e54","97a13ab4.aaca2"]]},{"id":"e0b3a73a.b6d4d8","type":"http response","z":"df7c03c4.17bca8","name":"200 ok","statusCode":"","headers":{},"x":350,"y":480,"wires":[]},{"id":"6cf31c0b.022aac","type":"trigger","z":"df7c03c4.17bca8","op1":"","op2":"webhook 2h watchdog","op1type":"nul","op2type":"str","duration":"2","extend":true,"units":"hr","reset":"","bytopic":"all","name":"2h watchdog","x":370,"y":560,"wires":[["2846d9b5.3a56e6"]]},{"id":"2846d9b5.3a56e6","type":"subflow:825a485e.cb472","z":"df7c03c4.17bca8","name":"","env":[{"name":"topic","value":"[Welcome] !! ALERT !! webhook watchdog","type":"str"}],"x":590,"y":560,"wires":[]},{"id":"52715c11.9a9e54","type":"function","z":"df7c03c4.17bca8","name":"filter duplicate","func":"const MINIMUM_TIME = 10; //seconds between 2 messages\n\nvar payload = msg.payload;\nvar now = Math.round( new Date().getTime() / 1000 );\n\nvar previousPayload = flow.get('previousPayload') || {};\nvar previousTime = flow.get('previousTime') || 0;\n\nflow.set('previousPayload', payload);\nflow.set('previousTime', now);\n\nif (now - previousTime > MINIMUM_TIME) {\n    return msg;\n}\n\nfor(const k in payload) {\n    if (payload[k] !== previousPayload[k]) {\n        return msg;\n    }\n}\n\nreturn null;","outputs":1,"noerr":0,"x":380,"y":400,"wires":[["a20491e4.071e78"]]},{"id":"a20491e4.071e78","type":"function","z":"df7c03c4.17bca8","name":"format","func":"msg.payload.source = 'webhook';\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":400,"wires":[[]]},{"id":"4dd3ccc8.a8d074","type":"switch","z":"df7c03c4.17bca8","name":"status","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1030,"y":160,"wires":[["2ae4e43d.268f4c"],["c0696d3a.dfebc"]],"outputLabels":[null,"200"]},{"id":"ad242b0c.6eaa28","type":"switch","z":"df7c03c4.17bca8","name":"status","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":160,"wires":[["390c354a.f02e5a"],["ca2b4ce1.5d75"]],"outputLabels":["","200"]},{"id":"20396d37.df9ab2","type":"subflow:825a485e.cb472","z":"df7c03c4.17bca8","name":"","env":[],"x":590,"y":260,"wires":[]},{"id":"ea823103.9ce06","type":"change","z":"df7c03c4.17bca8","name":"payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"url\": $globalContext('WEBHOOK'), \"app_type\": \"app_camera\" }","tot":"jsonata"},{"t":"set","p":"access_token","pt":"flow","to":"$parent.access_token","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":180,"wires":[["f89cd8dc.3f772"]]},{"id":"390c354a.f02e5a","type":"change","z":"df7c03c4.17bca8","name":"payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"url\": $globalContext('WEBHOOK'), \"app_type\": \"app_camera\" }","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":180,"wires":[["a10768f8.f54078"]]},{"id":"ca2b4ce1.5d75","type":"change","z":"df7c03c4.17bca8","name":"failed","rules":[{"t":"set","p":"topic","pt":"msg","to":"[Welcome] !! ERROR !! add/drop webhook","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":220,"wires":[["20396d37.df9ab2"]]},{"id":"f89cd8dc.3f772","type":"subflow:bca00684.0a8028","z":"df7c03c4.17bca8","name":"dropwebhook","env":[{"name":"api","value":"NETATMO_DROP_WEBHOOK","type":"str"}],"x":380,"y":140,"wires":[["ad242b0c.6eaa28"]]},{"id":"a10768f8.f54078","type":"subflow:bca00684.0a8028","z":"df7c03c4.17bca8","name":"addwebhook","env":[{"name":"api","value":"NETATMO_ADD_WEBHOOK","type":"str"}],"x":810,"y":140,"wires":[["4dd3ccc8.a8d074"]]},{"id":"3cd0d3e0.e1a5b4","type":"inject","z":"df7c03c4.17bca8","name":"Initialise","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"4","x":140,"y":160,"wires":[["ea823103.9ce06"]]},{"id":"e5e1e29b.233fe","type":"function","z":"8d049f17.01cbb8","name":"homeId","func":"var home = msg.payload.body.homes[0];\n\nflow.set('homeId', home.id);\n//global.set('vpnUrl', home.cameras[0].vpn_url + '/live/index_local.m3u8');\n\nnode.log('[Welcome] home is ' + home.name);\n\nreturn msg;","outputs":0,"noerr":0,"x":1020,"y":120,"wires":[]},{"id":"6cfbcf5.d5de5b","type":"change","z":"8d049f17.01cbb8","name":"payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"size\": 0 }","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":140,"wires":[["bf064b40.01894"]]},{"id":"bf064b40.01894","type":"subflow:bca00684.0a8028","z":"8d049f17.01cbb8","name":"gethomedata","env":[{"name":"api","value":"NETATMO_GET_HOMEDATA","type":"str"}],"x":790,"y":100,"wires":[["e5e1e29b.233fe"]]},{"id":"74af4a17.731cc4","type":"subflow:df7c03c4.17bca8","z":"8d049f17.01cbb8","name":"webhook","env":[],"x":140,"y":620,"wires":[["edcd9893.a08358"]]},{"id":"d76608da.348258","type":"subflow:bca00684.0a8028","z":"de4c3775.307bb8","name":"geteventsuntil","env":[{"name":"api","value":"NETATMO_GET_EVENTS_UNTIL","type":"str"}],"x":400,"y":260,"wires":[["52c402a6.f6dcf4"]]},{"id":"cd95d658.22a1f8","type":"trigger","z":"c4501fec.18195","op1":"","op2":"websocket 2h watchdog","op1type":"nul","op2type":"str","duration":"2","extend":true,"units":"hr","reset":"","bytopic":"all","name":"2h watchdog","x":370,"y":500,"wires":[["538fdfbd.07bdc8"]]},{"id":"538fdfbd.07bdc8","type":"subflow:825a485e.cb472","z":"c4501fec.18195","name":"","env":[{"name":"topic","value":"[Welcome] !! ALERT !! websocket 2h watchdog","type":"str"}],"x":590,"y":500,"wires":[]},{"id":"fdbd7daf.e4e44","type":"http request","z":"c4501fec.18195","name":"postlogin","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":600,"y":100,"wires":[["d4a2d819.b97d88"]]},{"id":"ffe37c93.cc7cc","type":"inject","z":"c4501fec.18195","name":"Initialise","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"6","x":140,"y":120,"wires":[["373e8963.2a08ae"]]},{"id":"c97460ac.809f7","type":"http request","z":"c4501fec.18195","name":"login page","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":100,"wires":[["48abee61.5c9488"]]},{"id":"48abee61.5c9488","type":"function","z":"c4501fec.18195","name":"payload","func":"const USER_AGENT = 'Node-RED';\nconst CONTENT_TYPE = 'application/x-www-form-urlencoded';\nconst BLAH_BLAH = 'blah blah blah...';\n\nvar cookies = '';\nfor(const k in msg.responseCookies) {\n    if (cookies.length > 0) {\n        cookies += ',';\n    }\n    cookies += k + '=' + msg.responseCookies[k].value;\n}\n\nmsg.url = global.get('NETATMO_POST_LOGIN');\nmsg.headers = {\n    'Cookie'        : cookies,\n    'User-Agent'    : USER_AGENT,\n    'Content-Type'  : CONTENT_TYPE\n};\nmsg.payload = {\n    _token      : BLAH_BLAH,\n    email       : global.get('USERNAME'),\n    password    : global.get('PASSWORD'),\n    stay_logged : true\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":140,"wires":[["fdbd7daf.e4e44"]]},{"id":"d4a2d819.b97d88","type":"function","z":"c4501fec.18195","name":"token","func":"var token = msg.responseCookies.netatmocomaccess_token.value;\n\nflow.set('access_token', token);\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":120,"wires":[["b6fc528b.7382f"]]},{"id":"79fb1d1.52f9ae4","type":"change","z":"de4c3775.307bb8","name":"payload","rules":[{"t":"set","p":"access_token","pt":"flow","to":"$parent.access_token","tot":"flow"},{"t":"set","p":"homeId","pt":"flow","to":"$parent.homeId","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"{\"size\":1}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":140,"wires":[["33532bb2.3a74dc"]]},{"id":"33532bb2.3a74dc","type":"subflow:bca00684.0a8028","z":"de4c3775.307bb8","name":"gethomedata","env":[{"name":"api","value":"NETATMO_GET_HOMEDATA","type":"str"}],"x":390,"y":100,"wires":[["612e227e.1df2ac","726b8f27.1726c8"]]},{"id":"17260d66.ad2cdb","type":"inject","z":"de4c3775.307bb8","name":"Initialise","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"5","x":160,"y":120,"wires":[["79fb1d1.52f9ae4"]]},{"id":"373e8963.2a08ae","type":"change","z":"c4501fec.18195","name":"payload","rules":[{"t":"set","p":"url","pt":"msg","to":"NETATMO_LOGIN_PAGE","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":140,"wires":[["c97460ac.809f7"]]},{"id":"612e227e.1df2ac","type":"change","z":"de4c3775.307bb8","name":"started","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"push_type\":\"polling_start\",\"source\":\"polling\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":220,"wires":[[]]},{"id":"726b8f27.1726c8","type":"change","z":"de4c3775.307bb8","name":"lastEventId","rules":[{"t":"set","p":"lastEventId","pt":"flow","to":"payload.body.homes[0].events[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":120,"wires":[[]]},{"id":"2c527956.0612ee","type":"subflow:825a485e.cb472","z":"df7c03c4.17bca8","name":"","env":[],"x":1030,"y":260,"wires":[]},{"id":"c0696d3a.dfebc","type":"change","z":"df7c03c4.17bca8","name":"failed","rules":[{"t":"set","p":"topic","pt":"msg","to":"[Welcome] !! ERROR !! add/drop webhook","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":220,"wires":[["2c527956.0612ee"]]},{"id":"30327cdc.910f5c","type":"change","z":"4b944d48.38615c","name":"icon","rules":[{"t":"set","p":"payload","pt":"msg","to":"'wi wi-2x wi-darksky-' & payload.icon","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":140,"wires":[["9f21a3a8.bb26f"]]},{"id":"e83de76c.0d556","type":"subflow:381d6206.231a6e","z":"640fc94c.c7b598","name":"cycle","env":[{"name":"room","value":"Fred's","type":"str"},{"name":"scenes","value":"[\"FR Bright\"]","type":"json"},{"name":"name","value":"Fred's","type":"str"}],"x":750,"y":140,"wires":[["8551cf3d.f5ac8"]]},{"id":"3e8a2514.6905da","type":"subflow:381d6206.231a6e","z":"640fc94c.c7b598","name":"cycle","env":[{"name":"room","value":"Fred's","type":"str"},{"name":"scenes","value":"[\"Savanna sunset\",\"Tropical twilight\",\"Arctic aurora\",\"Spring blossom\"]","type":"json"},{"name":"name","value":"Fred's","type":"str"}],"x":750,"y":300,"wires":[["8551cf3d.f5ac8"]]},{"id":"1058401a.8dbf48","type":"subflow:381d6206.231a6e","z":"640fc94c.c7b598","name":"cycle","env":[{"name":"room","value":"Fred's","type":"str"},{"name":"scenes","value":"[\"FR Soft\",\"Ants feeding\",\"Ants night\"]","type":"json"},{"name":"name","value":"Fred's","type":"str"}],"x":750,"y":460,"wires":[["8551cf3d.f5ac8"]]},{"id":"ff0b388b.602b9","type":"delay","z":"381d6206.231a6e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":270,"y":100,"wires":[["982b1b4e.cc2dc"]]},{"id":"8c694f86.2a81b8","type":"switch","z":"c4501fec.18195","name":"status","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"ok","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":400,"wires":[["bea46b4.7711198","45655390.0d83ac","83acb8b0.73665"],["6eef670.c709e18"]]},{"id":"bea46b4.7711198","type":"change","z":"c4501fec.18195","name":"connected","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"source\":\"wsocket\",\"push_type\":\"websocket_connection\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":320,"wires":[[]]},{"id":"45655390.0d83ac","type":"change","z":"c4501fec.18195","name":"occupancy","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"source\":\"wsocket\",\"push_type\":\"NACamera-silent\",\"event_type\":\"silent\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":360,"wires":[[]]},{"id":"d37f115f.71e1","type":"trigger","z":"c4501fec.18195","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"20","extend":false,"units":"s","reset":"","bytopic":"all","name":"20s watchdog","x":1260,"y":280,"wires":[["167260ba.c9f3ef"]]},{"id":"83acb8b0.73665","type":"change","z":"c4501fec.18195","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":280,"wires":[["d37f115f.71e1"]]},{"id":"167260ba.c9f3ef","type":"subflow:825a485e.cb472","z":"c4501fec.18195","name":"","env":[{"name":"topic","value":"[Welcome-wsocket] failed to subscribe","type":"str"}],"x":1470,"y":280,"wires":[]},{"id":"2ae4e43d.268f4c","type":"trigger","z":"df7c03c4.17bca8","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"20","extend":false,"units":"s","reset":"","bytopic":"all","name":"20s watchdog","x":1260,"y":320,"wires":[["83297dc0.6110d8"]]},{"id":"97a13ab4.aaca2","type":"change","z":"df7c03c4.17bca8","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":320,"wires":[["2ae4e43d.268f4c"]]},{"id":"83297dc0.6110d8","type":"subflow:825a485e.cb472","z":"df7c03c4.17bca8","name":"","env":[{"name":"topic","value":"[Welcome-wsocket] failed to subscribe","type":"str"}],"x":1470,"y":320,"wires":[]},{"id":"9b61e648.a83ce8","type":"subflow:381d6206.231a6e","z":"5da715ec.7bb304","name":"cycle","env":[{"name":"room","value":"Mei Lin's","type":"str"},{"name":"scenes","value":"[\"ML Bright\"]","type":"json"},{"name":"name","value":"Fred's","type":"str"}],"x":750,"y":140,"wires":[["95d1acc3.48d1c"]]},{"id":"c4e2799d.0c0be","type":"subflow:381d6206.231a6e","z":"5da715ec.7bb304","name":"cycle","env":[{"name":"room","value":"Mei Lin's","type":"str"},{"name":"scenes","value":"[\"Area 51\",\"Desert\",\"Vintage\",\"ML Savanna sunset\",\"ML Tropical twilight\",\"ML Arctic aurora\",\"ML Spring blossom\"]","type":"json"},{"name":"name","value":"Fred's","type":"str"}],"x":750,"y":300,"wires":[["95d1acc3.48d1c"]]},{"id":"f1520c2.af1747","type":"subflow:381d6206.231a6e","z":"5da715ec.7bb304","name":"cycle","env":[{"name":"room","value":"Mei Lin's","type":"str"},{"name":"scenes","value":"[\"Reading\",\"Night time\",\"Wake\"]","type":"json"},{"name":"name","value":"Fred's","type":"str"}],"x":750,"y":460,"wires":[["95d1acc3.48d1c"]]},{"id":"7b91471c.6f5738","type":"subflow:381d6206.231a6e","z":"be8ae70b.25fb8","name":"cycle","env":[{"name":"room","value":"Ground floor","type":"str"},{"name":"scenes","value":"[\"Dining + Living\",\"Dining room\",\"Living room\"]","type":"json"},{"name":"name","value":"Fred's","type":"str"}],"x":750,"y":140,"wires":[["50b5ea96.2db6ec"]]},{"id":"d41d957a.fde87","type":"subflow:381d6206.231a6e","z":"be8ae70b.25fb8","name":"cycle","env":[{"name":"room","value":"Ground floor","type":"str"},{"name":"scenes","value":"[\"GF Bright\"]","type":"json"},{"name":"name","value":"Fred's","type":"str"}],"x":750,"y":300,"wires":[["50b5ea96.2db6ec"]]},{"id":"56e2162d.7fd928","type":"subflow:381d6206.231a6e","z":"be8ae70b.25fb8","name":"cycle","env":[{"name":"room","value":"Ground floor","type":"str"},{"name":"scenes","value":"[\"GF Soft\"]","type":"json"},{"name":"name","value":"Fred's","type":"str"}],"x":750,"y":460,"wires":[["50b5ea96.2db6ec"]]},{"id":"cbe359e4.1eebc8","type":"switch","z":"5da715ec.7bb304","name":"not sleeping","property":"sleeping","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":720,"wires":[["e807b74e.526de"]]},{"id":"ace2d45f.c70dc8","type":"change","z":"5da715ec.7bb304","name":"sleeping","rules":[{"t":"set","p":"sleeping","pt":"flow","to":"payload.name = \"Night time\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1420,"y":140,"wires":[[]]}]