flows_Server-WineBox.json
[{"id":"2c160870.687d68","type":"tab","label":"Home","disabled":false,"info":""},{"id":"5e854383.546e74","type":"tab","label":"Winebox","disabled":false,"info":""},{"id":"8d049f17.01cbb8","type":"tab","label":"Welcome","disabled":false,"info":""},{"id":"ecd12ea2.51375","type":"tab","label":"Hue sensor","disabled":false,"info":""},{"id":"35f2ed46.dc3b2a","type":"tab","label":"Stairs","disabled":false,"info":""},{"id":"be8ae70b.25fb8","type":"tab","label":"Ground floor","disabled":false,"info":""},{"id":"640fc94c.c7b598","type":"tab","label":"Frédéric","disabled":false,"info":""},{"id":"5da715ec.7bb304","type":"tab","label":"Mei Lin","disabled":false,"info":""},{"id":"9ffd4a9e.5f5358","type":"tab","label":"Transcoding","disabled":true,"info":""},{"id":"b3b3386b.b8737","type":"hue-bridge","z":"","name":"Philips hue","bridge":"192.168.0.4","key":"1djMeJ73XpjEo8SjIctkc6BRbZmrDKrYHQR-nRBq","interval":"500"},{"id":"a466f7d2.91fb8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"a9efbaff.afd258","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#065155","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#235522","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#235522","value":"#235522","edited":true},"page-titlebar-backgroundColor":{"value":"#235522","edited":false},"page-backgroundColor":{"value":"#000000","edited":true},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#3a8c38","edited":false},"group-borderColor":{"value":"#070707","edited":true},"group-backgroundColor":{"value":"#000000","edited":true},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#235522","edited":false},"widget-borderColor":{"value":"#000000","edited":true},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Thorpebank road","hideToolbar":"true","allowSwipe":"true","lockMenu":"false","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":24,"sy":24,"gx":6,"gy":6,"cx":6,"cy":18,"px":0,"py":0}}},{"id":"a9dc9f0b.eda488","type":"ui_group","z":"","name":"Ground floor","tab":"a466f7d2.91fb8","order":2,"disp":false,"width":12,"collapse":false},{"id":"59addf93.5b4a78","type":"ui_group","z":"","name":"Corridor","tab":"a466f7d2.91fb8","order":4,"disp":false,"width":12,"collapse":false},{"id":"1c7b3864.a284c8","type":"ui_group","z":"","name":"Info","tab":"a466f7d2.91fb8","order":1,"disp":false,"width":24,"collapse":false},{"id":"9dd3e3b6.5753b","type":"ui_group","z":"","name":"Group 1","tab":"6f35e364.b2e484","order":2,"disp":false,"width":24,"collapse":false},{"id":"6f35e364.b2e484","type":"ui_tab","z":"","name":"Winebox","icon":"dashboard","disabled":false,"hidden":false},{"id":"c4ec91e1.1ae6c","type":"ui_group","z":"","name":"home temp (°C)","tab":"6f35e364.b2e484","order":1,"disp":false,"width":24,"collapse":false},{"id":"7ea82904.29855","type":"ui_group","z":"","name":"Group 2","tab":"6f35e364.b2e484","order":3,"disp":false,"width":24,"collapse":false},{"id":"976b7658.b18a28","type":"ui_group","z":"","name":"Group 3","tab":"6f35e364.b2e484","order":4,"disp":false,"width":24,"collapse":false},{"id":"f7aa75b4.76cda","type":"ui_group","z":"","name":"Group 4","tab":"6f35e364.b2e484","order":5,"disp":false,"width":24,"collapse":false},{"id":"9da27029.9a9b2","type":"git-nodes-config","z":"","name":"fantigny/Node-RED","git":"git@github.com:fantigny/Node-RED.git"},{"id":"e41e4d82.5f83f","type":"ui_spacer","name":"spacer","group":"1c7b3864.a284c8","order":3,"width":2,"height":1},{"id":"ddbef4a1.fa42e","type":"ui_spacer","name":"spacer","group":"1c7b3864.a284c8","order":7,"width":2,"height":1},{"id":"4b6b6018.6a05e8","type":"delay","z":"9ffd4a9e.5f5358","name":"1m throttle","pauseType":"rate","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":350,"y":180,"wires":[["fecd959b.4afc18"]],"outputLabels":["topic"]},{"id":"fecd959b.4afc18","type":"change","z":"9ffd4a9e.5f5358","name":"prepare env","rules":[{"t":"set","p":"SOURCE","pt":"flow","to":"/media/sdcard","tot":"str"},{"t":"set","p":"TO_PROCESS","pt":"flow","to":"/home/wine/to_process","tot":"str"},{"t":"set","p":"RAW","pt":"flow","to":"/media/data/raw","tot":"str"},{"t":"set","p":"TARGET","pt":"flow","to":"/home/wine/transcoded","tot":"str"},{"t":"set","p":"TRANS_EXT","pt":"flow","to":".mp4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":180,"wires":[["8389a705.525518","ed42d39.540eab"]]},{"id":"9c5d6e1f.7f03c","type":"switch","z":"9ffd4a9e.5f5358","name":"","property":"rc.code","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":280,"wires":[["4fceaadb.6fdff4"],["44361b01.9ffddc"]]},{"id":"4fceaadb.6fdff4","type":"function","z":"9ffd4a9e.5f5358","name":"handle error","func":"node.log('error code ' + msg.rc.code);\n\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":260,"wires":[["11b956b1.724471"]]},{"id":"c6eea7e5.2a05d","type":"exec","z":"9ffd4a9e.5f5358","command":"ffmpeg","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"transcode","x":740,"y":660,"wires":[["c82ba125.1d97a","e2b4036b.136428"],[],[]]},{"id":"8136b979.ccce78","type":"function","z":"9ffd4a9e.5f5358","name":"prepare params","func":"var source = flow.get('RAW') + '/' + msg.archiveFile;\nvar target = flow.get('RAW') + '/' + msg.targetFile;\n\nmsg.payload = '-i ' + source +\n    ' -y -filter:v fps=30000/1001 -c:v libx264 -preset:v medium -profile:v high -crf 20 -bf 0 -g 8 -tune fastdecode -pix_fmt yuvj420p -colorspace bt709 -color_primaries bt709 -color_trc bt709 -c:a aac -b:a 192k -chunk_size 64K ' +\n    target;\nreturn msg","outputs":1,"noerr":0,"x":500,"y":660,"wires":[["c6eea7e5.2a05d"]]},{"id":"c82ba125.1d97a","type":"switch","z":"9ffd4a9e.5f5358","name":"","property":"rc.code","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":640,"wires":[["88cdda38.f837d8"],["52770d67.54ad14"]]},{"id":"88cdda38.f837d8","type":"function","z":"9ffd4a9e.5f5358","name":"handle error","func":"node.log('error code ' + msg.rc.code);\n\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":620,"wires":[["11b956b1.724471"]]},{"id":"4d3c70a3.3ff148","type":"exec","z":"9ffd4a9e.5f5358","command":"mv","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"publish","x":740,"y":780,"wires":[["55d36579.1286f4"],[],[]]},{"id":"52770d67.54ad14","type":"function","z":"9ffd4a9e.5f5358","name":"prepare filepaths","func":"var source = flow.get('RAW') + '/' + msg.targetFile;\nvar target = flow.get('TARGET');\n\nmsg.payload = source + ' ' + target;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":780,"wires":[["4d3c70a3.3ff148"]]},{"id":"55d36579.1286f4","type":"switch","z":"9ffd4a9e.5f5358","name":"","property":"rc.code","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":760,"wires":[["34210fd4.e1832"],["11b956b1.724471","273f11cb.4c83be"]]},{"id":"34210fd4.e1832","type":"function","z":"9ffd4a9e.5f5358","name":"handle error","func":"node.log('error code ' + msg.rc.code);\n\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":720,"wires":[["11b956b1.724471"]]},{"id":"8b1712b9.c308f8","type":"exec","z":"9ffd4a9e.5f5358","command":"cp","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"copy","x":730,"y":300,"wires":[["9c5d6e1f.7f03c"],[],[]]},{"id":"425d9147.876d78","type":"function","z":"9ffd4a9e.5f5358","name":"prepare filepaths","func":"var source = flow.get('SOURCE') + '/*';\nvar target = flow.get('TO_PROCESS');\n\nmsg.payload = source + ' ' + target;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":300,"wires":[["8b1712b9.c308f8"]]},{"id":"e2b4036b.136428","type":"Serial Iterator","z":"9ffd4a9e.5f5358","name":"for each","property":"files","inputFlow":"input","saveOutput":0,"recursive":0,"storeId":0,"x":740,"y":420,"wires":[["c8096553.ef9fa"],[]]},{"id":"44361b01.9ffddc","type":"fs-ops-dir","z":"9ffd4a9e.5f5358","name":"list files","path":"TO_PROCESS","pathType":"flow","filter":"*","filterType":"str","dir":"files","dirType":"msg","x":480,"y":420,"wires":[["e2b4036b.136428"]]},{"id":"273f11cb.4c83be","type":"function","z":"9ffd4a9e.5f5358","name":"log","func":"node.log('file is ready ' + msg.targetFile)\n\nreturn msg;","outputs":0,"noerr":0,"x":1110,"y":840,"wires":[]},{"id":"61b3beae.5c9e8","type":"exec","z":"9ffd4a9e.5f5358","command":"mv","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"archive","x":740,"y":540,"wires":[["a44fa549.7f2f2"],[],[]]},{"id":"1dd850d4.fa018f","type":"function","z":"9ffd4a9e.5f5358","name":"prepare filepaths","func":"var source = flow.get('TO_PROCESS') + '/' + msg.sourceFile;\nvar target = flow.get('RAW') + '/' + msg.archiveFile;\n\nmsg.payload = source + ' ' + target;\nreturn msg","outputs":1,"noerr":0,"x":510,"y":540,"wires":[["61b3beae.5c9e8"]]},{"id":"a44fa549.7f2f2","type":"switch","z":"9ffd4a9e.5f5358","name":"","property":"rc.code","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":520,"wires":[["116d378e.e10f68"],["8136b979.ccce78"]]},{"id":"116d378e.e10f68","type":"function","z":"9ffd4a9e.5f5358","name":"handle error","func":"node.log('error code ' + msg.rc.code);\n\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":500,"wires":[["11b956b1.724471"]]},{"id":"c8096553.ef9fa","type":"function","z":"9ffd4a9e.5f5358","name":"update context","func":"var datetime = new Date().toISOString().replace(/:/ig, '-');\nvar filename = msg.payload.replace(/ /ig, '\\\\ ');\n\nmsg.sourceFile = filename;\nmsg.archiveFile = datetime + '-' + msg.sourceFile;\nmsg.targetFile = msg.sourceFile + flow.get('TRANS_EXT');\n\nreturn msg","outputs":1,"noerr":0,"x":960,"y":400,"wires":[["1dd850d4.fa018f"]]},{"id":"8389a705.525518","type":"fs-ops-dir","z":"9ffd4a9e.5f5358","name":"check Media","path":"SOURCE","pathType":"flow","filter":"*","filterType":"str","dir":"files","dirType":"msg","x":230,"y":280,"wires":[["14278d76.bb4a33"]]},{"id":"14278d76.bb4a33","type":"switch","z":"9ffd4a9e.5f5358","name":"if files","property":"files.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":360,"wires":[["425d9147.876d78"],["44361b01.9ffddc"]]},{"id":"ed42d39.540eab","type":"function","z":"9ffd4a9e.5f5358","name":"set color","func":"msg.payload = msg.payload = {\"on\": true, 'hex': '8F0000'};\n\nnode.log('transcoding...');\n\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":180,"wires":[["c3520e2e.da401"]]},{"id":"c3520e2e.da401","type":"hue-light","z":"9ffd4a9e.5f5358","d":true,"name":"Desk","bridge":"b3b3386b.b8737","lightid":"13","colornamer":true,"x":970,"y":180,"wires":[[]]},{"id":"11b956b1.724471","type":"function","z":"9ffd4a9e.5f5358","name":"turn off","func":"msg.payload = {\"on\": false};\n\nnode.log('transcoding finished.');\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1360,"y":820,"wires":[["365ac198.e41896"]]},{"id":"365ac198.e41896","type":"hue-light","z":"9ffd4a9e.5f5358","d":true,"name":"Desk","bridge":"b3b3386b.b8737","lightid":"13","colornamer":true,"x":1530,"y":820,"wires":[[]]},{"id":"8f86aaa6.b7dd78","type":"inject","z":"9ffd4a9e.5f5358","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":100,"wires":[["4b6b6018.6a05e8"]]},{"id":"8551cf3d.f5ac8","type":"hue-scene","z":"640fc94c.c7b598","name":"Scene","bridge":"b3b3386b.b8737","sceneid":"","x":1210,"y":140,"wires":[[]]},{"id":"4849a693.2f8188","type":"inject","z":"5da715ec.7bb304","name":"Week days 8:50pm","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"50 20 * * 1,2,3,4,0","once":false,"onceDelay":0.1,"x":520,"y":680,"wires":[["faf32be.83cab58"]]},{"id":"12121b4a.0489ed","type":"inject","z":"5da715ec.7bb304","name":"Week-end 9:50pm","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"50 21 * * 5,6","once":false,"onceDelay":0.1,"x":520,"y":720,"wires":[["faf32be.83cab58"]]},{"id":"7d874e46.5ff778","type":"inject","z":"5da715ec.7bb304","name":"Week days 9:50pm","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"50 21 * * 1,2,3,4,0","once":false,"onceDelay":0.1,"x":520,"y":800,"wires":[["e807b74e.526de"]]},{"id":"c34a2987.266698","type":"inject","z":"5da715ec.7bb304","name":"Week-end 10:50pm","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"50 22 * * 5,6","once":false,"onceDelay":0.1,"x":520,"y":840,"wires":[["e807b74e.526de"]]},{"id":"d8fc8898.1dfd58","type":"function","z":"5da715ec.7bb304","name":"log","func":"node.log('[Mei Lin] bed time!');\n\nreturn msg;","outputs":0,"noerr":0,"x":770,"y":740,"wires":[]},{"id":"a682b305.0656d","type":"hue-light","z":"5da715ec.7bb304","name":"Piano","bridge":"b3b3386b.b8737","lightid":"15","colornamer":true,"x":1210,"y":700,"wires":[[]]},{"id":"faf32be.83cab58","type":"change","z":"5da715ec.7bb304","name":"bed alert","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"color\": \"orange\" }","tot":"json"},{"t":"set","p":"payload.alert","pt":"msg","to":"5","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":700,"wires":[["d8fc8898.1dfd58","a682b305.0656d"]]},{"id":"e807b74e.526de","type":"change","z":"5da715ec.7bb304","name":"sleep alert","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"color\": \"red\" }","tot":"json"},{"t":"set","p":"payload.alert","pt":"msg","to":"5","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":820,"wires":[["3675aadf.c756ee","69c0938c.5e23c4"]]},{"id":"3675aadf.c756ee","type":"hue-light","z":"5da715ec.7bb304","name":"Living","bridge":"b3b3386b.b8737","lightid":"19","colornamer":true,"x":1210,"y":820,"wires":[[]]},{"id":"33bd1cc8.61ad2c","type":"hue-switch","z":"640fc94c.c7b598","name":"Fred’s","bridge":"b3b3386b.b8737","sensorid":"39","x":130,"y":420,"wires":[["906185f6.b9c63"]]},{"id":"6e0ca65e.01e0f","type":"switch","z":"640fc94c.c7b598","name":"button","property":"payload.name","propertyType":"msg","rules":[{"t":"eq","v":"On","vt":"str"},{"t":"eq","v":"Dim Up","vt":"str"},{"t":"eq","v":"Dim Down","vt":"str"},{"t":"eq","v":"Off","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":370,"y":360,"wires":[["982b1b4e.cc2dc"],["e782a329.63d9c"],["af57399f.c3e5f8"],["2496dfce.8c501"]]},{"id":"af57399f.c3e5f8","type":"switch","z":"640fc94c.c7b598","name":"action","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"pressed","vt":"str"},{"t":"eq","v":"holded","vt":"str"},{"t":"eq","v":"short released","vt":"str"},{"t":"eq","v":"short released","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":570,"y":400,"wires":[[],["1162e216.7dad5e"],["95ccd170.b22298"],[]]},{"id":"7315f3a2.0a2df4","type":"function","z":"640fc94c.c7b598","name":"toggle","func":"const scenes = [\n    'Savanna sunset',\n    'Tropical twilight',\n    'Arctic aurora',\n    'Spring blossom'\n];\n\nvar count = context.get('count');\nif (count === undefined) {\n    count = 0;\n}\n\nvar scene = flow.get('scene');\nif (flow.get('anyOn') === true) {\n    for(var i=0; i<scenes.length; i++) {\n        if (scenes[i] === scene) {\n            if (++count >= scenes.length) {\n                count = 0;\n            }\n            break;\n        }\n    }\n}\n\nscene = scenes[count];\ncontext.set('count', count);\nflow.set('scene', scene);\nmsg.payload = scene;\n\nnode.log('[Fred\\'s] set scene ' + scene);\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":300,"wires":[["8551cf3d.f5ac8"]]},{"id":"f8180167.a407b","type":"comment","z":"640fc94c.c7b598","name":"Dim Up","info":"","x":770,"y":220,"wires":[]},{"id":"6fc1b1dc.d78718","type":"function","z":"640fc94c.c7b598","name":"brightness","func":"const BRIGHTNESS_STEP = 15;\n\nvar step = BRIGHTNESS_STEP * msg.payload;\nvar message = { payload: {\n    incrementBrightness: step,\n    transitionTime: 1.1\n}};\n\nvar msgs = [null, null, null];\nvar lightsOn = flow.get('lightsOn') || {};\nif (lightsOn['Bed'] === true) {\n    msgs[0] = message;\n}\nif (lightsOn['Desk'] === true) {\n    msgs[1] = message;\n}\nif (lightsOn['Ceiling'] === true) {\n    msgs[2] = message;\n}\n\nnode.log('[Fred\\'s] changing brightness (' +\n    step + ')');\n\nreturn msgs;","outputs":3,"noerr":0,"x":990,"y":340,"wires":[["4f9bb688.f6baf"],["afd45d18.666a58"],["de9161e7.a5d4c"]]},{"id":"2496dfce.8c501","type":"function","z":"640fc94c.c7b598","name":"off","func":"msg.payload.on = false;\n\nnode.log('[Fred\\'s] turn off');\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":580,"wires":[["9dd9c2dd.1febe"]]},{"id":"c3c595d7.3d23c","type":"comment","z":"640fc94c.c7b598","name":"Off","info":"","x":770,"y":540,"wires":[]},{"id":"b6260910.916dd","type":"comment","z":"640fc94c.c7b598","name":"Dim Down","info":"","x":780,"y":380,"wires":[]},{"id":"e782a329.63d9c","type":"switch","z":"640fc94c.c7b598","name":"action","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"pressed","vt":"str"},{"t":"eq","v":"holded","vt":"str"},{"t":"eq","v":"short released","vt":"str"},{"t":"eq","v":"long released","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":570,"y":320,"wires":[[],["9b1ce05b.ffde8"],["7315f3a2.0a2df4"],[]]},{"id":"2ab68d6b.4dd9ca","type":"function","z":"640fc94c.c7b598","name":"log","func":"node.log('[Fred\\'s] ' +\n    msg.payload.name +\n    ': ' +\n    msg.payload.action +\n    ' (' +\n    msg.payload.button +\n    ')');\n","outputs":0,"noerr":0,"x":370,"y":300,"wires":[]},{"id":"be538f85.dba76","type":"http in","z":"8d049f17.01cbb8","name":"webhook","url":"/welcome","method":"post","upload":false,"swaggerDoc":"","x":140,"y":520,"wires":[["8076c055.ffcb38","fe04127a.54ee98","edcd9893.a08358"]]},{"id":"8076c055.ffcb38","type":"http response","z":"8d049f17.01cbb8","name":"","statusCode":"","headers":{},"x":350,"y":460,"wires":[]},{"id":"fe04127a.54ee98","type":"switch","z":"8d049f17.01cbb8","name":"type","property":"payload.push_type","propertyType":"msg","rules":[{"t":"eq","v":"NACamera-movement","vt":"str"},{"t":"eq","v":"NACamera-person","vt":"str"},{"t":"eq","v":"topology_changed","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":350,"y":520,"wires":[["fbab8f6f.85efc8"],["fbab8f6f.85efc8","c489424c.b87758"],["c79f7906.c33868"]]},{"id":"bc2eab3a.39f358","type":"hue-switch","z":"be8ae70b.25fb8","name":"Ground floor","bridge":"b3b3386b.b8737","sensorid":"41","x":150,"y":420,"wires":[["2ee73498.9d09ac"]]},{"id":"320795bf.8de982","type":"hue-light","z":"be8ae70b.25fb8","name":"Living","bridge":"b3b3386b.b8737","lightid":"19","colornamer":true,"x":1210,"y":280,"wires":[["1e302216.824616"]]},{"id":"2126c349.a8302c","type":"hue-light","z":"be8ae70b.25fb8","name":"Dining","bridge":"b3b3386b.b8737","lightid":"33","colornamer":true,"x":1210,"y":340,"wires":[["1e302216.824616"]]},{"id":"d9d09fb0.466d98","type":"hue-light","z":"be8ae70b.25fb8","name":"Dining","bridge":"b3b3386b.b8737","lightid":"30","colornamer":true,"x":1210,"y":360,"wires":[[]]},{"id":"dc82d43a.6295e","type":"hue-light","z":"be8ae70b.25fb8","name":"Dining","bridge":"b3b3386b.b8737","lightid":"29","colornamer":true,"x":1210,"y":380,"wires":[[]]},{"id":"a06645a2.731818","type":"hue-light","z":"2c160870.687d68","name":"Living","bridge":"b3b3386b.b8737","lightid":"19","colornamer":true,"x":510,"y":1040,"wires":[["49fa0946.754148"]]},{"id":"ab7ceebf.923aa8","type":"ui_button","z":"2c160870.687d68","name":"dining","group":"a9dc9f0b.eda488","order":4,"width":4,"height":3,"passthru":false,"label":"","tooltip":"","color":"orange","bgcolor":"","icon":"fa-cutlery  fa-2x","payload":"Dining room","payloadType":"str","topic":"","x":130,"y":620,"wires":[["d8a65309.2ec488"]]},{"id":"3d651460.4cb214","type":"hue-scene","z":"2c160870.687d68","name":"Scene","bridge":"b3b3386b.b8737","sceneid":"","x":510,"y":660,"wires":[[]]},{"id":"b18d52e3.2723d","type":"ui_button","z":"2c160870.687d68","name":"living","group":"a9dc9f0b.eda488","order":6,"width":4,"height":3,"passthru":false,"label":"","tooltip":"","color":"black","bgcolor":"brown","icon":"fa-television fa-2x","payload":"Living room","payloadType":"str","topic":"","x":130,"y":660,"wires":[["d8a65309.2ec488"]]},{"id":"a2d60b1c.01b518","type":"ui_button","z":"2c160870.687d68","name":"night","group":"59addf93.5b4a78","order":5,"width":4,"height":3,"passthru":false,"label":"","tooltip":"","color":"darkgrey","bgcolor":"#171717","icon":"fa-bed fa-2x","payload":"Corridor Night","payloadType":"str","topic":"","x":970,"y":580,"wires":[["356d210a.f7bfb6"]]},{"id":"8149e5a0.9acad8","type":"ui_button","z":"2c160870.687d68","name":"dimmed","group":"59addf93.5b4a78","order":6,"width":4,"height":3,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"grey","icon":"fa-skyatlas fa-2x","payload":"Corridor Dimmed","payloadType":"str","topic":"","x":980,"y":620,"wires":[["356d210a.f7bfb6"]]},{"id":"4ade30a6.0c81b8","type":"ui_text","z":"2c160870.687d68","group":"a9dc9f0b.eda488","order":3,"width":12,"height":1,"name":"last seen","label":"Last seen","format":"{{msg.payload}}","layout":"row-spread","x":520,"y":460,"wires":[]},{"id":"57732561.a6d06c","type":"link in","z":"2c160870.687d68","name":"seen","links":["39f9382.7d665c8","6690773d.d3dbe8"],"x":95,"y":460,"wires":[["19b99cb6.4197ab"]]},{"id":"f8adb1f8.9bb7f","type":"link in","z":"2c160870.687d68","name":"timer","links":["167c7a6.80a6d86"],"x":995,"y":500,"wires":[["a23cfbab.d74448"]]},{"id":"f321c827.5e7b48","type":"ui_text","z":"2c160870.687d68","group":"1c7b3864.a284c8","order":8,"width":24,"height":2,"name":"date","label":"","format":"<font size=\"6\">{{msg.payload}}</font>","layout":"col-center","x":510,"y":240,"wires":[]},{"id":"ff15b0e9.451418","type":"inject","z":"2c160870.687d68","name":"1 min","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":220,"wires":[["22b8c335.3e943c","786e8eef.f60f08"]]},{"id":"22b8c335.3e943c","type":"moment","z":"2c160870.687d68","name":"date","topic":"","input":"payload","inputType":"msg","inTz":"Europe/London","adjAmount":0,"adjType":"days","adjDir":"add","format":"dddd, DD MMMM YYYY","locale":"en_GB","output":"payload","outputType":"msg","outTz":"Europe/London","x":330,"y":240,"wires":[["f321c827.5e7b48"]]},{"id":"b24ab1c3.dbaa18","type":"ui_text","z":"2c160870.687d68","group":"1c7b3864.a284c8","order":4,"width":20,"height":2,"name":"time","label":"","format":"<font size=\"10\">{{msg.payload}}</font>","layout":"row-center","x":510,"y":200,"wires":[]},{"id":"786e8eef.f60f08","type":"moment","z":"2c160870.687d68","name":"time","topic":"","input":"payload","inputType":"msg","inTz":"Europe/London","adjAmount":0,"adjType":"days","adjDir":"add","format":"h:mm a","locale":"en_GB","output":"payload","outputType":"msg","outTz":"Europe/London","x":330,"y":200,"wires":[["b24ab1c3.dbaa18"]]},{"id":"e7fcb2c5.f69d8","type":"ui_template","z":"2c160870.687d68","group":"1c7b3864.a284c8","name":"forecast7","order":2,"width":20,"height":3,"format":"<a  class=\"weatherwidget-io\"\n    href=\"https://forecast7.com/en/51d51n0d13/london/\"\n    data-icons=\"Climacons\"\n    data-days=\"3\"\n    data-theme=\"weather_one\"></a>\n","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":520,"y":140,"wires":[[]]},{"id":"c79f7906.c33868","type":"function","z":"8d049f17.01cbb8","name":"gethomedata","func":"msg.headers = {\n    authorization: 'Bearer ' +\n        flow.get('access_token')\n};\nmsg.home_id = flow.get('homeId');\nmsg.payload = { size: 0 };\nmsg.url = 'https://api.netatmo.net/api/gethomedata';\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":720,"wires":[["7a52c2fa.2b096c"]]},{"id":"7a52c2fa.2b096c","type":"http request","z":"8d049f17.01cbb8","name":"","method":"GET","ret":"obj","paytoqs":true,"url":"https://api.netatmo.net/api/gethomedata","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":760,"wires":[["3753f302.f564cc"]]},{"id":"3753f302.f564cc","type":"function","z":"8d049f17.01cbb8","name":"people home","func":"const UNKNOWN = 'Unknown';\n\nvar pseudos = [];\nvar oneUnknown = false;\nvar persons = msg.payload.body.homes[0].persons;\nfor(var i=0; i<persons.length; i++) {\n    var person = persons[i];\n    if (person.out_of_sight === true) {\n        continue;\n    }\n    if (person.pseudo !== undefined) {\n        pseudos.push(person.pseudo);\n    } else if (oneUnknown === false) {\n        oneUnknown = true;\n        pseudos.push(UNKNOWN);\n    }\n}\n\nmsg.payload = pseudos;\n\nnode.log('[Welcome] ' + pseudos + ' at home');\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":720,"wires":[["b221abf5.b67228"]]},{"id":"d177584f.2cb78","type":"function","z":"8d049f17.01cbb8","name":"people seen","func":"const UNKNOWN = 'Unknown face';\n\nvar pseudos = [];\nvar ids = msg.payload.ids;\nvar idPseudos = msg.payload.idPseudos;\nfor(i=0; i<ids.length; i++) {\n    var pseudo = idPseudos[ids[i]];\n    if (pseudo !== undefined) {\n        pseudos.push(pseudo);\n    }\n}\n\nif (pseudos.length === 0) {\n    pseudos.push(UNKNOWN);\n}\n\nmsg.payload = pseudos;\n\nnode.log('[Welcome] ' + pseudos + ' seen');\n\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":600,"wires":[["39f9382.7d665c8"]]},{"id":"19b99cb6.4197ab","type":"function","z":"2c160870.687d68","name":"text","func":"msg.payload = msg.payload.join(', ');\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":460,"wires":[["4ade30a6.0c81b8"]]},{"id":"7031c9bd.997728","type":"ui_text","z":"2c160870.687d68","group":"1c7b3864.a284c8","order":9,"width":24,"height":2,"name":"occupancy","label":"","format":"<font size=\"5\">{{msg.payload}}</font>","layout":"row-center","x":530,"y":300,"wires":[]},{"id":"f99f0624.0403a","type":"function","z":"2c160870.687d68","name":"text","func":"var text = '';\nvar pseudos = msg.payload;\nif (pseudos.length === 0) {\n    text = 'nobody\\'s';\n} else {\n    pseudos.sort();\n    for(i=0; i<pseudos.length; i++) {\n        if (text !== '') {\n            if (i === pseudos.length-1) {\n                text += ' and ';\n            } else {\n                text += ', ';\n            }\n        }\n        text += pseudos[i];\n    }\n    text += ' ';\n    text += pseudos.length === 1?'is': 'are';\n}\ntext += ' home';\n\nmsg.payload = text;\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":300,"wires":[["7031c9bd.997728"]]},{"id":"a839f802.27091","type":"link in","z":"2c160870.687d68","name":"occupancy","links":["b221abf5.b67228","12eafbbd.71bb44","d14fbf83.bb29a"],"x":95,"y":300,"wires":[["f99f0624.0403a"]]},{"id":"b221abf5.b67228","type":"link out","z":"8d049f17.01cbb8","name":"occupancy","links":["a839f802.27091"],"x":975,"y":720,"wires":[]},{"id":"a64ca98.42c7c58","type":"comment","z":"2c160870.687d68","name":"Info","info":"","x":130,"y":80,"wires":[]},{"id":"519e65c2.db34ec","type":"ui_text","z":"2c160870.687d68","group":"59addf93.5b4a78","order":1,"width":8,"height":3,"name":"title","label":"","format":"<font size=\"6\" color=\"#65BFBB\"><b>Stairs</b></font>","layout":"row-center","x":1370,"y":380,"wires":[]},{"id":"9395448e.94399","type":"ui_text","z":"2c160870.687d68","group":"59addf93.5b4a78","order":4,"width":10,"height":1,"name":"display","label":"Timer","format":"{{msg.payload}}","layout":"row-spread","x":1380,"y":520,"wires":[]},{"id":"a23cfbab.d74448","type":"function","z":"2c160870.687d68","name":"messages","func":"const PIPE_RATE = 10 * 1000;//milliseconds\nconst DISABLED = '(disabled)';\n\nvar pipeCount = msg.delay / PIPE_RATE;\nvar timer = msg.payload;\n\nvar msgs = [];\nmsgs.push({ reset: true });\n\nif (timer === 'start') {\n    for(var i=pipeCount; i>=0; i--) {\n        msgs.push({ payload: '|'.repeat(i) });\n    }\n} else { // timer === 'stop', 'on', 'off'\n    var message = '';\n    if (flow.get('enabled') === false) {\n        message = DISABLED;\n    }\n    msgs.push({ payload: message });\n}\n\nreturn [ msgs ];\n","outputs":1,"noerr":0,"x":1170,"y":480,"wires":[["c5df47b5.de7008"]]},{"id":"c95826ae.e8853","type":"ui_button","z":"2c160870.687d68","name":"on/off","group":"59addf93.5b4a78","order":2,"width":4,"height":3,"passthru":false,"label":"","tooltip":"","color":"darkgrey","bgcolor":"#242424","icon":"fa-power-off fa-2x","payload":"","payloadType":"date","topic":"","x":970,"y":720,"wires":[["baf381e9.752c88"]]},{"id":"31a7ad15.fe8eba","type":"ui_button","z":"2c160870.687d68","name":"on/off","group":"a9dc9f0b.eda488","order":2,"width":4,"height":3,"passthru":false,"label":"","tooltip":"","color":"darkgrey","bgcolor":"#242424","icon":"fa-power-off fa-2x","payload":"","payloadType":"date","topic":"","x":130,"y":720,"wires":[["200de65a.8a2062"]]},{"id":"39f9382.7d665c8","type":"link out","z":"8d049f17.01cbb8","name":"seen","links":["57732561.a6d06c"],"x":1395,"y":600,"wires":[]},{"id":"5d301bdb.f37b94","type":"ui_template","z":"2c160870.687d68","group":"1c7b3864.a284c8","name":"src","order":6,"width":1,"height":2,"format":"<script src=\"https://weatherwidget.io/js/widget.min.js\"></script> \n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":330,"y":140,"wires":[["e7fcb2c5.f69d8"]]},{"id":"1880b22b.732b36","type":"ui_template","z":"2c160870.687d68","group":"1c7b3864.a284c8","name":"105% zoom","order":5,"width":1,"height":2,"format":"<style>\nbody {\n    zoom: 105%;\n}\n</style>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":990,"y":140,"wires":[[]]},{"id":"a1cc7c3f.76dde8","type":"ui_text","z":"2c160870.687d68","group":"a9dc9f0b.eda488","order":1,"width":8,"height":3,"name":"title","label":"","format":"<font size=\"6\" color=\"#65BFBB\"><b>Dining & living</b></font>","layout":"row-left","x":510,"y":400,"wires":[]},{"id":"b352b82b.24a4e","type":"change","z":"2c160870.687d68","name":"brightness","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.brightness","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1570,"y":840,"wires":[["156c88c3.33a10f"]]},{"id":"f0fa6d6e.9ca8b","type":"ui_gauge","z":"2c160870.687d68","name":"living","group":"a9dc9f0b.eda488","order":8,"width":6,"height":4,"gtype":"donut","title":"","label":"","format":"Living","min":0,"max":"100","colors":["#df7102","#eaac39","#fbf284"],"seg1":"","seg2":"","x":130,"y":1080,"wires":[]},{"id":"156c88c3.33a10f","type":"ui_gauge","z":"2c160870.687d68","name":"entrance","group":"59addf93.5b4a78","order":8,"width":4,"height":4,"gtype":"donut","title":"","label":"","format":"g/f","min":0,"max":"100","colors":["#df7102","#eaac39","#fbf284"],"seg1":"","seg2":"","x":980,"y":840,"wires":[]},{"id":"dc7655fd.dfb7f8","type":"ui_gauge","z":"2c160870.687d68","name":"dining","group":"a9dc9f0b.eda488","order":7,"width":6,"height":4,"gtype":"donut","title":"","label":"","format":"Dining","min":0,"max":"100","colors":["#df7102","#eaac39","#fbf284"],"seg1":"","seg2":"","x":130,"y":960,"wires":[]},{"id":"268e68e3.972b58","type":"hue-light","z":"2c160870.687d68","name":"Entrance","bridge":"b3b3386b.b8737","lightid":"31","colornamer":true,"x":1380,"y":800,"wires":[["b352b82b.24a4e"]]},{"id":"49fa0946.754148","type":"change","z":"2c160870.687d68","name":"brightness","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.brightness","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1080,"wires":[["f0fa6d6e.9ca8b"]]},{"id":"b59466da.4c729","type":"change","z":"2c160870.687d68","name":"brightness","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.brightness","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1570,"y":1080,"wires":[["407e35fb.e067c4"]]},{"id":"f88aad01.0f8268","type":"change","z":"2c160870.687d68","name":"brightness","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.brightness","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1570,"y":960,"wires":[["b5fa2213.47a93"]]},{"id":"b5fa2213.47a93","type":"ui_gauge","z":"2c160870.687d68","name":"1st floor","group":"59addf93.5b4a78","order":9,"width":4,"height":4,"gtype":"donut","title":"","label":"","format":"first","min":0,"max":"100","colors":["#df7102","#eaac39","#fbf284"],"seg1":"","seg2":"","x":980,"y":960,"wires":[]},{"id":"407e35fb.e067c4","type":"ui_gauge","z":"2c160870.687d68","name":"second","group":"59addf93.5b4a78","order":10,"width":4,"height":4,"gtype":"donut","title":"","label":"","format":"2nd","min":0,"max":"100","colors":["#df7102","#eaac39","#fbf284"],"seg1":"","seg2":"","x":980,"y":1080,"wires":[]},{"id":"321d703.580281","type":"hue-light","z":"2c160870.687d68","name":"Second","bridge":"b3b3386b.b8737","lightid":"27","colornamer":true,"x":1380,"y":1040,"wires":[["b59466da.4c729"]]},{"id":"c75fc81b.11cf38","type":"hue-light","z":"2c160870.687d68","name":"First","bridge":"b3b3386b.b8737","lightid":"25","colornamer":true,"x":1370,"y":920,"wires":[["f88aad01.0f8268"]]},{"id":"45dceb2e.0b6504","type":"inject","z":"2c160870.687d68","name":"once","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":140,"wires":[["5d301bdb.f37b94"]]},{"id":"fbab8f6f.85efc8","type":"link out","z":"8d049f17.01cbb8","name":"motion","links":["c6271e40.1c58c"],"x":535,"y":400,"wires":[]},{"id":"76039029.f3d778","type":"ui_button","z":"2c160870.687d68","name":"entrance","group":"59addf93.5b4a78","order":11,"width":4,"height":2,"passthru":false,"label":"","tooltip":"","color":"darkgray","bgcolor":"#242424","icon":"fa-power-off fa-2x","payload":"{\"toggle\": true}","payloadType":"json","topic":"","x":980,"y":800,"wires":[["5bc5276d.976c88"]]},{"id":"f0c783e8.cad2e","type":"ui_button","z":"2c160870.687d68","name":"first","group":"59addf93.5b4a78","order":12,"width":4,"height":2,"passthru":false,"label":"","tooltip":"","color":"darkgray","bgcolor":"#242424","icon":"fa-power-off fa-2x","payload":"{\"toggle\": true}","payloadType":"json","topic":"","x":970,"y":920,"wires":[["e408510c.2b18"]]},{"id":"1cb4a8b1.71dadf","type":"ui_button","z":"2c160870.687d68","name":"second","group":"59addf93.5b4a78","order":13,"width":4,"height":2,"passthru":false,"label":"","tooltip":"","color":"darkgray","bgcolor":"#242424","icon":"fa-power-off fa-2x","payload":"{\"toggle\": true}","payloadType":"json","topic":"","x":980,"y":1040,"wires":[["b94b741a.84e2a8"]]},{"id":"359e622c.d5cf66","type":"ui_button","z":"2c160870.687d68","name":"living","group":"a9dc9f0b.eda488","order":10,"width":6,"height":2,"passthru":false,"label":"","tooltip":"","color":"darkgray","bgcolor":"#242424","icon":"fa-power-off fa-2x","payload":"{\"toggle\": true}","payloadType":"json","topic":"","x":130,"y":1040,"wires":[["6e2dace7.a697cc"]]},{"id":"2fe7b6e4.2ba312","type":"ui_button","z":"2c160870.687d68","name":"dining","group":"a9dc9f0b.eda488","order":9,"width":6,"height":2,"passthru":false,"label":"","tooltip":"","color":"darkgray","bgcolor":"#242424","icon":"fa-power-off fa-2x","payload":"{\"toggle\": true}","payloadType":"json","topic":"","x":130,"y":920,"wires":[["1c17265a.542102"]]},{"id":"de9161e7.a5d4c","type":"hue-light","z":"640fc94c.c7b598","name":"Ceiling","bridge":"b3b3386b.b8737","lightid":"20","colornamer":true,"x":1210,"y":400,"wires":[["3b474105.d8249e"]]},{"id":"3b474105.d8249e","type":"function","z":"640fc94c.c7b598","name":"lightsOn","func":"var lightsOn = flow.get('lightsOn') || {};\nlightsOn[msg.info.name] = msg.payload.on;\n\nvar anyOn = false;\nfor(var name in lightsOn) {\n    anyOn = anyOn || lightsOn[name];\n}\n\nflow.set('anyOn', anyOn);\nflow.set('lightsOn', lightsOn);\n","outputs":0,"noerr":0,"x":1420,"y":340,"wires":[]},{"id":"4f9bb688.f6baf","type":"hue-light","z":"640fc94c.c7b598","name":"Bed","bridge":"b3b3386b.b8737","lightid":"32","colornamer":true,"x":1210,"y":280,"wires":[["3b474105.d8249e"]]},{"id":"afd45d18.666a58","type":"hue-light","z":"640fc94c.c7b598","name":"Desk","bridge":"b3b3386b.b8737","lightid":"13","colornamer":true,"x":1210,"y":340,"wires":[["3b474105.d8249e"]]},{"id":"af51e5c4.98ded8","type":"switch","z":"be8ae70b.25fb8","name":"button","property":"payload.name","propertyType":"msg","rules":[{"t":"eq","v":"On","vt":"str"},{"t":"eq","v":"Dim Up","vt":"str"},{"t":"eq","v":"Dim Down","vt":"str"},{"t":"eq","v":"Off","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":370,"y":360,"wires":[["612df56b.51b404"],["973aef15.4bfd48"],["dc814afe.77ff48"],["ad24dee0.113d"]]},{"id":"dc814afe.77ff48","type":"switch","z":"be8ae70b.25fb8","name":"action","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"pressed","vt":"str"},{"t":"eq","v":"holded","vt":"str"},{"t":"eq","v":"short released","vt":"str"},{"t":"eq","v":"short released","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":570,"y":400,"wires":[[],["aa6b812d.d58e78"],["4fb138d8.03d1f"],[]]},{"id":"dc24c90b.b5d758","type":"comment","z":"be8ae70b.25fb8","name":"Dim Up","info":"","x":770,"y":220,"wires":[]},{"id":"f2552b0a.1ee9f8","type":"function","z":"be8ae70b.25fb8","name":"brightness","func":"const BRIGHTNESS_STEP = 15;\n\nvar step = BRIGHTNESS_STEP * msg.payload;\nvar message = { payload: {\n    incrementBrightness: step,\n    transitionTime: 1.1\n}};\n\nvar msgs = [null, null];\nvar lightsOn = flow.get('lightsOn') || {};\nif (lightsOn['Living room'] === true) {\n    msgs[0] = message;\n}\nif (lightsOn['Dining 1'] === true) {\n    msgs[1] = message;\n}\n\nnode.log('[Ground floor] changing brightness (' +\n    step + ')');\n\nreturn msgs;","outputs":2,"noerr":0,"x":990,"y":340,"wires":[["320795bf.8de982"],["2126c349.a8302c","dc82d43a.6295e","d9d09fb0.466d98"]]},{"id":"ad24dee0.113d","type":"function","z":"be8ae70b.25fb8","name":"off","func":"msg.payload.on = false;\n\nnode.log('[Ground floor] turn off');\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":580,"wires":[["593fc75e.e0e65"]]},{"id":"631f075a.7b0b68","type":"comment","z":"be8ae70b.25fb8","name":"Off","info":"","x":770,"y":540,"wires":[]},{"id":"488e6c28.84232c","type":"comment","z":"be8ae70b.25fb8","name":"Dim Down","info":"","x":780,"y":380,"wires":[]},{"id":"973aef15.4bfd48","type":"switch","z":"be8ae70b.25fb8","name":"action","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"pressed","vt":"str"},{"t":"eq","v":"holded","vt":"str"},{"t":"eq","v":"short released","vt":"str"},{"t":"eq","v":"long released","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":570,"y":320,"wires":[[],["4cb7010e.bce1c8"],["dfcbd59.0d6dca8"],[]]},{"id":"a9e83a07.d40b08","type":"function","z":"be8ae70b.25fb8","name":"log","func":"node.log('[Ground floor] ' +\n    msg.payload.name +\n    ': ' +\n    msg.payload.action +\n    ' (' +\n    msg.payload.button +\n    ')');\n","outputs":0,"noerr":0,"x":370,"y":300,"wires":[]},{"id":"c19cfd92.bad7e8","type":"ui_button","z":"2c160870.687d68","name":"bright","group":"59addf93.5b4a78","order":7,"width":4,"height":3,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"lightgrey","icon":"fa-sun-o fa-2x","payload":"Corridor Bright","payloadType":"str","topic":"","x":970,"y":660,"wires":[["356d210a.f7bfb6"]]},{"id":"f303a0a2.cf8048","type":"inject","z":"5e854383.546e74","name":"5min","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"onceDelay":"0.1","x":150,"y":140,"wires":[["24556500.a0f2f4","394786e8.11c36a","82a3d99b.23734","f26d91bf.8f6428"]]},{"id":"d5f9e553.e6ad98","type":"ui_chart","z":"5e854383.546e74","name":"temp 1st","group":"c4ec91e1.1ae6c","order":1,"width":18,"height":5,"label":"home (°C)","chartType":"line","legend":"false","xformat":"H:mm a","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":800,"y":620,"wires":[[]]},{"id":"5fcb136c.3f27f4","type":"change","z":"5e854383.546e74","name":"temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"max","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":140,"wires":[["754665f8.f82314"]]},{"id":"24556500.a0f2f4","type":"Memory","z":"5e854383.546e74","name":"ram","x":390,"y":220,"wires":[["23f970bc.7a36"]]},{"id":"394786e8.11c36a","type":"Loadavg","z":"5e854383.546e74","name":"load","x":390,"y":180,"wires":[["956a809d.92e008"]]},{"id":"956a809d.92e008","type":"change","z":"5e854383.546e74","name":"load 5min","rules":[{"t":"set","p":"payload","pt":"msg","to":"100*(payload.loadavg[1])","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":180,"wires":[["c06526ec.4e64"]]},{"id":"c06526ec.4e64","type":"ui_chart","z":"5e854383.546e74","name":"","group":"7ea82904.29855","order":1,"width":18,"height":5,"label":"load (5min avg)","chartType":"line","legend":"false","xformat":"H:mm a","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":820,"y":180,"wires":[[]]},{"id":"5a94df96.cb4ee8","type":"ui_chart","z":"5e854383.546e74","name":"","group":"976b7658.b18a28","order":1,"width":18,"height":5,"label":"RAM (Go)","chartType":"line","legend":"false","xformat":"H:mm a","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":800,"y":220,"wires":[[]]},{"id":"23f970bc.7a36","type":"change","z":"5e854383.546e74","name":"ram Go","rules":[{"t":"set","p":"payload","pt":"msg","to":"(payload.totalmem-payload.freemem)/1073741824","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":220,"wires":[["5a94df96.cb4ee8"]]},{"id":"754665f8.f82314","type":"ui_chart","z":"5e854383.546e74","name":"","group":"9dd3e3b6.5753b","order":1,"width":18,"height":5,"label":"CPU (°C)","chartType":"line","legend":"false","xformat":"H:mm a","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":800,"y":140,"wires":[[]]},{"id":"f26d91bf.8f6428","type":"Drives","z":"5e854383.546e74","name":"/dev/sda1","x":400,"y":260,"wires":[["ffda9d16.45b3e"]]},{"id":"82a3d99b.23734","type":"cpu","z":"5e854383.546e74","name":"CPU temp","msgCore":false,"msgOverall":false,"msgArray":false,"msgTemp":true,"x":400,"y":140,"wires":[["5fcb136c.3f27f4"]]},{"id":"b47b3c46.f375b8","type":"ui_chart","z":"5e854383.546e74","name":"","group":"f7aa75b4.76cda","order":1,"width":18,"height":5,"label":"/dev/sda1 (Go)","chartType":"line","legend":"false","xformat":"H:mm a","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":820,"y":260,"wires":[[]]},{"id":"ffda9d16.45b3e","type":"change","z":"5e854383.546e74","name":"drive Go","rules":[{"t":"set","p":"payload","pt":"msg","to":"(payload[2].used)/1048576","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":260,"wires":[["b47b3c46.f375b8"]]},{"id":"a98ca4fb.083188","type":"function","z":"35f2ed46.dc3b2a","name":"motion","func":"const DELAY = 2000;// milliseconds\n\nif (flow.get('enabled') === false) {\n    return [ null, null ];\n}\n\nvar onMsg = null;\nvar timerMsg = null;\nif (flow.get('anyOn') === false) {\n    // turn on\n    onMsg = msg;\n    // start timer after delay\n    timerMsg = { delay: DELAY };\n    node.log('[Corridor] delay timer (' +\n        DELAY/1000 + 's)');\n} else {\n    // reset timer imediatly\n    timerMsg = { delay: 0 };\n}\n\nreturn [ timerMsg, onMsg ];\n","outputs":2,"noerr":0,"x":470,"y":160,"wires":[["425a594.8810a28"],["c00937d8.aadce8"]],"outputLabels":["reset timer","turn on"]},{"id":"fc186274.44c9a8","type":"switch","z":"35f2ed46.dc3b2a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"sunriseEnd","vt":"str"},{"t":"eq","v":"sunset","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":600,"wires":[["eef4f91f.1e7208"],["706a6743.36231"]]},{"id":"a4f12aa5.29bfb8","type":"sun events","z":"35f2ed46.dc3b2a","testmode":false,"verbose":true,"topic":"","name":"sun events","x":140,"y":600,"wires":[["fc186274.44c9a8"]]},{"id":"706a6743.36231","type":"hue-scene","z":"35f2ed46.dc3b2a","name":"Nightlight","bridge":"b3b3386b.b8737","sceneid":"SSi4C-Ti0C1p6E-","x":680,"y":640,"wires":[["dcdd9205.4a3e58"]]},{"id":"eef4f91f.1e7208","type":"hue-scene","z":"35f2ed46.dc3b2a","name":"Dimmed","bridge":"b3b3386b.b8737","sceneid":"UUvgiBmt4Brmqen","x":680,"y":560,"wires":[["dcdd9205.4a3e58"]]},{"id":"dcdd9205.4a3e58","type":"function","z":"35f2ed46.dc3b2a","name":"log","func":"node.log('[Welcome] sun event new scene: ' +\n    msg.payload.name);\n","outputs":0,"noerr":0,"x":890,"y":600,"wires":[]},{"id":"4f0372ed.c5a674","type":"function","z":"35f2ed46.dc3b2a","name":"timer off","func":"if (flow.get('timerOn') === false) {\n    return null;\n}\n\nvar anyOn = msg.payload.on === true ||\n    msg.payload.anyOn === true;\nflow.set('anyOn', anyOn);\nif (anyOn) {\n    return null;\n}\n\nflow.set('timerOn', false);\n\nnode.log('[Corridor] timer stopped')\n\nreturn [ { reset: true}, { payload: 'stop' } ];","outputs":2,"noerr":0,"x":1100,"y":220,"wires":[["eaff4468.fef6"],["167c7a6.80a6d86"]]},{"id":"c6271e40.1c58c","type":"link in","z":"35f2ed46.dc3b2a","name":"welcome motion","links":["fbab8f6f.85efc8"],"x":255,"y":160,"wires":[["a98ca4fb.083188"]]},{"id":"22416ceb.f42634","type":"hue-group","z":"35f2ed46.dc3b2a","name":"Stairs ","bridge":"b3b3386b.b8737","groupid":"3","colornamer":true,"x":890,"y":220,"wires":[["4f0372ed.c5a674"]]},{"id":"4582c690.0a8eb8","type":"function","z":"be8ae70b.25fb8","name":"log","func":"node.log('[Ground floor] start / stop timer')\n\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":460,"wires":[["c1628872.82959"]]},{"id":"7a141712.517428","type":"hue-scene","z":"2c160870.687d68","name":"Scene","bridge":"b3b3386b.b8737","sceneid":"","x":1370,"y":620,"wires":[[]]},{"id":"94aeaa87.873cd","type":"function","z":"8d049f17.01cbb8","name":"gethomedata","func":"msg.headers = {\n    authorization: 'Bearer ' +\n        flow.get('access_token')\n};\nmsg.home_id = flow.get('homeId');\nmsg.payload = { size: 0 };\nmsg.url = 'https://api.netatmo.net/api/gethomedata';\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":500,"wires":[["956cac73.adcd8"]]},{"id":"956cac73.adcd8","type":"http request","z":"8d049f17.01cbb8","name":"","method":"GET","ret":"obj","paytoqs":true,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":540,"wires":[["e6acb7c3.5eb488"]]},{"id":"c489424c.b87758","type":"function","z":"8d049f17.01cbb8","name":"store","func":"msg.payload = { ids: msg.payload, idPseudos: null}\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":520,"wires":[["7a60efee.970cf8"]]},{"id":"7a60efee.970cf8","type":"split","z":"8d049f17.01cbb8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":570,"y":560,"wires":[["f7689aa8.1e295"]]},{"id":"632a45a6.d9ed6c","type":"join","z":"8d049f17.01cbb8","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1010,"y":600,"wires":[["d177584f.2cb78"]]},{"id":"f7689aa8.1e295","type":"switch","z":"8d049f17.01cbb8","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"idPseudos","vt":"str"},{"t":"eq","v":"ids","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":600,"wires":[["94aeaa87.873cd"],["246b9b51.b56eb4"]]},{"id":"e6acb7c3.5eb488","type":"function","z":"8d049f17.01cbb8","name":"idPseudos","func":"var idPseudos = {};\nvar persons = msg.payload.body.homes[0].persons;\nfor(var i=0; i<persons.length; i++) {\n    var pseudo = persons[i].pseudo;\n    if (pseudo !== undefined) {\n        idPseudos[persons[i].id] = pseudo;\n    }\n}\n\nmsg.payload = idPseudos;\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":580,"wires":[["632a45a6.d9ed6c"]]},{"id":"246b9b51.b56eb4","type":"function","z":"8d049f17.01cbb8","name":"ids","func":"var ids = [];\nvar persons = msg.payload.persons;\nfor(var i=0; i<persons.length; i++) {\n    ids.push(persons[i].id);\n}\n\nmsg.payload = ids;\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":620,"wires":[["632a45a6.d9ed6c"]]},{"id":"a1c7c1f3.1a8fd","type":"inject","z":"8d049f17.01cbb8","name":"person","topic":"","payload":"{\"user_id\":\"666666666666666666666666\",\"persons\":[{\"id\":\"nice-id\",\"face_id\":\"nice-face-id\",\"face_key\":\"nice-face-key\",\"is_known\":true,\"face_url\":\"https://blahblah\"}],\"event_type\":\"person\",\"camera_id\":\"66:66:66:66:66:66\",\"device_id\":\"66:66:66:66:66:66\",\"home_id\":\"666666666666666666666666\",\"home_name\":\"Thorpebank road\",\"event_id\":\"666666666666666666666666\",\"message\":\"The Pope seen\",\"push_type\":\"NACamera-person\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":900,"wires":[["6e27dcb0.f56d0c"]]},{"id":"cef000a9.563f6","type":"inject","z":"8d049f17.01cbb8","name":"topology","topic":"","payload":"{\"user_id\":\"666666666666666666666666\",\"user\":{\"id\":\"59ac02e62b2b46aff38b5e28\",\"email\":\"momo@momomail.com\"},\"home_id\":\"666666666666666666666666\",\"device_id\":\"66:66:66:66:66:66\",\"push_type\":\"topology_changed\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":940,"wires":[["6e27dcb0.f56d0c"]]},{"id":"40a8fda9.c2ccdc","type":"inject","z":"8d049f17.01cbb8","name":"motion","topic":"","payload":"{\"user_id\":\"666666666666666666666666\",\"event_type\":\"movement\",\"camera_id\":\"66:66:66:66:66:66\",\"device_id\":\"66:66:66:66:66:66\",\"home_id\":\"666666666666666666666666\",\"home_name\":\"St. Peter's Square\",\"message\":\"Motion detected\",\"push_type\":\"NACamera-movement\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":860,"wires":[["6e27dcb0.f56d0c"]]},{"id":"9f596e4f.0cfe6","type":"comment","z":"8d049f17.01cbb8","name":"motion","info":"","x":570,"y":360,"wires":[]},{"id":"e1b0ce4.285f9b","type":"comment","z":"8d049f17.01cbb8","name":"person","info":"","x":570,"y":480,"wires":[]},{"id":"87742562.a48d8","type":"comment","z":"8d049f17.01cbb8","name":"topology","info":"","x":580,"y":680,"wires":[]},{"id":"c1f24f72.72c82","type":"comment","z":"8d049f17.01cbb8","name":"otherwise","info":"","x":580,"y":840,"wires":[]},{"id":"442b08bd.e8ceb8","type":"inject","z":"5e854383.546e74","name":"5s","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"0.1","x":150,"y":340,"wires":[["1726c467.094614","421768df.7acde","18770ddb.b09c32","1f1657d0.55d1a8"]]},{"id":"965bef85.7c24c8","type":"ui_gauge","z":"5e854383.546e74","name":"load %","group":"7ea82904.29855","order":2,"width":6,"height":5,"gtype":"donut","title":"","label":"","format":"{{value|number:0}}%","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790,"y":380,"wires":[]},{"id":"506b7224.283b1c","type":"ui_gauge","z":"5e854383.546e74","name":"CPU temp","group":"9dd3e3b6.5753b","order":2,"width":6,"height":5,"gtype":"gage","title":"","label":"","format":"{{value}}°C","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"51","seg2":"66","x":800,"y":340,"wires":[]},{"id":"79d6ebb8.1809ac","type":"change","z":"5e854383.546e74","name":"temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"max","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":340,"wires":[["506b7224.283b1c"]]},{"id":"1726c467.094614","type":"Memory","z":"5e854383.546e74","name":"ram","x":390,"y":420,"wires":[["30a26045.b1e13"]]},{"id":"73289337.e35f14","type":"ui_gauge","z":"5e854383.546e74","name":"RAM %","group":"976b7658.b18a28","order":2,"width":6,"height":5,"gtype":"donut","title":"","label":"","format":"{{value|number:0}}%","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"60","x":800,"y":420,"wires":[]},{"id":"30a26045.b1e13","type":"change","z":"5e854383.546e74","name":"ram %","rules":[{"t":"set","p":"payload","pt":"msg","to":"100*(1-payload.freemem/payload.totalmem)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":420,"wires":[["73289337.e35f14"]]},{"id":"421768df.7acde","type":"Loadavg","z":"5e854383.546e74","name":"load","x":390,"y":380,"wires":[["ef3127b1.8209e8"]]},{"id":"ef3127b1.8209e8","type":"change","z":"5e854383.546e74","name":"load 1min","rules":[{"t":"set","p":"payload","pt":"msg","to":"100*(payload.loadavg[0])","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":380,"wires":[["965bef85.7c24c8"]]},{"id":"1f1657d0.55d1a8","type":"Drives","z":"5e854383.546e74","name":"/dev/sda1","x":400,"y":460,"wires":[["97fc361e.9c6d2"]]},{"id":"18770ddb.b09c32","type":"cpu","z":"5e854383.546e74","name":"CPU temp","msgCore":false,"msgOverall":false,"msgArray":false,"msgTemp":true,"x":400,"y":340,"wires":[["79d6ebb8.1809ac"]]},{"id":"e1a29d5f.c2b778","type":"ui_gauge","z":"5e854383.546e74","name":"/dev/sda1 %","group":"f7aa75b4.76cda","order":2,"width":6,"height":5,"gtype":"donut","title":"","label":"","format":"{{value|number:0}}%","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"60","x":810,"y":460,"wires":[]},{"id":"97fc361e.9c6d2","type":"change","z":"5e854383.546e74","name":"drive %","rules":[{"t":"set","p":"payload","pt":"msg","to":"100*(payload[2].capacity)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":460,"wires":[["e1a29d5f.c2b778"]]},{"id":"c5df47b5.de7008","type":"delay","z":"2c160870.687d68","name":"1msg/10s","pauseType":"rate","timeout":"0","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":520,"wires":[["9395448e.94399"]]},{"id":"eaff4468.fef6","type":"delay","z":"35f2ed46.dc3b2a","name":"off","pauseType":"delayv","timeout":"0","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":690,"y":160,"wires":[["22416ceb.f42634"]]},{"id":"4a26b6e2.5982e8","type":"http request","z":"8d049f17.01cbb8","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":1060,"wires":[["f3baeaa2.383838"]]},{"id":"f3f48ffe.6dacf","type":"inject","z":"8d049f17.01cbb8","name":"1h","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":140,"wires":[["33f807eb.88c708"]]},{"id":"4a31e97c.f3c648","type":"oauth2","z":"8d049f17.01cbb8","name":"OAuth2 ","container":"payload","access_token_url":"","grant_type":"set_by_credentials","username":"","password":"","client_id":"","client_secret":"","scope":"","x":480,"y":140,"wires":[["ee1f619b.ff071"]]},{"id":"524fab32.c5499c","type":"change","z":"8d049f17.01cbb8","name":"store","rules":[{"t":"set","p":"access_token","pt":"flow","to":"payload.oauth2Response.body.access_token","tot":"msg"},{"t":"set","p":"refresh_token","pt":"flow","to":"payload.oauth2Response.body.refresh_token","tot":"msg"},{"t":"set","p":"attempt","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":100,"wires":[["e601d6c5.e32ba8","d381c084.5fd428"]]},{"id":"33f807eb.88c708","type":"function","z":"8d049f17.01cbb8","name":"token","func":"const MAX_ATTEMPT = 3;\n\nvar cientId = global.get('CLIENT_ID');\nvar clientSecret = global.get('CLIENT_SECRET');\n\n// handle auth issue\nvar attempt = flow.get('attempt') || 0;\nflow.set('attempt', ++attempt);\nif (attempt > MAX_ATTEMPT) {\n    cientId = global.get('BACKUP_CLIENT_ID');\n    clientSecret = global.get('BACKUP_CLIENT_SECRET');\n    node.log('[Welcome] failed to authenticate ' +\n        attempt + ' times, trying backup connexion');\n    if (attempt > MAX_ATTEMPT*2) {\n        flow.set('attempt', 0);\n        node.log('[Welcome] failed to authenticate');\n        return null;\n    }\n}\n\n// build credentials\nvar creds = {\n    'client_id': cientId,\n    'client_secret': clientSecret,\n    'scope': 'read_camera write_camera access_camera',\n};\nvar refresh_token = flow.get('refresh_token') || '';\nif (refresh_token.length > 0) {\n    creds.grant_type = 'refresh_token';\n    creds.refresh_token= refresh_token;\n    node.log('[Welcome] refresh token');\n} else {\n    creds.grant_type = 'password';\n    creds.username = global.get('USERNAME');\n    creds.password = global.get('PASSWORD');\n    node.log('[Welcome] create token');\n}\n\nmsg.oauth2Request = { \n    'access_token_url': 'https://api.netatmo.com/oauth2/token', \n    'credentials': creds\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":140,"wires":[["4a31e97c.f3c648"]]},{"id":"279a4254.243816","type":"http request","z":"8d049f17.01cbb8","name":"","method":"POST","ret":"obj","paytoqs":true,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1030,"y":140,"wires":[["827dc509.24c378"]]},{"id":"ee1f619b.ff071","type":"switch","z":"8d049f17.01cbb8","name":"status","property":"payload.oauth2Response.statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":140,"wires":[["524fab32.c5499c"],["a1708363.92ecb8"]],"outputLabels":["200","other"]},{"id":"a1708363.92ecb8","type":"change","z":"8d049f17.01cbb8","name":"reset","rules":[{"t":"set","p":"access_token","pt":"flow","to":"{}","tot":"json"},{"t":"set","p":"refresh_token","pt":"flow","to":"{}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":140,"wires":[["33f807eb.88c708"]]},{"id":"e601d6c5.e32ba8","type":"function","z":"8d049f17.01cbb8","name":"gethomedata","func":"msg.headers = {\n    authorization: 'Bearer ' +\n        flow.get('access_token')\n};\nmsg.payload = {\n    size: 0\n};\nmsg.url = 'https://api.netatmo.net/api/gethomedata';\n\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":100,"wires":[["279a4254.243816"]]},{"id":"827dc509.24c378","type":"function","z":"8d049f17.01cbb8","name":"homeId","func":"var home = msg.payload.body.homes[0];\nflow.set('homeId', home.id);\nglobal.set('vpnUrl', home.cameras[0].vpn_url + '/live/index_local.m3u8');\n\nnode.log('[Welcome] connected to \\'' + home.name + '\\'');\n\nreturn msg;","outputs":0,"noerr":0,"x":1020,"y":180,"wires":[]},{"id":"3351dcfc.b0983c","type":"http request","z":"8d049f17.01cbb8","name":"","method":"POST","ret":"obj","paytoqs":true,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1030,"y":380,"wires":[["5915dab2.4bacc4"]]},{"id":"c64a5314.d7e9b8","type":"function","z":"8d049f17.01cbb8","name":"addwebhook","func":"msg.headers = {\n    authorization: 'Bearer ' +\n        flow.get('access_token')\n};\nmsg.payload = {\n    url: global.get('WEBHOOK'),\n    app_type: 'app_camera'\n};\nmsg.url = 'https://api.netatmo.net/api/addwebhook';\n\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":340,"wires":[["3351dcfc.b0983c"]]},{"id":"a4b6e670.b5fde","type":"inject","z":"8d049f17.01cbb8","name":"check 10m","topic":"","payload":"{ \"push_type\": \"webhook_check\" }","payloadType":"json","repeat":"600","crontab":"","once":true,"onceDelay":"5","x":150,"y":1060,"wires":[["6e27dcb0.f56d0c"]]},{"id":"f3baeaa2.383838","type":"switch","z":"8d049f17.01cbb8","name":"status","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":1060,"wires":[["f924ba32.6bbe1"]],"outputLabels":["200"]},{"id":"511c01f9.17669","type":"e-mail out","z":"8d049f17.01cbb8","server":"smtp.gmail.com","port":"465","secure":true,"name":"","dname":"gmail.com","x":1220,"y":980,"wires":[[]]},{"id":"f924ba32.6bbe1","type":"function","z":"8d049f17.01cbb8","name":"e-mail","func":"var body = JSON.stringify(msg, null, '\\t');\n\nmsg.to = global.get('ADMIN_EMAIL');\nmsg.topic = '[webhook] error';\nmsg.body = body;\n\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":1060,"wires":[["511c01f9.17669"]]},{"id":"1eda0a4a.7c6c66","type":"function","z":"35f2ed46.dc3b2a","name":"timer on","func":"const TIMER = 3;// minutes\nconst DELAY = TIMER * 60 * 1000;\n\nvar eventMsg = msg;\neventMsg.delay = DELAY;\neventMsg.payload = 'start';\n\nvar timerMsgs = [];\nif (flow.get('timerOn') === true) {\n    timerMsgs.push({ reset: true });\n    node.log('[Corridor] timer reset')\n} else {\n    flow.set('timerOn', true);\n}\n\ntimerMsgs.push({\n    delay: DELAY,\n    payload: { on: false }\n});\n\nnode.log('[Corridor] turn off in ' +\n    TIMER + ' min (timer)')\n\nreturn [ eventMsg, timerMsgs ];","outputs":2,"noerr":0,"x":1100,"y":100,"wires":[["167c7a6.80a6d86"],["eaff4468.fef6"]]},{"id":"167c7a6.80a6d86","type":"link out","z":"35f2ed46.dc3b2a","name":"timer","links":["f8adb1f8.9bb7f"],"x":1295,"y":160,"wires":[]},{"id":"425a594.8810a28","type":"delay","z":"35f2ed46.dc3b2a","name":"delay","pauseType":"delayv","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":690,"y":100,"wires":[["1eda0a4a.7c6c66"]]},{"id":"c00937d8.aadce8","type":"function","z":"35f2ed46.dc3b2a","name":"on/off","func":"msg.payload = { on: true };\n\nnode.log('[Corridor] turn on (timer)');\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":220,"wires":[["22416ceb.f42634"]]},{"id":"a4e5fec.810ad","type":"catch","z":"8d049f17.01cbb8","name":"all","scope":null,"uncaught":false,"x":790,"y":940,"wires":[["d400f4a1.fac398","8606b46c.62ab9"]]},{"id":"d400f4a1.fac398","type":"function","z":"8d049f17.01cbb8","name":"e-mail","func":"var body = JSON.stringify(msg, null, '\\t');\n\nmsg.to = global.get('ADMIN_EMAIL');\nmsg.topic = '[Welcome] error';\nmsg.body = body;\n\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":940,"wires":[["511c01f9.17669"]]},{"id":"5914d874.e6fdf","type":"ui_switch","z":"2c160870.687d68","name":"switch","label":"","tooltip":"","group":"59addf93.5b4a78","order":3,"width":2,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"on\":true}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"on\":false}","offvalueType":"json","officon":"","offcolor":"","x":1370,"y":440,"wires":[["ab830c91.3114a8"]]},{"id":"6357163f.12c6e","type":"link in","z":"2c160870.687d68","name":"timer enabled","links":["1f2da0b7.130ad7"],"x":1015,"y":440,"wires":[["430d81a5.b36c9"]]},{"id":"35b16e2e.9b5ffa","type":"link out","z":"2c160870.687d68","name":"timer enabled","links":["2cbc1b2f.5dc28c"],"x":1675,"y":440,"wires":[]},{"id":"2cbc1b2f.5dc28c","type":"link in","z":"35f2ed46.dc3b2a","name":"timer enabled","links":["35b16e2e.9b5ffa"],"x":235,"y":340,"wires":[["8c679d37.f7fda"]]},{"id":"1f2da0b7.130ad7","type":"link out","z":"35f2ed46.dc3b2a","name":"timer enabled","links":["6357163f.12c6e"],"x":1295,"y":340,"wires":[]},{"id":"10268eef.a3cac1","type":"comment","z":"35f2ed46.dc3b2a","name":"Welcome motion","info":"","x":160,"y":160,"wires":[]},{"id":"6b8aa48b.f1e9a4","type":"comment","z":"35f2ed46.dc3b2a","name":"Home timer","info":"","x":1390,"y":160,"wires":[]},{"id":"6c32da4b.ec716c","type":"comment","z":"35f2ed46.dc3b2a","name":"Home switch","info":"","x":150,"y":340,"wires":[]},{"id":"1452ec4.f44c194","type":"comment","z":"8d049f17.01cbb8","name":"Welcome occupancy","info":"","x":1090,"y":720,"wires":[]},{"id":"67594d6c.723bf4","type":"comment","z":"8d049f17.01cbb8","name":"Welcome last seen","info":"","x":1510,"y":600,"wires":[]},{"id":"4851426d.b65c44","type":"comment","z":"8d049f17.01cbb8","name":"Welcome motion","info":"","x":640,"y":400,"wires":[]},{"id":"b6706c7b.de91f8","type":"comment","z":"2c160870.687d68","name":"Stairs timer enabled","info":"","x":1790,"y":440,"wires":[]},{"id":"2ff492f6.aab15e","type":"comment","z":"2c160870.687d68","name":"Stairs timer enabled","info":"","x":910,"y":440,"wires":[]},{"id":"a10af628.251878","type":"comment","z":"2c160870.687d68","name":"Stairs timer","info":"","x":910,"y":500,"wires":[]},{"id":"430d81a5.b36c9","type":"change","z":"2c160870.687d68","name":"enabled","rules":[{"t":"set","p":"enabled","pt":"flow","to":"msg.payload.on","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":440,"wires":[["5914d874.e6fdf","a23cfbab.d74448"]]},{"id":"8c679d37.f7fda","type":"change","z":"35f2ed46.dc3b2a","name":"enabled","rules":[{"t":"set","p":"enabled","pt":"flow","to":"payload.on","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":340,"wires":[["1f2da0b7.130ad7","a98ca4fb.083188","22416ceb.f42634"]]},{"id":"1c17265a.542102","type":"function","z":"2c160870.687d68","name":"log","func":"node.log('[Home] toggle dining');\n\nreturn msg;\n","outputs":1,"noerr":0,"x":330,"y":920,"wires":[["2bdedfa6.4a2a1","1d281562.741543","2c15ac0c.841454"]]},{"id":"6e2dace7.a697cc","type":"function","z":"2c160870.687d68","name":"log","func":"node.log('[Home] toggle living');\n\nreturn msg;\n","outputs":1,"noerr":0,"x":330,"y":1040,"wires":[["a06645a2.731818"]]},{"id":"5bc5276d.976c88","type":"function","z":"2c160870.687d68","name":"log","func":"node.log('[Home] toggle entrance');\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1170,"y":800,"wires":[["268e68e3.972b58"]]},{"id":"e408510c.2b18","type":"function","z":"2c160870.687d68","name":"log","func":"node.log('[Home] toggle first floor');\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1170,"y":920,"wires":[["c75fc81b.11cf38"]]},{"id":"b94b741a.84e2a8","type":"function","z":"2c160870.687d68","name":"log","func":"node.log('[Home] toggle second floor');\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1170,"y":1040,"wires":[["321d703.580281"]]},{"id":"d8a65309.2ec488","type":"function","z":"2c160870.687d68","name":"log","func":"node.log('[Home] activate scene ' + msg.payload);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":330,"y":660,"wires":[["3d651460.4cb214"]]},{"id":"356d210a.f7bfb6","type":"function","z":"2c160870.687d68","name":"log","func":"node.log('[Home] activate scene ' + msg.payload);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1170,"y":620,"wires":[["7a141712.517428"]]},{"id":"b1cdb4c5.d5896","type":"comment","z":"2c160870.687d68","name":"fits an iPad 2 screen","info":"","x":1010,"y":80,"wires":[]},{"id":"baf381e9.752c88","type":"function","z":"2c160870.687d68","name":"toggle","func":"var anyOn = flow.get('stairsAnyOn') === true;\nvar on = !anyOn;\n\nmsg.payload = { on: on };\n\nnode.log('[Home] turn ' +\n    (on? 'on': 'off') + ' stairs');\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1170,"y":720,"wires":[["edaef8f5.36e6f8"]]},{"id":"edaef8f5.36e6f8","type":"hue-group","z":"2c160870.687d68","name":"Stairs ","bridge":"b3b3386b.b8737","groupid":"3","colornamer":true,"x":1370,"y":720,"wires":[["f9671443.ed904"]]},{"id":"200de65a.8a2062","type":"function","z":"2c160870.687d68","name":"toggle","func":"var anyOn = flow.get('gfAnyOn') === true;\nvar on = !anyOn;\n\nmsg.payload = { on: on };\n\nnode.log('[Home] turn ' + (on? 'on': 'off') + ' g/f');\n\nreturn msg;\n","outputs":1,"noerr":0,"x":330,"y":720,"wires":[["e1edbe4b.c4c6c"]]},{"id":"5ed77329.c0541c","type":"change","z":"2c160870.687d68","name":"brightness","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.brightness","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":960,"wires":[["dc7655fd.dfb7f8"]]},{"id":"2c15ac0c.841454","type":"hue-light","z":"2c160870.687d68","name":"Dining","bridge":"b3b3386b.b8737","lightid":"33","colornamer":true,"x":510,"y":920,"wires":[["5ed77329.c0541c"]]},{"id":"1d281562.741543","type":"hue-light","z":"2c160870.687d68","name":"Dining","bridge":"b3b3386b.b8737","lightid":"33","colornamer":true,"x":510,"y":860,"wires":[[]]},{"id":"2bdedfa6.4a2a1","type":"hue-light","z":"2c160870.687d68","name":"Dining","bridge":"b3b3386b.b8737","lightid":"33","colornamer":true,"x":510,"y":800,"wires":[[]]},{"id":"e1edbe4b.c4c6c","type":"hue-group","z":"2c160870.687d68","name":"G/f","bridge":"b3b3386b.b8737","groupid":"4","colornamer":true,"x":510,"y":720,"wires":[["a806503e.6a4548"]]},{"id":"6e27dcb0.f56d0c","type":"change","z":"8d049f17.01cbb8","name":"webhook","rules":[{"t":"set","p":"url","pt":"msg","to":"WEBHOOK","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":1060,"wires":[["4a26b6e2.5982e8"]]},{"id":"f46409e7.1a31e","type":"inject","z":"8d049f17.01cbb8","name":"manual","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":810,"y":240,"wires":[["d381c084.5fd428"]]},{"id":"3c7c71f0.a357b6","type":"http request","z":"8d049f17.01cbb8","name":"","method":"GET","ret":"obj","paytoqs":true,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1030,"y":280,"wires":[["1ba14796.e7613"]]},{"id":"d381c084.5fd428","type":"function","z":"8d049f17.01cbb8","name":"dropwebhook","func":"msg.headers = {\n    authorization: 'Bearer ' +\n        flow.get('access_token')\n};\nmsg.payload = {\n    url: global.get('WEBHOOK'),\n    app_type: 'app_camera'\n};\nmsg.url = 'https://api.netatmo.net/api/dropwebhook';\n\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":240,"wires":[["3c7c71f0.a357b6"]]},{"id":"6cabb52.8b832cc","type":"debug","z":"8d049f17.01cbb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1430,"y":280,"wires":[]},{"id":"4fe97ab1.0503ac","type":"comment","z":"2c160870.687d68","name":"Ground floor","info":"","x":150,"y":400,"wires":[]},{"id":"e97ff4f7.b82b78","type":"comment","z":"2c160870.687d68","name":"Corridor","info":"","x":980,"y":380,"wires":[]},{"id":"c1628872.82959","type":"link out","z":"be8ae70b.25fb8","name":"timer start / stop","links":["c8b7269.0dc3858"],"x":1175,"y":460,"wires":[]},{"id":"d2f95627.f95ea8","type":"comment","z":"be8ae70b.25fb8","name":"Stairs timer on / off","info":"","x":1290,"y":460,"wires":[]},{"id":"c8b7269.0dc3858","type":"link in","z":"35f2ed46.dc3b2a","name":"timer start / stop","links":["c1628872.82959"],"x":275,"y":400,"wires":[["cbaa403d.2ea23"]]},{"id":"65d2bd9b.10b784","type":"comment","z":"35f2ed46.dc3b2a","name":"Ground floor dimmer","info":"","x":170,"y":400,"wires":[]},{"id":"77ba1d72.ed235c","type":"comment","z":"35f2ed46.dc3b2a","name":"Home switch","info":"","x":1390,"y":340,"wires":[]},{"id":"cbaa403d.2ea23","type":"function","z":"35f2ed46.dc3b2a","name":"timer on / off","func":"var on = flow.get('enabled') === false;\n\nmsg.payload = { on: on };\n\nnode.log('[Corridor] motion timer turned ' +\n    (on === true? 'on': 'off'));\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":400,"wires":[["8c679d37.f7fda"]]},{"id":"ab830c91.3114a8","type":"function","z":"2c160870.687d68","name":"log","func":"node.log('[Home] switch ' +\n    (msg.payload.on === true? \"on\": \"off\") +\n    ' timer');\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1530,"y":440,"wires":[["35b16e2e.9b5ffa"]]},{"id":"d7ff0db6.8508a8","type":"function","z":"35f2ed46.dc3b2a","name":"timer state","func":"var on = flow.get('enabled');\nif (on === undefined) {\n    on = true;\n}\n\nmsg.payload = { on: on };\n\nnode.log('[Corridor] motion timer turned ' +\n    (on === true? 'on': 'off'));\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":460,"wires":[["8c679d37.f7fda"]]},{"id":"92968a26.69507","type":"ui_button","z":"2c160870.687d68","name":"soft","group":"a9dc9f0b.eda488","order":5,"width":4,"height":3,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"{{background}}","icon":"fa-sun-o fa-2x","payload":"scene","payloadType":"flow","topic":"","x":130,"y":560,"wires":[["d8a65309.2ec488","61bb1a3b.f95ab4"]]},{"id":"61bb1a3b.f95ab4","type":"function","z":"2c160870.687d68","name":"toggle","func":"var background = context.get('background') || 'grey';\n\nvar scene;\nif (background === 'grey') {\n    background = 'lightgrey';\n    scene = 'Dining + Living';\n} else {\n    background = 'grey';\n    scene = 'GF Soft';\n}\nflow.set('scene', scene);\ncontext.set('background', background);\n\nmsg.background = background;\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":560,"wires":[["92968a26.69507"]]},{"id":"a001078c.ba42e8","type":"inject","z":"2c160870.687d68","name":"once","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":520,"wires":[["61bb1a3b.f95ab4"]]},{"id":"906185f6.b9c63","type":"delay","z":"640fc94c.c7b598","name":"600ms","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.6","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":170,"y":360,"wires":[["6e0ca65e.01e0f","2ab68d6b.4dd9ca"]]},{"id":"9dd9c2dd.1febe","type":"hue-group","z":"640fc94c.c7b598","name":"Fred’s","bridge":"b3b3386b.b8737","groupid":"1","colornamer":true,"x":1210,"y":580,"wires":[[]]},{"id":"50b5ea96.2db6ec","type":"hue-scene","z":"be8ae70b.25fb8","name":"Scene","bridge":"b3b3386b.b8737","sceneid":"","x":1210,"y":140,"wires":[[]]},{"id":"612df56b.51b404","type":"function","z":"be8ae70b.25fb8","name":"toggle","func":"const scenes = [\n    'Dining + Living',\n    'Dining room',\n    'Living room'\n];\n\nvar count = context.get('count');\nif (count === undefined) {\n    count = 0;\n}\n\nvar scene = flow.get('scene');\nif (flow.get('anyOn') === true) {\n    for(var i=0; i<scenes.length; i++) {\n        if (scenes[i] === scene) {\n            if (++count >= scenes.length) {\n                count = 0;\n            }\n            break;\n        }\n    }\n}\n\nscene = scenes[count];\ncontext.set('count', count);\nflow.set('scene', scene);\nmsg.payload = scene;\n\nnode.log('[Ground floor] set scene ' + scene);\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":140,"wires":[["50b5ea96.2db6ec"]]},{"id":"2ee73498.9d09ac","type":"delay","z":"be8ae70b.25fb8","name":"600ms","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.6","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":170,"y":360,"wires":[["af51e5c4.98ded8","a9e83a07.d40b08"]]},{"id":"dba48e15.4f3008","type":"hue-switch","z":"5da715ec.7bb304","name":"Mei Lin’s","bridge":"b3b3386b.b8737","sensorid":"21","x":140,"y":420,"wires":[["8802f10f.a26ec"]]},{"id":"90e2d661.499f78","type":"switch","z":"5da715ec.7bb304","name":"button","property":"payload.name","propertyType":"msg","rules":[{"t":"eq","v":"On","vt":"str"},{"t":"eq","v":"Dim Up","vt":"str"},{"t":"eq","v":"Dim Down","vt":"str"},{"t":"eq","v":"Off","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":370,"y":360,"wires":[["d4c55256.c282b8"],["571243e2.29b554"],["87b14ea3.d632a8"],["5a9e1b0c.7af42c"]]},{"id":"87b14ea3.d632a8","type":"switch","z":"5da715ec.7bb304","name":"action","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"pressed","vt":"str"},{"t":"eq","v":"holded","vt":"str"},{"t":"eq","v":"short released","vt":"str"},{"t":"eq","v":"short released","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":570,"y":400,"wires":[[],["c147cdcd.8f6a9"],["79b92524.714214"],[]]},{"id":"701150a1.bbede8","type":"comment","z":"5da715ec.7bb304","name":"On","info":"","x":770,"y":100,"wires":[]},{"id":"f6ddee19.3486e8","type":"comment","z":"5da715ec.7bb304","name":"Dim Up","info":"","x":770,"y":220,"wires":[]},{"id":"55646159.32259","type":"function","z":"5da715ec.7bb304","name":"brightness","func":"const BRIGHTNESS_STEP = 15;\n\nvar step = BRIGHTNESS_STEP * msg.payload;\nvar message = { payload: {\n    incrementBrightness: step,\n    transitionTime: 1.1\n}};\n\nvar msgs = [null, null, null];\nvar lightsOn = flow.get('lightsOn') || {};\nif (lightsOn['Bed'] === true) {\n    msgs[0] = message;\n}\nif (lightsOn['Piano'] === true) {\n    msgs[1] = message;\n}\nif (lightsOn['Ceiling'] === true) {\n    msgs[2] = message;\n}\n\nnode.log('[Mei Lin\\'s] changing brightness (' +\n    step + ')');\n\nreturn msgs;","outputs":3,"noerr":0,"x":990,"y":340,"wires":[["4fd41bbd.55feb4"],["aca4cdb9.aaefe"],["e35c60af.40612"]]},{"id":"5a9e1b0c.7af42c","type":"function","z":"5da715ec.7bb304","name":"off","func":"msg.payload.on = false;\n\nnode.log('[Mei Lin\\'s] turn off');\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":580,"wires":[["27ca253.265455a"]]},{"id":"b253b964.a0094","type":"comment","z":"5da715ec.7bb304","name":"Off","info":"","x":770,"y":540,"wires":[]},{"id":"dab2cd2e.4d0f2","type":"comment","z":"5da715ec.7bb304","name":"Dim Down","info":"","x":780,"y":380,"wires":[]},{"id":"571243e2.29b554","type":"switch","z":"5da715ec.7bb304","name":"action","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"pressed","vt":"str"},{"t":"eq","v":"holded","vt":"str"},{"t":"eq","v":"short released","vt":"str"},{"t":"eq","v":"long released","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":570,"y":320,"wires":[[],["cbfce871.530ad8"],["fe97bd03.a45348"],[]]},{"id":"adea93a4.37b8c","type":"function","z":"5da715ec.7bb304","name":"log","func":"node.log('[Mei Lin\\'s] ' +\n    msg.payload.name +\n    ': ' +\n    msg.payload.action +\n    ' (' +\n    msg.payload.button +\n    ')');\n","outputs":0,"noerr":0,"x":370,"y":300,"wires":[]},{"id":"e35c60af.40612","type":"hue-light","z":"5da715ec.7bb304","name":"Ceiling","bridge":"b3b3386b.b8737","lightid":"24","colornamer":true,"x":1210,"y":400,"wires":[["63072eb7.01202"]]},{"id":"4fd41bbd.55feb4","type":"hue-light","z":"5da715ec.7bb304","name":"Bed","bridge":"b3b3386b.b8737","lightid":"28","colornamer":true,"x":1210,"y":280,"wires":[["63072eb7.01202"]]},{"id":"aca4cdb9.aaefe","type":"hue-light","z":"5da715ec.7bb304","name":"Piano","bridge":"b3b3386b.b8737","lightid":"15","colornamer":true,"x":1210,"y":340,"wires":[["63072eb7.01202"]]},{"id":"8802f10f.a26ec","type":"delay","z":"5da715ec.7bb304","name":"600ms","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.6","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":170,"y":360,"wires":[["90e2d661.499f78","adea93a4.37b8c"]]},{"id":"27ca253.265455a","type":"hue-group","z":"5da715ec.7bb304","name":"Mei Lin’s","bridge":"b3b3386b.b8737","groupid":"2","colornamer":true,"x":1220,"y":580,"wires":[[]]},{"id":"79b92524.714214","type":"function","z":"5da715ec.7bb304","name":"toggle","func":"const scenes = [\n    'Reading',\n    'Night time',\n    'Wake'\n];\n\nvar count = context.get('count');\nif (count === undefined) {\n    count = 0;\n}\n\nvar scene = flow.get('scene');\nif (flow.get('anyOn') === true) {\n    for(var i=0; i<scenes.length; i++) {\n        if (scenes[i] === scene) {\n            if (++count >= scenes.length) {\n                count = 0;\n            }\n            break;\n        }\n    }\n}\n\nscene = scenes[count];\ncontext.set('count', count);\nflow.set('scene', scene);\nmsg.payload = scene;\n\nnode.log('[Mei Lin\\'s] set scene ' + scene);\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":460,"wires":[["95d1acc3.48d1c"]]},{"id":"704b1c52.87ab7c","type":"comment","z":"640fc94c.c7b598","name":"On","info":"","x":770,"y":100,"wires":[]},{"id":"9701911c.7f1538","type":"comment","z":"be8ae70b.25fb8","name":"On","info":"","x":770,"y":100,"wires":[]},{"id":"fe97bd03.a45348","type":"function","z":"5da715ec.7bb304","name":"toggle","func":"const scenes = [\n    'Area 51',\n    'Desert',\n    'Vintage',\n    'ML Savanna sunset',\n    'ML Tropical twilight',\n    'ML Arctic aurora',\n    'ML Spring blossom'\n];\n\nvar count = context.get('count');\nif (count === undefined) {\n    count = 0;\n}\n\nvar scene = flow.get('scene');\nif (flow.get('anyOn') === true) {\n    for(var i=0; i<scenes.length; i++) {\n        if (scenes[i] === scene) {\n            if (++count >= scenes.length) {\n                count = 0;\n            }\n            break;\n        }\n    }\n}\n\nscene = scenes[count];\ncontext.set('count', count);\nflow.set('scene', scene);\nmsg.payload = scene;\n\nnode.log('[Mei Lin\\'s] set scene ' + scene);\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":300,"wires":[["95d1acc3.48d1c"]]},{"id":"63072eb7.01202","type":"function","z":"5da715ec.7bb304","name":"lightsOn","func":"var lightsOn = flow.get('lightsOn') || {};\nlightsOn[msg.info.name] = msg.payload.on;\n\nvar anyOn = false;\nfor(var name in lightsOn) {\n    anyOn = anyOn || lightsOn[name];\n}\n\nflow.set('anyOn', anyOn);\nflow.set('lightsOn', lightsOn);\n","outputs":0,"noerr":0,"x":1420,"y":340,"wires":[]},{"id":"1e302216.824616","type":"function","z":"be8ae70b.25fb8","name":"lightsOn","func":"var lightsOn = flow.get('lightsOn') || {};\nlightsOn[msg.info.name] = msg.payload.on;\n\nvar anyOn = false;\nfor(var name in lightsOn) {\n    anyOn = anyOn || lightsOn[name];\n}\n\nflow.set('anyOn', anyOn);\nflow.set('lightsOn', lightsOn);\n","outputs":0,"noerr":0,"x":1420,"y":340,"wires":[]},{"id":"95ccd170.b22298","type":"function","z":"640fc94c.c7b598","name":"toggle","func":"const scenes = [\n    'FR Soft',\n    'Ants feeding',\n    'Ants night'\n];\n\nvar count = context.get('count');\nif (count === undefined) {\n    count = 0;\n}\n\nvar scene = flow.get('scene');\nif (flow.get('anyOn') === true) {\n    for(var i=0; i<scenes.length; i++) {\n        if (scenes[i] === scene) {\n            if (++count >= scenes.length) {\n                count = 0;\n            }\n            break;\n        }\n    }\n}\n\nscene = scenes[count];\ncontext.set('count', count);\nflow.set('scene', scene);\nmsg.payload = scene;\n\nnode.log('[Fred\\'s] set scene ' + scene);\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":460,"wires":[["8551cf3d.f5ac8"]]},{"id":"982b1b4e.cc2dc","type":"function","z":"640fc94c.c7b598","name":"toggle","func":"const scenes = [\n    'FR Bright'\n];\n\nvar count = context.get('count');\nif (count === undefined) {\n    count = 0;\n}\n\nvar scene = flow.get('scene');\nif (flow.get('anyOn') === true) {\n    for(var i=0; i<scenes.length; i++) {\n        if (scenes[i] === scene) {\n            if (++count >= scenes.length) {\n                count = 0;\n            }\n            break;\n        }\n    }\n}\n\nscene = scenes[count];\ncontext.set('count', count);\nflow.set('scene', scene);\nmsg.payload = scene;\n\nnode.log('[Fred\\'s] set scene ' + scene);\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":140,"wires":[["8551cf3d.f5ac8"]]},{"id":"95d1acc3.48d1c","type":"hue-scene","z":"5da715ec.7bb304","name":"Scene","bridge":"b3b3386b.b8737","sceneid":"","x":1210,"y":140,"wires":[[]]},{"id":"d4c55256.c282b8","type":"function","z":"5da715ec.7bb304","name":"toggle","func":"const scenes = [\n    'ML Bright'\n];\n\nvar count = context.get('count');\nif (count === undefined) {\n    count = 0;\n}\n\nvar scene = flow.get('scene');\nif (flow.get('anyOn') === true) {\n    for(var i=0; i<scenes.length; i++) {\n        if (scenes[i] === scene) {\n            if (++count >= scenes.length) {\n                count = 0;\n            }\n            break;\n        }\n    }\n}\n\nscene = scenes[count];\ncontext.set('count', count);\nflow.set('scene', scene);\nmsg.payload = scene;\n\nnode.log('[Mei Lin\\'s] set scene ' + scene);\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":140,"wires":[["95d1acc3.48d1c"]]},{"id":"dfcbd59.0d6dca8","type":"function","z":"be8ae70b.25fb8","name":"toggle","func":"const scenes = [\n    'GF Bright'\n];\n\nvar count = context.get('count');\nif (count === undefined) {\n    count = 0;\n}\n\nvar scene = flow.get('scene');\nif (flow.get('anyOn') === true) {\n    for(var i=0; i<scenes.length; i++) {\n        if (scenes[i] === scene) {\n            if (++count >= scenes.length) {\n                count = 0;\n            }\n            break;\n        }\n    }\n}\n\nscene = scenes[count];\ncontext.set('count', count);\nflow.set('scene', scene);\nmsg.payload = scene;\n\nnode.log('[Ground floor] set scene ' + scene);\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":300,"wires":[["50b5ea96.2db6ec"]]},{"id":"4fb138d8.03d1f","type":"function","z":"be8ae70b.25fb8","name":"toggle","func":"const scenes = [\n    'GF Soft'\n];\n\nvar count = context.get('count');\nif (count === undefined) {\n    count = 0;\n}\n\nvar scene = flow.get('scene');\nif (flow.get('anyOn') === true) {\n    for(var i=0; i<scenes.length; i++) {\n        if (scenes[i] === scene) {\n            if (++count >= scenes.length) {\n                count = 0;\n            }\n            break;\n        }\n    }\n}\n\nscene = scenes[count];\ncontext.set('count', count);\nflow.set('scene', scene);\nmsg.payload = scene;\n\nnode.log('[Ground floor] set scene ' + scene);\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":460,"wires":[["4582c690.0a8eb8","50b5ea96.2db6ec"]]},{"id":"5915dab2.4bacc4","type":"switch","z":"8d049f17.01cbb8","name":"status","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1250,"y":380,"wires":[["5533e1ae.af8d58"]],"outputLabels":["200"]},{"id":"5533e1ae.af8d58","type":"debug","z":"8d049f17.01cbb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1430,"y":380,"wires":[]},{"id":"9b1ce05b.ffde8","type":"change","z":"640fc94c.c7b598","name":"inc","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":260,"wires":[["6fc1b1dc.d78718"]]},{"id":"1162e216.7dad5e","type":"change","z":"640fc94c.c7b598","name":"dec","rules":[{"t":"set","p":"payload","pt":"msg","to":"-1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":420,"wires":[["6fc1b1dc.d78718"]]},{"id":"cbfce871.530ad8","type":"change","z":"5da715ec.7bb304","name":"inc","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":260,"wires":[["55646159.32259"]]},{"id":"c147cdcd.8f6a9","type":"change","z":"5da715ec.7bb304","name":"dec","rules":[{"t":"set","p":"payload","pt":"msg","to":"-1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":420,"wires":[["55646159.32259"]]},{"id":"4cb7010e.bce1c8","type":"change","z":"be8ae70b.25fb8","name":"inc","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":260,"wires":[["f2552b0a.1ee9f8"]]},{"id":"aa6b812d.d58e78","type":"change","z":"be8ae70b.25fb8","name":"dec","rules":[{"t":"set","p":"payload","pt":"msg","to":"-1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":420,"wires":[["f2552b0a.1ee9f8"]]},{"id":"69c0938c.5e23c4","type":"function","z":"5da715ec.7bb304","name":"log","func":"node.log('[Mei Lin] sleeping time!');\n\nreturn msg;","outputs":0,"noerr":0,"x":770,"y":860,"wires":[]},{"id":"a806503e.6a4548","type":"change","z":"2c160870.687d68","name":"gfAnyOn","rules":[{"t":"set","p":"gfAnyOn","pt":"flow","to":"payload.anyOn","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":720,"wires":[[]]},{"id":"f9671443.ed904","type":"change","z":"2c160870.687d68","name":"stairsAnyOn","rules":[{"t":"set","p":"stairsAnyOn","pt":"flow","to":"payload.anyOn","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1570,"y":720,"wires":[[]]},{"id":"5c4914eb.616d24","type":"function","z":"8d049f17.01cbb8","name":"e-mail","func":"msg.to = global.get('ADMIN_EMAIL');\nmsg.topic = '[Welcome] unexpected event';\nmsg.body = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":880,"wires":[["511c01f9.17669"]]},{"id":"edcd9893.a08358","type":"function","z":"8d049f17.01cbb8","name":"event","func":"var pushType = msg.payload.push_type;\nvar eventType = msg.payload.event_type;\n\nif (pushType === 'NACamera-movement' &&\n        eventType === 'movement') {\n    node.log('[Welcome] motion');\n    return;\n}\nif (pushType === 'NACamera-person' &&\n        eventType === 'person') {\n    node.log('[Welcome] person');\n    return;\n}\nif (eventType === undefined) {\n    if (pushType === 'topology_changed') {\n        node.log('[Welcome] topology changed');\n        return;\n    }\n    if (pushType === 'webhook_activation') {\n        node.log('[Welcome] webhook activation');\n        return;\n    }\n    if (pushType === 'webhook_check') {\n        node.log('[Welcome] webhook check');\n        return;\n    }\n}\n\nvar payload = JSON.stringify(msg.payload, null, '\\t');\n\nmsg.payload = payload;\n\nnode.log('[Welcome] found something!');\nnode.log(payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":880,"wires":[["5c4914eb.616d24"]]},{"id":"8606b46c.62ab9","type":"function","z":"8d049f17.01cbb8","name":"log","func":"node.log(JSON.stringify(msg, null, '\\t'));\n","outputs":0,"noerr":0,"x":1010,"y":1000,"wires":[]},{"id":"1ba14796.e7613","type":"switch","z":"8d049f17.01cbb8","name":"status","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1250,"y":280,"wires":[["6cabb52.8b832cc"],["c64a5314.d7e9b8"]],"outputLabels":["200",null]},{"id":"4e934da8.ce6dd4","type":"ui_gauge","z":"5e854383.546e74","name":"temp 1st","group":"c4ec91e1.1ae6c","order":2,"width":6,"height":5,"gtype":"gage","title":"","label":"","format":"{{value | number:1}}°C","min":"10","max":"30","colors":["#98fdfd","#fdb306","#fb0606"],"seg1":"19","seg2":"23","x":800,"y":660,"wires":[]},{"id":"16f2749a.60c8e3","type":"change","z":"5e854383.546e74","name":"temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.celsius","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":640,"wires":[["d5f9e553.e6ad98","4e934da8.ce6dd4"]]},{"id":"ce2f8dd.a602ef","type":"ui_template","z":"2c160870.687d68","group":"1c7b3864.a284c8","name":"","order":1,"width":4,"height":3,"format":"<div id=\"background\" style=\"\n        background: url('/home_temp.png');\n        height: 93px;\n        background-color: {{msg.payload.color}};\">\n    <div id=\"value\" style=\"\n            color: black;\n            text-align: center;\n            position: relative;\n            top: 57px;\n            font-weight: bold;\n            font-size: 13px;\">\n        {{msg.payload.celsius}}°C\n    </div>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1380,"y":240,"wires":[[]]},{"id":"9f9678e3.706568","type":"function","z":"2c160870.687d68","name":"temp","func":"var celsius = msg.payload.celsius.toFixed(1);\n\nvar color = '#67c1c9';\nif (celsius > 19) {\n    color = '#f59e18';\n} else if (celsius > 23) {\n    color = '#fb0606';\n}\n\nmsg.payload.celsius = celsius;\nmsg.payload.color = color;\n\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":240,"wires":[["ce2f8dd.a602ef"]]},{"id":"ea03d4df.d3af8","type":"hue-brightness","z":"ecd12ea2.51375","name":"first","bridge":"b3b3386b.b8737","sensorid":"44","x":130,"y":200,"wires":[["8a90b022.6526f","6fe1948b.96cd4c"]]},{"id":"1f052f3b.c14191","type":"hue-temperature","z":"ecd12ea2.51375","name":"first","bridge":"b3b3386b.b8737","sensorid":"45","x":130,"y":320,"wires":[["8a90b022.6526f","8f385dd4.a3664"]]},{"id":"fa7f91f0.d58d4","type":"hue-motion","z":"ecd12ea2.51375","name":"first","bridge":"b3b3386b.b8737","sensorid":"43","x":130,"y":260,"wires":[["8a90b022.6526f","83d3c57.f391a38"]]},{"id":"8a90b022.6526f","type":"function","z":"ecd12ea2.51375","name":"event","func":"\nvar celsius = msg.payload.celsius;\nif (celsius !== undefined) {\n    node.log('[Hue] temperature (' + celsius + '°C)');\n    return;\n}\n\nvar motion = msg.payload.motion;\nif (motion !== undefined) {\n    node.log('[Hue] motion');\n    return;\n}\n\nvar lux = msg.payload.lux;\nif (lux !== undefined) {\n    node.log('[Hue] brightness (' + lux + ' lux)');\n    return;\n}","outputs":0,"noerr":0,"x":410,"y":100,"wires":[]},{"id":"8f385dd4.a3664","type":"link out","z":"ecd12ea2.51375","name":"temperature","links":["177fde73.7534ea","2918d52c.5cc222"],"x":375,"y":320,"wires":[]},{"id":"83d3c57.f391a38","type":"link out","z":"ecd12ea2.51375","name":"motion","links":["8de95503.7b10d"],"x":375,"y":260,"wires":[]},{"id":"6fe1948b.96cd4c","type":"link out","z":"ecd12ea2.51375","name":"brightness","links":[],"x":375,"y":200,"wires":[]},{"id":"177fde73.7534ea","type":"link in","z":"5e854383.546e74","name":"temp","links":["8f385dd4.a3664"],"x":215,"y":640,"wires":[["16f2749a.60c8e3"]]},{"id":"ea0b0c5c.da9408","type":"comment","z":"5e854383.546e74","name":"Hue temp","info":"","x":140,"y":640,"wires":[]},{"id":"cbe9e8fc.f1fc18","type":"git-nodes","z":"2c160870.687d68","label":"GIT Node-RED","branch":"master","sourcebranch":"master","gitadd":"settings.js,package.json,.config.json,lib","gitrmcache":"nodes/*/x,nodes/*/y,nodes/*/z","debugging":false,"git":"9da27029.9a9b2","x":1460,"y":80,"wires":[]},{"id":"2918d52c.5cc222","type":"link in","z":"2c160870.687d68","name":"temp","links":["8f385dd4.a3664"],"x":1015,"y":240,"wires":[["9f9678e3.706568"]]},{"id":"8d15c960.930508","type":"comment","z":"2c160870.687d68","name":"Hue temp","info":"","x":940,"y":240,"wires":[]},{"id":"1c8d8a0.a7e4a76","type":"comment","z":"35f2ed46.dc3b2a","name":"Hue motion","info":"","x":150,"y":100,"wires":[]},{"id":"8de95503.7b10d","type":"link in","z":"35f2ed46.dc3b2a","name":"hue motion","links":["83d3c57.f391a38"],"x":235,"y":100,"wires":[["a98ca4fb.083188"]]},{"id":"9dc9511b.7fa8b8","type":"inject","z":"35f2ed46.dc3b2a","name":"once","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":460,"wires":[["d7ff0db6.8508a8"]]},{"id":"593fc75e.e0e65","type":"hue-group","z":"be8ae70b.25fb8","name":"G/f","bridge":"b3b3386b.b8737","groupid":"4","colornamer":true,"x":1210,"y":580,"wires":[["55f42316.1e2b1c"]]},{"id":"55f42316.1e2b1c","type":"change","z":"be8ae70b.25fb8","name":"anyOn","rules":[{"t":"set","p":"anyOn","pt":"flow","to":"payload.anyOn","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":580,"wires":[[]]},{"id":"9401f8ce.2a2f5","type":"inject","z":"ecd12ea2.51375","name":"brightness","topic":"","payload":"{\"lux\":11,\"lightLevel\":888,\"dark\":true,\"daylight\":false,\"updated\":\"2019-11-05T13:56:15+00:00\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":440,"wires":[["6fe1948b.96cd4c"]]},{"id":"6c802b33.b969b4","type":"inject","z":"ecd12ea2.51375","name":"temperature","topic":"","payload":"{\"celsius\":22.22,\"fahrenheit\":66.66,\"updated\":\"2019-11-05T13:57:05+00:00\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":520,"wires":[["8f385dd4.a3664"]]},{"id":"ff87d1a9.31878","type":"inject","z":"ecd12ea2.51375","name":"motion","topic":"","payload":"{\"active\":true,\"motion\":true,\"updated\":\"2019-11-05T13:51:15+00:00\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":480,"wires":[["83d3c57.f391a38"]]}]